@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeo-caps-bold;
}

.carousel .carousel-item {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

a:hover {
  text-decoration: none;
  color: black;
}

a {
  color: black;
}

.banner-img-box {
  position: relative;
}

.banner-img-box .buy-btn-a {
  position: absolute;
  text-decoration: none;
  bottom: 30px;
  right: 30px;
}

.banner-img-box .buy-btn-p {
  font-family: markgeo-regular;
  background: #F72163;
  display: inline;
  color: white;
  padding: 19px 60px;
  font-size: 20px;
}

.current-sale {
  font-size: 30px;
  font-family: markgeo-bold;
}

.current-sale-text {
  font-size: 20px;
  font-family: markgeo-bold;
}

.img {
  background-image: url("https://promo.extra.ge/ads/image/colors-03.svg");
  background-repeat: no-repeat;
  width: 100% !important;
}

.independent-carousel-component {
  width: 100%;
  position: relative;
}

.independent-carousel-component .sale-carousel-head {
  font-family: markgeo-caps-bold;
  text-align: center;
  color: white;
  position: absolute;
  font-size: 20px;
  top: 16%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.independent-carousel-component .position-vendor {
  background: white;
  position: absolute;
  border: 0.5px solid #80808045;
  top: 38%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.independent-carousel-component .position-vendor .vendor-img {
  padding: 5px 40px;
  height: 75px;
}

.independent-carousel-component .save-money {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 63%;
  font-size: 20px;
  text-align: center;
  font-family: markgeo-bold;
}

.independent-carousel-component .know-more {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 0%;
  font-size: 20px;
  position: absolute;
}

.carousel-control-prev-icon {
  background-image: url("../image/marcxena.svg") !important;
  height: 35px;
  width: 50px;
}

.carousel-control-next-icon {
  background-image: url("..//image/marjvena.svg") !important;
  height: 35px;
  width: 50px;
}

.carousel-control-next {
  right: -100px;
}

.carousel-control-prev {
  left: -100px;
}

@media only screen and (max-width: 1024px) {
  .carousel-control-next {
    right: -70px;
  }
  .carousel-control-prev {
    left: -70px;
  }
  .mrgn-top {
    margin-top: 25px !important;
  }
}

@media only screen and (max-width: 992px) {
  .mrgn-top {
    margin-top: 25px !important;
  }
}

@media only screen and (max-width: 768px) {
  .banner-icon {
    width: 160px;
  }
  .buy-btn-a {
    bottom: 15px !important;
    right: 15px !important;
  }
}

@media only screen and (max-width: 575px) {
  .vendor-img {
    padding: 5px 35px !important;
    height: 50px !important;
  }
  .independent-carousel-component .sale-carousel-head {
    font-size: 13px;
  }
  .independent-carousel-component .save-money {
    font-size: 13px;
  }
  .banner-icon {
    width: 120px;
  }
  .vendor-img {
    height: 42px;
  }
  .know-more-p {
    height: 39px;
  }
  .independent-carousel-component .position-vendor {
    height: 53px;
  }
  .carousel-control-next {
    right: -10px;
  }
  .carousel-control-prev {
    left: -10px;
  }
  .carousel-control-prev-icon {
    height: 20px;
  }
  .carousel-control-next-icon {
    height: 20px;
  }
}

@media only screen and (max-width: 414px) {
  .banner-icon {
    width: 90px;
  }
}

@media only screen and (max-width: 329px) {
  .know-more-p {
    height: 30px;
  }
  .independent-carousel-component .save-money {
    font-size: 11px;
  }
  .independent-carousel-component .sale-carousel-head {
    font-size: 13px;
  }
  .independent-carousel-component .position-vendor .vendor-img {
    padding: 5px 25px;
  }
}
/*# sourceMappingURL=styles.css.map */