@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

a:hover {
  text-decoration: none;
  color: black;
}

a {
  color: black;
}

.apple-sale-box {
  text-align: center;
}

.apple-sale-box .apple-sale-title {
  font-size: 58px;
  font-family: markgeo-semibold;
}

.advertise-row-phone {
  height: 584px;
}

.advertise-row-watch {
  height: 135px;
}

.advertise-row-laptop {
  height: 215px;
}

.advertise-row-ipad {
  height: 194px;
}

.advertise-row-airpod {
  height: 166px;
}

.second-sale-box {
  text-align: center;
  margin-bottom: 200px;
}

.second-sale-box .second-sale-title {
  font-size: 40px;
  font-family: markgeo-semibold;
}

.carousel-control-prev-icon {
  background-image: url(../image/marcxena.svg);
}

.carousel-control-next-icon {
  background-image: url(../image/marjvena.svg);
}

.sale-content-main-logo {
  height: 508px;
}

.use-sale-content {
  margin-bottom: 60px;
}

.use-sale-content .use-sale-box {
  text-align: center;
  margin-bottom: 50px;
}

.use-sale-content .use-sale-box .use-sale-title {
  font-size: 52px;
  font-family: markgeo-semibold;
}

.footer {
  padding: 32px;
  background: #161E3F;
}

.footer .footer-p {
  color: white;
  font-size: 14px;
  font-family: markgeo-regular;
}

.footer .instagram-icon {
  margin: 0 17px;
}

.carousel-first-section {
  text-align: center;
}

.carousel-first-section .carosel-sale-nt {
  text-decoration: line-through;
  font-family: markgeo-regular;
  font-size: 32px;
  color: #161E3F;
  margin-top: 90px;
  margin-bottom: 10px;
}

.carousel-first-section .carousel-sale-price {
  font-family: markgeo-regular;
  font-size: 45px;
  color: #161E3F;
  margin-bottom: 21px;
}

.carousel-first-section .carousel-buy-btn {
  background: #000000 0% 0% no-repeat padding-box;
  padding: 35px 23px;
}

.carousel-first-section .carousel-buy-btn .carousel-but-btn-p {
  color: white;
  font-size: 38px;
  font-family: markgeo-regular;
}

.carousel-first-section .sale-content-logo {
  margin-top: 73px;
  width: 275px;
}

.use-sale-components {
  margin-top: 24px;
  font-size: 20px;
  font-family: markgeo-regular;
  font-weight: bold;
}

.bts-carousel-dots {
  height: 26px !important;
  width: 26px !important;
  background: #000000 0% 0% no-repeat padding-box !important;
  border-top: 30px !important;
}

.carousel-indicators {
  bottom: -30px;
  border-top: 30px !important;
}

.carousel-indicators li {
  border-radius: 30px;
  border-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
  .sale-content-main-logo {
    height: 400px !important;
  }
}

@media only screen and (max-width: 768px) {
  .apple-sale-title {
    font-size: 20px !important;
  }
  .advertise-row-phone {
    height: 192px;
  }
  .advertise-row-watch {
    height: 43px;
  }
  .advertise-row-laptop {
    height: 70px;
  }
  .advertise-row-ipad {
    height: 64px;
  }
  .advertise-row-airpod {
    height: 54px;
  }
  .second-sale-title {
    font-size: 20px !important;
  }
  .use-sale-title {
    font-size: 20px !important;
  }
  .footer-p {
    font-size: 8px !important;
  }
  .facebook-icon {
    height: 13px;
  }
  .instagram-icon {
    margin: 0 9px !important;
    height: 13px;
  }
  .linkedin-icon {
    height: 13px;
  }
  .second-sale-title {
    font-size: 14px !important;
  }
  .use-sale-components {
    font-size: 12px;
  }
  .sale-indepentent-cont {
    height: 77px;
  }
  .use-sale-components {
    margin-top: 11px;
  }
  .use-sale-content .use-sale-box {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .sale-items-third {
    margin-top: 25px;
  }
  .sale-items-fourth {
    margin-top: 25px;
  }
  .carousel-sale-nt {
    margin-top: 28px;
  }
  .sale-content-main-logo {
    height: 223px !important;
  }
  .carousel-first-section .carosel-sale-nt {
    font-size: 14px;
    margin-top: 28px;
  }
  .carousel-first-section .carousel-sale-price {
    font-size: 16px;
    font-weight: bold;
  }
  .carousel-first-section .sale-content-logo {
    width: 110px;
    margin-top: 0;
  }
  .carousel-first-section .carousel-buy-btn .carousel-but-btn-p {
    font-size: 9px;
  }
  .carousel-first-section .carousel-buy-btn {
    padding: 9px 31px;
  }
  .carousel-for-vendor-item {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */