@font-face{
    src: url(../fonts/MarkGEO-Bold.ttf);
    font-family: markgeo-bold;

}
@font-face{
    src: url(../fonts/MarkGEO-Regular.ttf);
    font-family: markgeo-regular;

}
@font-face{
    src: url(../fonts/MarkGEO-SemiBold.ttf);
    font-family: markgeo-semibold;

}
a:hover{
    text-decoration: none;
    color: black;
}
a{
    color:black;
}

.hight-core-title{
    font-family: markgeo-semibold;
    // display: flex;
    // height: 100%;
}
.title-section-content{
    text-align: center;
    font-size: 28px;
    margin: 25px 0;
    font-family: markgeo-bold;
}

.hight-score-container{
    display: flex;
    flex-direction: column;
}
.card-inside-title{
    display: flex;
    height: 100%;         
}



.buy-now-btn-own{
    background-color: rgba(122,29,255,.1);
    border-color:rgba(122,29,255,.1);
    border: none;
    border-radius: 14px;
    font-size:18px;  
    font-family: markgeo-semibold;
    padding: 10px;
    font-size:14px;
    display: inline-flex;
    align-items: baseline; 
    display: inline-flex;
     align-items: center;

}

.contact-us-btn{
    background-color: rgba(122,29,255,.1);
    border-color:rgba(122,29,255,.1);
    border: none;
    border-radius: 14px;
    font-size:18px;  
    font-family: markgeo-semibold;
    padding: 10px;
    font-size:14px;
    display: inline-flex;
    align-items: baseline; 
    display: inline-flex;
     align-items: center;
}
.card-text-description{
    font-size:24px;
}
.card-body-own{
    padding-left:0;
}

.easy-content-row-second{
    display: flex;
    margin: 40px 0;
}

.easy-choose-text{
    font-family: markgeo-semibold;
    font-size:28px;
}
.high-score-title{
    font-family: markgeo-semibold;
    font-size: 17px;
    
    // display: flex;
    // height: 100%;
}
.card-styles{
    border: none;
    background: #F7F7F7;
    .high-score-title{
        font-family: markgeo-semibold;
        font-size: 17px;
        
        // display: flex;
        // height: 100%;
    }
}
.more-easy-description{
    font-size:16px;
    font-family: markgeo-semibold;
    height: 100%;
    
}
.hight-score-description{
    font-family: markgeo-semibold;
    font-size: 18px;
}
.btn-arrow{
    width:14px;
    margin-right: 5px;
}


.buy-now-p-btn{
    color: #7a1dff;
    font-family: markgeo-semibold;
    // padding: 5px 10px;
    font: normal normal bold 14px/18px Helvetica;
    margin-left: 20px;
}
///////////////////////////////hover/focus/active///////////////////////////////
.buy-now-btn-own:hover{
    background-color: rgba(122,29,255,.1);
    border-color:rgba(122,29,255,.1);
    border: none;

}
.buy-now-btn-own:focus{
    background-color: rgba(122,29,255,.1)!important;
    border-color:rgba(122,29,255,.1)!important;
    box-shadow: rgba(122,29,255,.1)!important;
    border: none!important;

}
// .buy-now-btn-own:active{
//     background-color: rgba(122,29,255,.1)!important;
//     border-color:rgba(122,29,255,.1)!important;
//     box-shadow: rgba(122,29,255,.1)!important;
//     border: none!important;

// }
.btn-primary.focus, .btn-primary:focus {
    
    box-shadow: none!important;
}

///////////////////////////////hover/focus/active END///////////////////////////////





#slick .slider_content .slider_items img{
    width: 500px;
    margin: 0 auto;
    display: block;

}
#slick .arrow_prev{
    position: absolute;
    top: 50%;
    left: 20%;
}
.multiple-items{
    width: auto!important;
    margin: 10px;
}
.slick-track{
    display: flex!important;
}
.slick-slide {
    margin: 10px;
}

  @media only screen and (max-width: 480px) {

    .header{
        padding:0 20px;
    }

    .choose-easy-text{
        font-size:16px!important;
    }

    .text{
        justify-content: center;
    }
    .btn-buy-now{
        display: none;
    }

    .high-score-title{
        font-size: 16px;
    }
    .buy-now-btn-own {
        font-size: 16px;
    }
    .btn-arrow {
        width: 10px;
    }   


    .baner-title{
        font-size: 18px;
    }
  }