@font-face{
    src: url(../fonts/MarkGEO-Bold.ttf);
    font-family: markgeo-bold;

}
@font-face{
    src: url(../fonts/MarkGEO-Regular.ttf);
    font-family: markgeo-regular;

}
@font-face{
    src: url(../fonts/MarkGEO-SemiBold.ttf);
    font-family: markgeo-semibold;

}
a:hover{
    text-decoration: none;
    color: black;
}
a{
    color:black;
}

.apple-sale-box{
    text-align: center;
    .apple-sale-title{
        font-size:58px;
        font-family: markgeo-semibold;
    }
}


.advertise-row-phone{
    height: 584px;
}
.advertise-row-watch{
    height: 135px;
}
.advertise-row-laptop{
    height: 215px;
}
.advertise-row-ipad{
    height: 194px;
}
.advertise-row-airpod{
    height: 166px;
}


.second-sale-box{
    text-align: center;
    .second-sale-title{
        font-size:40px;
        font-family: markgeo-semibold;
    }
}

.use-sale-box{
    text-align: center;
    .use-sale-title{
        font-size:52px;
        font-family: markgeo-semibold;
    }
}

.footer{
    padding: 32px;
    background: #161E3F;
    .footer-p{
        color: white;
        font-size: 14px;
        font-family: markgeo-regular;
    }
    .instagram-icon{
        margin: 0 17px;
    }
}

.carousel-first-section{
    text-align: center;
    .carosel-sale-nt{
        text-decoration: line-through;
        font-family: markgeo-regular;
        font-size: 32px;
        color: #161E3F;
    }
    .carousel-sale-price{
        font-family: markgeo-regular;
        font-size: 45px;
        color: #161E3F;
    }
    .carousel-buy-btn{
        background: #000000 0% 0% no-repeat padding-box;
        padding: 35px 23px;
        .carousel-but-btn-p{
            color: white;
            font-size: 38px;
            font-family: markgeo-regular;
        }
    }
}

.bts-carousel-dots{
    height: 6px!important;
    width:6px!important;
    background: #000000 0% 0% no-repeat padding-box!important;
    border-top:30px!important;
}
.carousel-indicators{
    bottom: -30px;
    border-top:30px!important;
}


.carousel-indicators li {
    border-radius:30px;
    border-bottom: 30px;
}



@media only screen and (max-width: 768px) {
    .apple-sale-title{
        font-size:20px!important;
    }
    .advertise-row-phone{
        height: 192px;
    }
    .advertise-row-watch{
        height: 43px;
    }
    .advertise-row-laptop{
        height: 70px;
    }
    .advertise-row-ipad{
        height: 64px;
    }
    .advertise-row-airpod{
        height: 54px;
    }
    .second-sale-title{
        font-size:20px!important;
    }
    .use-sale-title{
         font-size: 20px!important;
    }
    .footer-p{
        font-size: 8px!important;
    }
    .facebook-icon{
        height:13px;
    }
    .instagram-icon{
        margin: 0 9px!important;
        height: 13px;
    }
    .linkedin-icon{
        height:13px;
    }
    .second-sale-title{
        font-size: 14px!important;
    }
}