@font-face{
    src: url(../fonts/MarkGEO-Bold.ttf);
    font-family: markgeo-bold;

}
@font-face{
    src: url(../fonts/MarkGEO-Regular.ttf);
    font-family: markgeo-regular;

}
@font-face{
    src: url(../fonts/MarkGEO-SemiBold.ttf);
    font-family: markgeo-semibold;

}
a:hover{
    text-decoration: none;
    color: black;
}
a{
    color:black;
}

.hight-core-title{
    font-family: markgeo-semibold;
    // display: flex;
    // height: 100%;
}
.title-section-content{
    text-align: center;
    font-size: 28px;
    margin: 25px 0;
    font-family: markgeo-bold;
}

.line-for-sections{
    display: block;
    width: 100px; 
    margin: 30px auto; 

}

.buy-now-btn-own{
    background:#F72163;
    border-color:#F72163;
    font-size:18px;  
    font-family: markgeo-semibold;
    border-radius: 1px;
}

.card-text-description{
    font-size:24px;
}
.card-body-own{
    padding-left:0;
}

.easy-content-row-second{
    display: flex;
    margin: 40px 0;
}

.easy-choose-text{
    font-family: markgeo-semibold;
    font-size:28px;
}
.card-styles{
    border: none;
    .high-score-title{
        font-family: markgeo-semibold;
        font-size:22px;
        margin: 15px 0;
        // display: flex;
        // height: 100%;
    }
}
.more-easy-description{
    font-size:16px;
    font-family: markgeo-semibold;
    height: 100%;
    
}
.hight-score-description{
    font-family: markgeo-semibold;
    font-size: 18px;
}
.btn-arrow{
    width:14px;
}



///////////////////////////////hover/focus/active///////////////////////////////
.buy-now-btn-own:hover{
    background:#F72163;
    border-color:#F72163;

}
.buy-now-btn-own:focus{
    border-color:#F72163!important;
    background:#F72163!important;

}
.buy-now-btn-own:active{
    border-color:#F72163!important;
    background:#F72163!important;

}
///////////////////////////////hover/focus/active END///////////////////////////////

  @media only screen and (max-width: 480px) {
    .header{
        padding:0 20px;
    }

    .choose-easy-text{
        font-size:16px!important;
    }

    .line-for-sections{
        display: none;
    }

    .high-score-title{
        font-size: 16px;
    }
    .buy-now-btn-own {
        font-size: 16px;
    }
    .btn-arrow {
        width: 10px;
    }   


    .baner-title{
        font-size: 18px;
    }
  }