@font-face {
    src: url(../fonts/MarkGEO-Bold.ttf);
    font-family: markgeo-bold;
}

@font-face {
    src: url(../fonts/MarkGEO-Regular.ttf);
    font-family: markgeo-regular;
}

@font-face {
    src: url(../fonts/MarkGEO-SemiBold.ttf);
    font-family: markgeo-semibold;
}
@font-face{
    src: url(../fonts/MarkGEOCAPS-Bold.ttf);
    font-family: markgeocaps-bold;

}
@font-face{
    src: url(../fonts/MarkGEOCAPS-Regular.ttf);
    font-family: markgeocaps-regular;


}

html{
    scroll-behavior: smooth;
    
}

.carousel .carousel-item {
    transition-duration: 0.3s;
   
  
    
}
.someClass{
    color:red;
}
a:hover {
    text-decoration: none;
    color: black;
}

a {
    color: black;
}

.first-title{
    font-size:62px;
    margin-top: 90px;
    font-family: markgeocaps-bold;
}
.second-title{
    font-size: 62px;
    color: #FD5601;
    font-family: markgeocaps-bold;
    margin-top: 90px;
}
.title-description{
    font-size: 36px;
    font-family: markgeocaps-bold;
    text-align: center;
    margin-top: 30px;
}
.button-a{
    text-decoration: none;
    background: #F72163;
    display: inline-block;
    color: white;
    padding: 35px 23px;
    font-size: 25px;
    font-family: markgeo-semibold;
    margin-top: 50px;
    margin-bottom: 90px;
    
    .button-p{
        color: white;
        font-size: 33px;
        font-family: markgeo-regular;

   
    }
}

.img-p-text{
    font-size: 32px;
    font-family: markgeo-bold;
}
.footer{
    padding: 20px 50px;
    background: #161E3F;
}
.footer-p{
    color: white;
}