@charset "UTF-8";
@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeocapscaps-Semibold;
}

@font-face {
  src: url(../fonts/MARKGEOCAPS-SEMIBOLD.TTF);
  font-family: markgeocapscaps-Semiboldcaps;
}

@font-face {
  src: url(../fonts/HELVETICANEUELTGEOW82-75BD.TTF);
  font-family: helve-bold;
}

@font-face {
  src: url(../fonts/HELVETICANEUELTGEOW82-55RM.TTF);
  font-family: helve-bold-rm;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9fb;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

.header {
  height: 80px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header__box__nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__box__nav-box__header-nav {
  margin: 0 10px;
  font-size: 14px;
  font-family: markgeocapscaps-Semiboldcaps;
}

.header__box__extra-logo {
  height: 40px;
}

.header-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #7a1dff;
  height: 50px;
}

.header-alert__p {
  color: white;
  margin-left: 5px;
  font-size: 12px;
  font-family: helve-bold-rm;
}

.banner-col-1 {
  height: 377px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(..//image//ban.svg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
}

.banner__h1 {
  font-size: 32px;
  color: white;
  font-family: markgeo-semibold;
}

.banner__p__text {
  font-size: 20px;
  color: white;
  font-family: markgeo-semibold;
  line-height: 1.3;
  max-width: 876px;
}

.banner__btn {
  background-color: white;
  width: 240px;
  height: 50px;
  border-radius: 12px;
}

.banner__btn__a {
  color: black;
  font-family: markgeo-semibold;
}

.banner__img {
  max-height: 377px;
}

button:focus {
  outline: none;
}

.banner-container-head {
  max-width: 1650px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.banner-container {
  max-width: 1650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

.footer__col-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__col-one__p-box__txt {
  font-size: 12px;
  color: #918f94;
  font-weight: 300;
  font-family: helve-bold-rm;
  line-height: 1.2;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__col-one__p-box__txt:hover {
  color: white !important;
}

.footer__col-one__p-box__txt-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.footer__col-one__p-box__txt-parent__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #55525a;
  border-radius: 10px;
  height: 36px;
  width: 36px;
  margin-right: 10px;
}

.footer__col-one__p-box__txt-parent__box:hover {
  background-color: #3655ff;
}

.footer__col-one__p__txt {
  color: #918f94;
  line-height: 1.2;
}

.footer__col-one__title {
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.footer__col-one__title__txt {
  color: #ffffff;
  font-size: 14px;
  font-family: helve-bold;
  font-weight: 400;
}

.footer__col-one__title__logo {
  height: 35px;
}

.extra-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 57px;
}

.bog-icon {
  margin-left: 10px;
}

.footer-container {
  max-width: 1650px;
}

.exchange {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1237px;
}

.exchange__h1 {
  font-size: 32px;
  font-family: markgeo-semibold;
}

.exchange__p {
  font-size: 24px;
  font-family: markgeo-semibold;
  margin-top: 14px;
  margin-bottom: 25px;
}

.exchange-content {
  margin-top: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.exchange-content__first {
  background-image: url(..//image/1111.png);
  background-repeat: no-repeat;
  border-radius: 12px 0 0 12px;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exchange-content__first__h1 {
  font-size: 32px;
  color: black;
  font-family: markgeo-semibold;
}

.exchange-content__first__p {
  font-family: markgeo-semibold;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1.3;
}

.exchange-content__h1 {
  font-size: 32px;
  font-family: markgeo-semibold;
  text-align: center;
  margin-bottom: 30px;
}

.lab-line {
  width: 100px;
  height: 3px;
  background-color: #7a1dff;
}

.lab-line-sec {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-exchange:hover {
  background-color: #7a1dff;
}

.btn-exchange:hover > a {
  color: white;
}

.banner-btn-one:hover {
  background-color: #7a1dff;
}

.banner-btn-one:hover > a {
  color: white;
}

.banner-btn-one {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
}

.btn-exchange {
  background-color: rgba(122, 29, 255, 0.1);
  border-color: #e4dbf2 !important;
  outline: none;
  border: none;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-exchange__a {
  color: #9852fc;
}

.exchange-img {
  padding: 0;
}

.middle {
  margin-top: 90px;
  margin-bottom: 90px;
}

.component-mob {
  display: none;
}

.btn-mob {
  display: none;
}

.soc-media-btn {
  position: fixed;
  z-index: 99;
  right: 20px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-ban {
  width: 1650px;
}

.tick {
  position: absolute;
  left: -15px;
  margin-top: -25px;
}

.banner-slider-box {
  background-color: #f5f5f5;
  margin-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 558px;
}

.swiper-container-banner-abs {
  position: absolute;
  top: -80px;
  height: 700px;
}

.swiper-container-banner-abs-box {
  height: 700px;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
}

.rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.my-modal-content {
  background-image: url(../image/5000.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 23px;
}

.swiper-slide {
  background-color: unset;
}

.modal-dialog {
  width: 1200px !important;
}

.see-all-product {
  width: 617px;
  height: 96px;
  background: #7a1dff;
  border-radius: 15px;
  font-family: markgeocapscaps-Semiboldcaps;
}

.pop-up-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 15px;
  position: relative;
  height: 212px;
  width: 174px;
  cursor: pointer;
}

.pop-up-img {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.pop-up-img:hover {
  position: absolute;
  -webkit-transform: translate(0px, -20px);
          transform: translate(0px, -20px);
}

.pop-up-detail > p {
  bottom: 17px;
  font-size: 16px;
  position: absolute;
  font-family: markgeocapscaps-Semibold;
  text-align: center;
}

.my-modal-header {
  border-bottom: unset;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close-x {
  font-size: 47px;
  color: white;
  padding-right: 10px;
}

.my-modal-title {
  font-family: markgeocapscaps-Semiboldcaps;
  position: absolute;
  color: white;
  font-size: 32px;
  margin-top: 7px;
}

.close-close {
  padding: 2rem 1rem !important;
}

.my-modal-footer {
  border-top: unset;
  margin-top: 64px;
  margin-bottom: 59px;
}

.my-modal-body {
  margin-top: 34px;
}

.modal-content {
  background-color: unset;
}

.pop-extra {
  height: 80px !important;
  margin-top: 40px;
}

.btn-exchange__a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-exchange {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-exchange__a:after {
  content: 'შემოთავაზება';
}

.btn-exchange:hover > .btn-exchange__a:after {
  content: 'დაათვალიერე';
}

@media only screen and (max-width: 1440px) {
  .swiper-slide {
    width: 96% !important;
  }
  .my-modal-body {
    margin-top: unset;
  }
  .my-modal-title {
    font-size: 24px;
  }
  .close-x {
    font-size: 35px;
  }
  .see-all-product {
    width: 425px;
    height: 76px;
  }
  .pop-up-img {
    width: auto;
    height: 124px;
  }
  .pop-up-detail {
    height: 180px;
    width: 160px;
  }
  .modal-dialog {
    width: 1000px !important;
  }
  .my-modal-footer {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .swiper-img {
    width: 100%;
  }
  .banner-slider-box {
    height: 558px;
  }
  .swiper-container-banner-abs {
    position: absolute;
    top: -80px;
    height: 700px;
  }
  .swiper-container-banner-abs-box {
    height: 700px;
  }
  .sec-exchange-p {
    font-size: 17px !important;
  }
  .row-ban {
    width: 1140px;
  }
  .footer-container {
    max-width: 1140px;
  }
  .banner-col-1 {
    height: 300px;
  }
  .banner-container-head {
    max-width: 1250px;
  }
  .banner-container {
    max-width: 1140px;
  }
  .exchange-content__first__h1,
  .exchange-content__h1 {
    font-size: 26px;
  }
  .banner {
    height: 400px;
  }
  .banner__p__text {
    font-size: 14px;
  }
  .col-8 {
    height: 300px !important;
  }
  .exchange__h1 {
    font-size: 26px;
  }
  .exchange-content__first__p,
  .exchange__p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .header {
    height: 80px;
  }
  .header__box {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .header__box__extra-logo {
    height: 26px;
  }
  .header__box__nav-box {
    display: none !important;
  }
}

.responsive-footer {
  display: none;
}

.btn:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  text-decoration: none;
}

.btn-link:hover {
  color: white;
  text-decoration: none;
}

.cla {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
}

@media only screen and (max-width: 992px) {
  .footer__col-one__p-box__txt {
    font-size: 12px;
  }
  .footer__col-one__title {
    margin-bottom: unset;
  }
  .my-card-header {
    padding: 0.75rem 0.25rem !important;
    border-bottom: unset;
    border-top: 1px solid white;
  }
  .responsive-footer {
    display: block;
    padding-top: 30px;
  }
  .resposive-footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .connect-us-txt-mobile {
    display: none !important;
  }
  .footer__col-one {
    display: none;
  }
  .my-card {
    background-color: #2b2731;
    border-radius: 0;
  }
  .my-card-body {
    font-size: 12px;
    color: #918f94;
    font-weight: 300;
    font-family: markgeocapscaps-medium;
    padding-top: 0;
  }
  .plus-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bog-icon {
    display: none;
  }
  .powered {
    display: none;
  }
  .extra-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-title {
    margin: 5px 0 10px 0;
  }
  .footer-container {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .exchange-content__h1 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .pop-extra {
    height: 58px !important;
    margin-top: 40px !important;
  }
  .see-all-product {
    font-size: 14px;
    width: 282px;
    height: 45px;
    border-radius: 12px;
  }
  .close-x {
    padding-right: 0px;
    margin: -2rem -1rem -1rem auto !important;
    top: 45px;
    right: 33px;
    position: absolute;
  }
  .my-modal-title {
    text-align: center;
    margin-top: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 90px;
  }
  .my-modal-footer {
    margin-top: 0;
  }
  .my-modal-body {
    padding-bottom: 0;
    margin-top: 35px;
  }
  .pop-up-detail > p {
    font-size: 11px;
    line-height: 1.2;
  }
  .pop-up-detail {
    height: 149px;
    width: 116px;
  }
  .pop-up-img {
    height: 84px;
    margin-top: 18px;
  }
  .pop-content-34 {
    margin-top: 30px;
  }
  .modal-dialog {
    width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }
  .icon-1,
  .icon-2,
  .icon-3 {
    margin-right: 5px;
  }
  .banner-slider-box {
    height: 635px;
  }
  .sec-exchange-p {
    font-size: 15px !important;
    line-height: 2 !important;
    font-family: markgeo-semibold;
  }
  .tick {
    left: -5px;
  }
  .content-title-last {
    margin-left: 20px;
  }
  .mob-second-third {
    margin-top: 20px !important;
  }
  .btn-exchange {
    margin-bottom: 25px;
  }
  .content-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lab-line {
    width: 45px;
  }
  .exchange__h1 {
    font-size: 16px;
    font-size: 1.7;
  }
  .exchange__p {
    font-size: 12px;
    line-height: 2.4;
  }
  .header-alert {
    display: none;
  }
  .banner-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .banner-container-head {
    padding-left: 30px;
    padding-right: 29px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .banner__p__text-middle {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .btn-mob {
    display: block;
    width: 140px;
    height: 50px;
  }
  .banner__btn__a {
    font-size: 12px;
  }
  .btn-desk {
    display: none;
  }
  .banner {
    height: 570px;
    padding: 0;
  }
  .banner__h1 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .banner__p__text {
    font-size: 12px;
  }
  .banner-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner_img {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 151px;
    width: auto !important;
  }
  .component-desk {
    display: none;
  }
  .component-mob {
    display: block;
  }
  .component-mob-img {
    border-radius: 20px 20px 5px 5px;
  }
  .exchange-content__first__p {
    font-size: 16px;
    line-height: 1.3;
  }
  .exchange-content__first {
    border-radius: 0px 0 12px 12px;
  }
  .exchange-content__first__h1 {
    font-size: 24px;
  }
  .content-title {
    margin-top: 15px;
  }
  .lab-line-sec {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .middle {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 575px) {
  .header__box__extra-logo {
    height: 32px;
    margin-left: 4px;
  }
  .contact-us-last {
    padding-bottom: 50px;
    margin-left: 5px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1200px !important;
    margin: 1.75rem auto;
  }
}
/*# sourceMappingURL=styles.css.map */