@font-face {
  src: url(../fonts/MarkGEOCAPS-Light.ttf);
  font-family: lightcaps-light;
}
.easter-header {
  text-align: center;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 4vh;
  img {
    height: 44px;
  }
}

.easter-img {
  &__home-page-box {
    &__main-img {
      height: 96vh;
      object-fit: cover;
    }
  }
}
.home-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  z-index: 999;
  &__h1 {
    font-family: markgeocapscaps-Semiboldcaps;
    color: black;
    font-size: 24px;
    line-height: 1.3;
  }
  &__p1 {
    font-family: markgeocapscaps-Semiboldcaps;
    color: black;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 1.3;
  }
  &__p2 {
    font-family: markgeocapscaps-Semiboldcaps;
    color: black;
    font-size: 22px;
    line-height: 1.3;
  }
}
.player-col {
  display: flex;
  justify-content: flex-end;
}
.mob {
  display: none;
}
.my-modal-header {
  padding-top: 0;
  padding-bottom: 0;
}
.my-modal-body {
  padding-top: 0;
  padding-bottom: 0;
}
button {
  outline: none;
  border: none;
}
@media (min-width: 576px) {
  .my-modal-dialog-centered {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 768px) {
  .desk {
    display: none;
  }
  .mob {
    display: block;
  }
  .player-col {
    justify-content: center;
    margin-top: 105px;
  }

  .d1:hover > .dd {
    width: 140px;
    height: 140px;
  }

  .d1:hover > .dd {
    width: unset;
    height: unset;
  }

  .home-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__h1 {
      font-size: 18px;
    }
    &__p1 {
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &__p2 {
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 320px) {
  .player-col {
    margin-top: 10px;
  }
}
