@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Regular.ttf);
  font-family: markgeocaps-regular;
}

.extra-helloween-title {
  height: 19vh;
}

.helloween-img-titles {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

.main-background {
  background-image: url(../image/trick-or-treat-Desktop.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: round;
}

.main-background .main-treat-row {
  margin-top: 20px !important;
  width: 695px;
  margin: 0;
}

.main-background .main-treat-row .treat-page-title {
  color: white;
  font-family: markgeocaps-regular;
}

.main-background .main-treat-row .treat-page-card-title {
  color: white;
  font-family: markgeocaps-bold;
}

.main-background .main-treat-row .treat-3-cards {
  height: 45vh;
}

.treat-page-rule-box .treat-page-rule-fist {
  color: white;
  font-family: markgeocaps-medium;
}

.treat-page-rule-box .treat-page-rule {
  color: white;
  font-family: markgeo-regular;
  margin: 15px 0;
}

.treat-3-cards-parent {
  margin-top: 10vh;
}

.modal-content {
  background-image: url(https://i.pinimg.com/originals/94/3c/f4/943cf4efd9f2d204b31f290ca293d2c7.jpg);
}

@media only screen and (max-width: 768px) {
  .helloween-img-titles {
    position: unset;
  }
  .treat-page-rule-box {
    padding-left: 30px;
  }
  .extra-helloween-title {
    height: 17vh;
  }
  .main-background {
    background-image: url(https://wallpaperaccess.com/full/1155655.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: unset;
  }
  .main-background .main-treat-row {
    width: auto;
    margin: 0;
    position: absolute;
    top: 0;
    left: 1px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(0, 0);
  }
  .main-background .main-treat-row .treat-3-cards-parent {
    margin: 15px 0;
  }
  .main-background .main-treat-row .treat-3-cards-parent .treat-3-cards-box {
    position: relative;
    height: 350px;
  }
  .main-background .main-treat-row .treat-3-cards-parent .treat-3-cards-box .treat-3-cards {
    height: 220px;
    max-width: 55% !important;
  }
  .main-background .main-treat-row .treat-3-cards-parent .treat-3-cards-box .treat-1-card {
    position: absolute;
    left: -100px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  .main-background .main-treat-row .treat-3-cards-parent .treat-3-cards-box .treat-2-card {
    position: absolute;
    left: 140px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 55px;
  }
  .main-background .main-treat-row .treat-3-cards-parent .treat-3-cards-box .treat-3-card {
    left: -55px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 155px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}
/*# sourceMappingURL=styles.css.map */