@charset "UTF-8";
@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Regular.ttf);
  font-family: markgeocaps-regular;
}

.rules-pop-up-title {
  font-family: markgeocaps-regular;
  font-size: 20px;
}

.moon-div {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9;
}

.night-moon {
  height: 150px;
}

#fb-share-button {
  border-radius: 3px;
  font-weight: 600;
  padding: 5px 8px;
  display: inline-block;
  position: static;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

#fb-share-button svg {
  width: 18px;
  fill: white;
  vertical-align: middle;
  border-radius: 2px;
}

#fb-share-button span {
  vertical-align: middle;
  color: white;
  font-size: 14px;
  padding: 0 3px;
}

.detailed-treat-text {
  color: white;
  font-family: markgeo-regular;
}

.scroll-height {
  height: 100px;
  overflow: auto;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}

.scroll-height::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.fb-share-button {
  height: 60px;
}

.treat-detailed-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25vh;
}

.extra-helloween-title {
  height: 19vh;
  z-index: 9999;
}

.helloween-img-titles {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

.main-background {
  background-image: url(../image/webbackground.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: round;
}

.main-treat-row {
  margin-top: 10px !important;
  width: 695px;
  margin: 0;
}

.treat-page-title {
  color: white;
  font-family: markgeocaps-regular;
}

.treat-page-card-title {
  color: white;
  font-family: markgeocaps-bold;
  line-height: 2.4;
}

.treat-3-cards {
  height: 45vh;
}

.treat-page-rule-fist {
  color: white;
  font-family: markgeocaps-medium;
}

.treat-page-rule {
  color: white;
  font-family: markgeo-regular;
  margin: 10px 0;
  line-height: 1.1;
  font-size: 12px;
}

.treat-3-cards-parent {
  margin-top: 25vh;
}

.modal-content {
  background-image: url(../image/metalboard.png);
  background-repeat: round;
  background-size: cover;
  padding: 0 20px;
  background-color: unset;
  border: unset;
}

.treat-3-cards-detailed {
  max-width: 80% !important;
}

.treat-1-card {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.treat-3-card {
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

.modal-dialog {
  max-width: 660px;
}

.modal-header {
  border-bottom: unset;
  padding: 0;
}

.modal-footer {
  border-top: unset;
  padding: 0;
}

.modal-body {
  padding: 0 5rem;
}

.show {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.btn-primary {
  background-color: unset;
  border-color: unset;
  border: unset;
}

.btn-primary:hover {
  background-color: unset;
  border-color: unset;
}

.btn-primary:active {
  background-color: unset !important;
  border-color: unset !important;
  outline: unset !important;
}

.btn-primary.focus, .btn-primary:focus {
  background-color: unset;
  border-color: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-secondary {
  color: #fff;
  background-color: unset;
  border-color: unset;
  border: none;
}

.btn-secondary:hover {
  background-color: unset;
  border-color: unset;
}

.btn-secondary:active {
  background-color: unset !important;
  border-color: unset !important;
  outline: unset !important;
}

.btn-secondary.focus, .btn-secondary:focus {
  background-color: unset;
  border-color: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.rules-button {
  height: 70px;
}

.heart-icon {
  margin: 0 5px;
}

.close {
  position: absolute;
  right: 38px;
  top: 15px;
  z-index: 9;
}

.treat-page-rule-last {
  padding-bottom: 40px;
}

.index-cards-box {
  width: 650px;
}

.index-card-descriptions {
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 1.5;
  font-family: markgeocaps-bold;
}

.mobile-index-card-text {
  display: none;
}

.index-main-component {
  margin-top: 22vh;
}

.footer-text {
  font-family: markgeocaps-medium;
}

.ghost-mobile-left {
  display: none;
  position: absolute;
  left: 0%;
  z-index: 9;
}

.ghost-mobile-right {
  display: none;
  position: absolute;
  right: 0%;
  bottom: 280px;
  z-index: 9;
}

.ghost-mobile-right-img {
  height: 160px;
}

.ghost-mobile-left-img {
  height: 130px;
}

.card-one-div {
  width: 140px;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.card-three-div {
  width: 140px;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.card-five-div {
  width: 140px;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

@media only screen and (max-width: 768px) {
  .moon-moon {
    margin-top: 85px;
  }
  .five-card-main-box {
    position: relative;
    height: 370px;
    text-align: center;
  }
  .two-cards-last {
    position: absolute;
    top: 15px;
  }
  .card-three-img {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  .two-cards-first {
    position: absolute;
    bottom: 15px;
    z-index: 9;
  }
  .card-three-div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 9;
  }
  .card-five-images {
    width: 110px !important;
  }
  .card-four-div {
    margin-right: 15px;
  }
  .card-five-div {
    margin-left: 15px;
    z-index: 10;
  }
  .card-one-div {
    margin-right: 15px;
  }
  .card-two-div {
    margin-left: 15px;
    z-index: 10;
  }
  .desktop-ghosts {
    display: none;
  }
  .ghost-mobile-right {
    display: block;
  }
  .ghost-mobile-left {
    display: block;
  }
  .money-card {
    max-height: 238px;
  }
  .soul-card {
    max-height: 238px;
  }
  .index-card-description-two {
    text-align: right;
  }
  .index-main-component {
    margin-top: unset;
  }
  .desktop-index-card-text {
    display: none;
  }
  .mobile-index-card-text {
    display: block;
    margin-top: 65px;
    top: -55px;
    position: absolute;
    text-align: left;
  }
  .index-card-descriptions {
    font-size: 8px;
    margin-top: 85px;
  }
  .index-cards-box {
    padding: 20px;
    height: 340px;
    position: relative;
  }
  .treat-trick-div-one {
    position: absolute;
    left: 25px;
    margin-top: 50px;
  }
  .treat-trick-div-two {
    position: absolute;
    right: 25px;
    top: 170px;
    z-index: 999;
  }
  .hide-col {
    display: none;
  }
  .moon-div {
    z-index: -1;
    right: 10px;
    top: 10px;
  }
  .rules-pop-up-title {
    font-size: 13px;
  }
  .treat-rule-button {
    margin-top: 30px;
  }
  .detailed-treat-text {
    margin: 10px 0;
  }
  .heart-icon {
    margin-top: 0px;
  }
  .footer-text {
    font-size: 12px;
  }
  .night-moon {
    height: 80px;
  }
  .scroll-height {
    height: 100px;
  }
  .treat-page-rule {
    font-size: 10px;
  }
  .modal-body {
    padding: 0 4rem;
  }
  .modal-content {
    background-image: url(../image/მობილეmetalboard.png);
    padding: 0;
  }
  .detailed-treat-text-share-box {
    margin-right: auto;
    margin-left: auto;
  }
  .detailed-treat-card {
    margin-right: auto;
    margin-left: auto;
  }
  .treat-detailed-card-text {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .helloween-img-titles {
    position: unset;
  }
  .treat-page-rule-box {
    padding-left: 0;
  }
  .extra-helloween-title {
    height: 15vh;
  }
  .main-background {
    background-image: url(../image/MOBILE.png);
    height: 812px !important;
    background-attachment: unset;
  }
  .main-treat-row {
    width: auto;
    margin: 0;
    position: absolute;
    top: 0;
    left: 1px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(0, 0);
  }
  .treat-detailed-card-text {
    margin: 0;
  }
  .treat-3-cards-parent {
    margin: 15px 0;
  }
  .treat-3-cards-box {
    position: relative;
    height: 325px;
  }
  .treat-3-cards {
    height: 210px;
    max-width: 50% !important;
  }
  .treat-1-card {
    position: absolute;
    left: -100px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  .treat-2-card {
    position: absolute;
    left: 140px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 55px;
  }
  .treat-3-card {
    left: -45px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 145px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  .treat-3-cards-detailed {
    max-width: 75% !important;
    height: 42vh;
  }
  .index-helloween-img-title {
    position: absolute;
  }
  .titles {
    position: absolute;
  }
}

@media only screen and (max-width: 575px) {
  .money-card {
    max-height: unset;
  }
  .soul-card {
    max-height: unset;
  }
}

@media only screen and (max-width: 320px) {
  .ghost-mobile-right {
    bottom: 180px;
  }
  .ghost-mobile-right-img {
    height: 135px;
  }
  .ghost-mobile-left-img {
    height: 105px;
  }
  .treat-3-cards {
    height: 170px;
    max-width: 49% !important;
  }
  .treat-3-cards-box {
    height: 252px;
  }
  .treat-2-card {
    left: 100px;
    top: 20px;
  }
  .treat-3-card {
    left: -45px;
    top: 90px;
  }
}
/*# sourceMappingURL=styles.css.map */