@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;

}
@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Regular.ttf);
  font-family: markgeocaps-regular;
}
.extra-helloween-title{
  height: 19vh;
}
.main-background{
  background-image: url(../image/trick-or-treat-Desktop.png);
  // height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: round;
  .main-treat-row{
    width: 695px; margin: 0; ;
    .treat-page-title{
      color: white;
      font-family: markgeocaps-regular;
    }
    .treat-page-card-title{
      color: white;
      font-family: markgeocaps-bold;
    }
    .treat-page-rule-box{
      .treat-page-rule-fist{
        color: white;
        font-family: markgeocaps-medium;
  
      }
      .treat-page-rule{
        color: white;
        font-family: markgeo-regular;
        margin: 15px 0;

  
  
      }
    }
      
    
    
    .treat-3-cards{
      height: 45vh;
    }
  }

  

}

@media only screen and (max-width: 768px) {
  .extra-helloween-title{
    height: 17vh;
  }
  .main-background{
    background-image: url(../image/მობბბ.png);
    height: 1000px;
    .main-treat-row{
      width: auto;
      margin: 0;
      position: absolute;
      top: 0;
      left: 1px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(0, -0);
    .treat-3-cards-parent{
      margin: 30px 0;
      .treat-3-cards-box{
        position: relative;
        height: 380px;
        .treat-3-cards{
          height: 260px;
          max-width: 60%!important;
  
        }
        .treat-1-card{
          position: absolute;
          left: -100px;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          transform: rotate(-10deg);
        }
        .treat-2-card{
          position: absolute;
          left: 140px;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          top: 55px;
        }
        .treat-3-card{
          left: -55px;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          top: 155px;
          transform: rotate(-15deg);
        }
      }
    }
      
      
    }
    
  }
}
