@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;

}
@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Regular.ttf);
  font-family: markgeocaps-regular;
}

///facebook////


#fb-share-button {
  border-radius: 3px;
  font-weight: 600;
  padding: 5px 8px;
  display: inline-block;
  position: static;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;

}


#fb-share-button svg {
  width: 18px;
  fill: white;
  vertical-align: middle;
  border-radius: 2px
}

#fb-share-button span {
  vertical-align: middle;
  color: white;
  font-size: 14px;
  padding: 0 3px
}
////fb///
.detailed-treat-text{
  color: white;
  font-family: markgeo-regular;

}
.fb-share-button{
  height: 60px;
}
.treat-detailed-card-text{
  display: flex;
  justify-content: center;
}
.extra-helloween-title{
  height: 19vh;
}
.helloween-img-titles{
  position:absolute;
      left:0;
      right:0;
      margin-left:auto;
      margin-right:auto;
      top: 0;
}
.main-background{
  background-image: url(../image/background.png);
  height: 100vh;
  width: 100%;
  
  // background-attachment:fixed;
  background-size: cover;
  background-repeat: round;

}
.main-treat-row{
  margin-top: 20px!important;
  width: 695px; margin: 0; 
}
.treat-page-title{
  color: white;
  font-family: markgeocaps-regular;
}
.treat-page-card-title{
  color: white;
  font-family: markgeocaps-bold;
}

  
.treat-3-cards{
  height: 45vh;
}



.treat-page-rule-fist{
  color: white;
  font-family: markgeocaps-medium;

}
.treat-page-rule{
  color: white;
  font-family: markgeo-regular;
  margin: 15px 0;



}

.treat-3-cards-parent{
  margin-top: 10vh;
}
.modal-content{
  background-image: url(https://i.pinimg.com/originals/94/3c/f4/943cf4efd9f2d204b31f290ca293d2c7.jpg);
}

.treat-3-cards-detailed{
  max-width: 80%!important;
}
.treat-1-card{

  transform: rotate(-7deg);
}

.treat-3-card{

  transform: rotate(7deg);
}

@media only screen and (max-width: 768px) {

  .detailed-treat-text-share-box{
    margin-right: auto;
    margin-left: auto;
  }
  .detailed-treat-card{
    margin-right: auto;
    margin-left: auto;
  }
  .treat-detailed-card-text{
    display: inline-block;
    justify-content: center;
  }
  .helloween-img-titles{
    position: unset;
  }
  .treat-page-rule-box{
    padding-left: 30px;

  }
  .extra-helloween-title{
    height: 15vh;
  }
  
  .main-background{
    background-image: url(../image/MOBILE.png);
    height: 100vh!important;
    background-attachment:unset;

  }

  .main-treat-row{
    width: auto;
    margin: 0;
    position: absolute;
    top: 0;
    left: 1px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(0, -0);
  }
  .treat-3-cards-parent{
    margin: 15px 0;
    
  }
  .treat-3-cards-box{
    position: relative;
    height: 350px;
    
  }
  .treat-3-cards{
    height: 210px;
    max-width: 54%!important;

  }
  .treat-1-card{
    position: absolute;
    left: -100px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-15deg);

  }
  .treat-2-card{
    position: absolute;
    left: 140px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 55px;
  }
  .treat-3-card{
    left: -55px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 155px;
    transform: rotate(-15deg);

  }
  .treat-3-cards-detailed{
    max-width: 90% !important;
    height: 45vh;
}

    
      
    
    
  
}
