@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeocapscaps-Semibold;
}

@font-face {
  src: url(../fonts/MARKGEOCAPS-SEMIBOLD.TTF);
  font-family: markgeocapscaps-Semiboldcaps;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #efefef;
  background-size: cover;
}

.container-fluid {
  max-width: 1900px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.swiper-button-next:focus {
  outline: none !important;
}

.swiper-button-prev:focus {
  outline: none !important;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:focus {
  outline: unset;
}

.btn,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn:focus {
  outline: unset;
}

.header-alert {
  background: #fc5601;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 48px;
}

.header-alert__p {
  font-size: 20px;
  font-family: markgeo-regular;
  color: white;
}

.header {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__icon-box {
  background-color: #00aaff;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__icon-box-second {
  background-color: #9de42c;
  margin-left: 10px;
}

.delivery-cards__box__pp {
  text-align: left !important;
}

.delivery-cards__box__see-btn {
  text-align: right;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.delivery-box-one {
  background-image: url(../image/Background.svg);
  height: 500px;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery-box-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delivery-box-two__div {
  text-align: center;
}

.delivery-box-two__div__p {
  font-size: 35px;
  font-family: markgeocapscaps-Semiboldcaps;
}

.container-fluid:after {
  background-color: green !important;
}

.delivery-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery-cards__box {
  -webkit-box-shadow: 0px 5px 10px #00000029;
          box-shadow: 0px 5px 10px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 7px;
  height: 248px;
}

.delivery-cards__box__p {
  font-size: 17px;
  line-height: 1.2;
  font-family: markgeocaps-medium;
  text-align: center;
}

.delivery-cards__box__p-box {
  font-size: 17px;
  line-height: 1.2;
  font-family: markgeocaps-medium;
  text-align: left;
}

.start-shopping {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.start-shopping__p {
  background: #fd561f;
  color: white;
  border-radius: 10px !important;
  width: 230px;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0px 5px 10px #00000041;
          box-shadow: 0px 5px 10px #00000041;
  font-family: markgeocapscaps-medium;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #161e3f;
  height: 65px;
}

.footer__media-icon .linkedin {
  margin: 0 10px;
}

.footer__media-icon__img {
  height: 20px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: markgeo-regular;
}

.footer__box__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box__img {
  margin: 0 5px;
}

.extra-card {
  display: none;
}

.personal {
  width: 100%;
  text-align: center;
  background: #e6f9ff5c;
  border-radius: 10px;
  margin-top: 27px;
  padding: 10px;
  z-index: 999;
}

.personal__text {
  font-family: markgeo-semibold;
  font-size: 22px;
  color: black;
  text-align: center;
  line-height: 1.3;
}

.personal__text-one {
  margin-top: 10px;
}

.delivery-box-one-mob {
  display: none;
}

.start-shopping-mob {
  display: none;
}

.colll {
  position: absolute;
  z-index: 999;
  right: 5px;
  background-color: #efefef;
}

.col4 {
  -webkit-box-orient: unset !important;
  -webkit-box-direction: unset !important;
      -ms-flex-direction: unset !important;
          flex-direction: unset !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  overflow: hidden;
}

.close-arrow {
  display: none;
}

.close-arrow {
  display: none;
}

.close-arrow-popup {
  display: block;
}

.delivery-cards__box__see-btn-none {
  display: none;
}

#slider2 {
  display: none;
}

.value-title-2 {
  display: none !important;
}

.your-cost-p {
  display: none;
}

#slider1 {
  background: #969696;
  height: 6px;
  border-radius: 3px;
}

#handle1 {
  background: #ff96b7;
  border: 3px solid #f72163;
  border-radius: 32px;
  -webkit-box-shadow: rgba(247, 33, 99, 0.604) 0px 0px 5px;
          box-shadow: rgba(247, 33, 99, 0.604) 0px 0px 5px;
}

.value-title {
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .delivery-cards__box__see-btn {
    height: 13px;
    position: absolute;
    bottom: 21px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .arrow-img {
    height: 49px;
  }
  .delivery-cards__box_parent {
    padding: 8px;
  }
  .delivery-cards__middle {
    margin: unset;
  }
  .delivery-cards__box__p {
    font-size: 10px;
  }
  .delivery-cards__box__img {
    height: 46px;
  }
  .header-alert {
    height: 19px;
  }
  .header-alert__p {
    font-size: 8px;
  }
  .header__icon-box {
    border-radius: 5px;
    height: 32px;
    width: 32px;
  }
  .header__icon-box__icon {
    height: 19px;
  }
  .header__logo__box_img {
    height: 30px;
  }
  .start-shopping-desk {
    display: none;
  }
  .start-shopping-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 46px;
    margin-bottom: 46px;
  }
  .delivery-box-one {
    height: 260px;
  }
  .delivery-box-two {
    padding: unset;
  }
  .delivery-box-two__div__p {
    font-size: 20px;
  }
  .delivery-cards {
    margin-top: 16px;
    margin-bottom: 40px;
  }
  .delivery-cards__box {
    height: 124px;
  }
  .delivery-box-one-mob {
    display: block;
  }
  .delivery-box-one-desk {
    display: none;
  }
  .footer__box__span {
    font-size: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */