@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold-ms;
}

@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeocapscaps-Semibold;
}

@font-face {
  src: url(../fonts/MARKGEOCAPS-SEMIBOLD.TTF);
  font-family: markgeocapscaps-Semiboldcaps;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #efefef;
  background-size: cover;
}

.container-fluid {
  max-width: 1900px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.swiper-button-next:focus {
  outline: none !important;
}

.swiper-button-prev:focus {
  outline: none !important;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:focus {
  outline: unset;
}

.btn,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn:focus {
  outline: unset;
}

.header-alert {
  background: #fc5601;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 48px;
}

.header-alert__p {
  font-size: 20px;
  font-family: markgeo-regular;
  color: white;
}

.main-content-box {
  margin-top: 40px;
}

.header {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}

.header__icon-box {
  background-color: #00aaff;
  border-radius: 10px;
  height: 47px;
  width: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__icon-box__icon {
  height: 27px;
  width: 27px;
}

.header__icon-box-second {
  background-color: #9de42c;
  margin-left: 10px;
}

.delivery-cards__box__pp {
  text-align: left !important;
}

.delivery-cards__box__see-btn {
  text-align: right;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}

.delivery-box-one {
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery-box-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.delivery-box-two__div {
  text-align: center;
}

.delivery-box-two__div__p {
  font-size: 35px;
  font-family: markgeocaps-bold-ms;
}

.container-fluid:after {
  background-color: green !important;
}

.span {
  font-weight: bold;
}

.delivery-cards-main-box {
  margin-top: 23px;
  margin-bottom: 40px;
}

.delivery-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery-cards__box {
  -webkit-box-shadow: 0px 5px 10px #00000029;
          box-shadow: 0px 5px 10px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 7px;
  height: 248px;
}

.delivery-cards__box__p {
  font-size: 17px;
  line-height: 1.2;
  font-family: markgeo-regular;
  text-align: center;
  height: 42px;
  overflow: hidden;
}

.delivery-cards__box__p-box {
  font-size: 17px;
  line-height: 1.2;
  font-family: markgeocaps-medium;
  text-align: left;
  cursor: pointer;
}

.start-shopping {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.start-shopping__p {
  background: #fd561f;
  color: white;
  border-radius: 10px !important;
  width: 230px;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0px 5px 10px #00000041;
          box-shadow: 0px 5px 10px #00000041;
  font-family: markgeocapscaps-medium;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #161e3f;
  height: 65px;
}

.footer__media-icon .linkedin {
  margin: 0 10px;
}

.footer__media-icon__img {
  height: 20px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: markgeo-regular;
}

.footer__box__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box__img {
  margin: 0 5px;
}

.extra-card {
  display: none;
}

.personal {
  width: 100%;
  text-align: center;
  background: #e6f9ff5c;
  border-radius: 10px;
  margin-top: 27px;
  padding: 10px;
  z-index: 999;
}

.personal__text {
  font-family: markgeo-semibold;
  font-size: 22px;
  color: black;
  text-align: center;
  line-height: 1.3;
}

.personal__text-one {
  margin-top: 10px;
}

.delivery-box-one-mob {
  display: none;
}

.start-shopping-mob {
  display: none;
}

.colll {
  position: absolute;
  z-index: 999;
  right: 5px;
  background-color: #efefef;
}

.col4 {
  -webkit-box-orient: unset !important;
  -webkit-box-direction: unset !important;
      -ms-flex-direction: unset !important;
          flex-direction: unset !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  overflow: hidden;
}

.close-arrow {
  display: none;
}

.close-arrow {
  display: none;
}

.close-arrow-popup {
  display: block;
  cursor: pointer;
}

.delivery-cards__box__see-btn-none {
  display: none;
}

#slider2 {
  display: none;
}

.value-title-2 {
  display: none !important;
}

#slider1 {
  background: #969696;
  height: 6px;
  border-radius: 3px;
}

#handle1 {
  background: #ff96b7;
  border: 3px solid #f72163;
  border-radius: 32px;
  -webkit-box-shadow: rgba(247, 33, 99, 0.604) 0px 0px 5px;
          box-shadow: rgba(247, 33, 99, 0.604) 0px 0px 5px;
}

.value-title {
  margin-bottom: 15px;
}

.see-more-btn {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
  font-size: 12px;
  font-family: markgeo-bold;
}

.delivery-price-title {
  text-align: center;
  font-family: markgeocaps-bold-ms;
  font-size: 20px;
}

.range-box {
  margin-top: 20px;
}

.delivery-price-txt {
  text-align: center;
  font-family: markgeo-regular;
  font-size: 11px;
  line-height: 1.2;
  margin-top: 5px;
  font-weight: bold;
}

.sold-product {
  font-family: markgeocaps-bold-ms;
  font-size: 20px;
}

.value1 {
  font-family: markgeocaps-bold-ms;
  background-color: white;
  width: 125px;
  height: 28px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 19px;
  font-size: 20px;
}

.your-cost-p {
  font-family: markgeocaps-bold-ms;
  font-size: 20px;
}

.price-and-result {
  font-size: 20px;
  color: #f72163;
  font-family: markgeocaps-bold-ms;
  border-radius: 30px;
}

.price-and-result-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f721630d;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
  border-radius: 30px;
  width: 125px;
  border: 1px solid #f72163;
  margin-left: 5px;
}

.result {
  margin-right: 5px;
}

.price-calc {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -8px !important;
}

.main-content-box {
  z-index: 9;
}

.green-box {
  position: absolute;
  top: 100px;
  left: 50px;
}

.blue-box {
  position: absolute;
  bottom: -55px;
  left: 40%;
  height: 170px;
  z-index: -1;
}

.geolab-box {
  right: 20px !important;
  top: -29px;
  position: absolute;
}

.pink-box {
  right: 20px !important;
  position: absolute;
  bottom: -44px;
  height: 150px;
}

.img-mob {
  display: none;
}

.ext-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 999999999999999;
  right: 22px;
}

.pink-box,
.green-box,
.blue-box,
.geolab-box {
  -webkit-animation: sway1 8s infinite;
          animation: sway1 8s infinite;
  -webkit-transform-origin: 50% 100% 0;
          transform-origin: 50% 100% 0;
}

@-webkit-keyframes sway1 {
  0%,
  100% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  50% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
}

@keyframes sway1 {
  0%,
  100% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  50% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
}

@media only screen and (max-width: 992px) {
  .delivery-box-one-mob {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .delivery-box-one-desk {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .ext-arrow {
    right: 14px;
  }
  .colll {
    right: unset;
  }
  .img-desk {
    display: none;
  }
  .img-mob {
    display: block;
  }
  .orange-box {
    left: 0 !important;
    top: 24px;
    position: absolute;
  }
  .pink-box {
    left: -26px;
    position: absolute;
    top: 67px;
    height: 70px;
    z-index: 99999;
  }
  .sold-product {
    font-size: 12px;
  }
  .value1 {
    font-size: 12px;
    width: 95px;
  }
  .price-and-result-box {
    width: 95px;
  }
  .price-and-result {
    font-size: 12px;
  }
  .your-cost-p {
    font-size: 12px;
  }
  .delivery-box-one-mob {
    z-index: -91;
  }
  .snowflake-mob {
    z-index: -9 !important;
  }
  .out-index {
    display: none;
  }
  .delivery-price-title {
    font-size: 13px;
  }
  .delivery-price-txt {
    font-size: 7px;
  }
  .delivery-cards__box__p-box {
    font-size: 10px;
  }
  .see-more-btn {
    font-size: 7px;
    top: 62%;
  }
  .see-more-img {
    height: 45px;
  }
  .delivery-cards__box__see-btn {
    height: 33px;
    position: relative;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: unset;
  }
  .arrow-img {
    height: 100%;
    width: 30px;
  }
  .delivery-cards__box-parent {
    padding: 10px;
  }
  .delivery-cards__middle {
    margin: unset;
  }
  .delivery-cards__box__p {
    font-size: 10px;
    height: 30px;
  }
  .delivery-cards__box__img {
    height: 46px;
  }
  .header-alert {
    height: 19px;
  }
  .header-alert__p {
    font-size: 8px;
  }
  .header__icon-box {
    border-radius: 5px;
    height: 32px;
    width: 32px;
  }
  .header__icon-box__icon {
    height: 19px;
  }
  .header__logo__box_img {
    height: 30px;
  }
  .start-shopping-desk {
    display: none;
  }
  .start-shopping-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .delivery-box-one {
    height: 260px;
  }
  .delivery-box-two {
    padding: unset;
  }
  .delivery-box-two__div__p {
    font-size: 20px;
  }
  .delivery-cards__box {
    height: 124px;
  }
  .delivery-cards-main-box {
    margin-top: 14px;
    margin-bottom: 20px;
  }
  .footer__box__span {
    font-size: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */