@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.header-back {
  background-image: url(../image/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header-back .vans-head {
  margin-top: 17px;
  margin-bottom: 10px;
}

.header-back .head-title {
  color: white;
  font-family: markgeocapscaps-medium;
  font-size: 25px;
}

.button-a {
  text-decoration: none;
  background: #F72163;
  display: inline-block;
  color: white;
  padding: 20px 25px;
  font-size: 25px;
  font-family: markgeo-semibold;
  margin-top: 15px;
  margin-bottom: 22px;
  border-radius: 2px;
}

.button-p {
  color: white;
  font-size: 30px;
  font-family: markgeocapscaps-medium;
}

.vans-section-text-first {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: markgeocaps-bold;
  text-align: center;
  font-size: 33px;
  line-height: 1.3;
}

.vans-section-text-second {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: markgeocaps-bold;
  color: white;
  text-align: center;
  font-size: 33px;
  line-height: 1.3;
}

.col-pp {
  padding: 0 8px;
}

.slick-prev:before {
  background-image: url(../image/rig.svg) !important;
  background-size: 32px 47px;
  display: inline-block;
  width: 32px;
  height: 47px;
  content: "" !important;
}

.slick-next:before {
  background-image: url(../image/left.svg) !important;
  background-size: 32px 47px;
  display: inline-block;
  width: 32px;
  height: 47px;
  content: "" !important;
}

.slick-prev {
  z-index: 9;
}

.my-row {
  padding: 0 59px;
}

.slick-dots {
  display: none !important;
}

.img-1 {
  max-height: 239px;
}

.img-2 {
  max-height: 239px;
}

.img-11 {
  display: none;
}

.img-22 {
  display: none;
}

.logo {
  margin-top: 12px;
  height: 100px;
}

.inspection-category {
  font-family: markgeocapscaps-medium;
  font-size: 25px;
  margin: 17px 0;
}

.category-img {
  max-height: 177px;
  max-height: 177px;
}

.slick-next {
  right: -10px !important;
}

.slick-prev {
  left: -15px !important;
}

.dogtown-p {
  font-family: markgeocaps-bold;
  font-size: 36px;
  font-size: 1.6;
  padding: 10px 30px;
}

.dognwotn-p-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #9de411;
}

.dogtown-box {
  position: relative;
}

.buy-now-box-first {
  margin-right: 62px;
}

.buy-now-box-second {
  margin-left: 62px;
}

.buy-now-p {
  font-family: markgeocaps-medium;
  font-size: 20px;
  margin-top: 14px;
  margin-bottom: 7px;
  font-weight: 600;
}

.mob {
  display: none;
}

.linkedin-icon {
  margin: 0 10px;
}

.footer-main-box {
  padding: 14px;
}

.img-heart {
  margin: 0 5px;
  margin-top: 3px;
}

.vans-1 {
  max-height: 290px;
  max-width: 290px;
}

.vans-2 {
  max-height: 290px;
  max-width: 290px;
}

@media only screen and (max-width: 1100px) {
  .dogtown-p {
    font-size: 28px;
  }
  .slick-next {
    right: -5px !important;
  }
  .slick-prev {
    left: -5px !important;
  }
  .slick-prev:before {
    width: 17px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slick-next:before {
    width: 17px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 992px) {
  .footer-main-box {
    padding: 11px;
  }
  .linkedin-icon {
    margin: 0;
  }
  .dogtown-p {
    font-size: 18px;
  }
  .buy-now-box-first {
    margin-right: unset;
  }
  .buy-now-box-second {
    margin-left: unset;
  }
}

@media only screen and (max-width: 768px) {
  .img-heart {
    margin-top: 0;
  }
  .footer-text {
    font-size: 12px;
  }
  .button-a {
    padding: 12px 18px;
  }
  .last-component {
    padding: 0 42px;
  }
  .button-p {
    font-size: 12px;
  }
  .desk {
    display: none;
  }
  .mob {
    display: block;
  }
  .buy-now-p {
    font-size: 10px;
  }
  .dogtown-p {
    font-size: 10px;
    padding: 10px 10px;
  }
  .inspection-category {
    font-size: 12px;
    margin: 15px 0;
  }
  .vans-section-text-first {
    font-size: 15px;
  }
  .vans-section-text-second {
    font-size: 15px;
  }
  .man-category {
    padding-right: 5px;
  }
  .woman-category {
    padding-left: 5px;
  }
  .logo {
    height: 49px;
    margin-top: 10px;
  }
  .img-1 {
    display: none;
  }
  .img-2 {
    display: none;
  }
  .img-11 {
    display: block;
  }
  .img-22 {
    display: block;
  }
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .slick-prev:before {
    width: 12px;
    height: 18px;
  }
  .slick-next:before {
    width: 12px;
    height: 18px;
  }
  .my-row {
    padding: 0;
  }
  .slick-prev {
    left: -15px !important;
    z-index: 9;
  }
  .slick-next {
    right: -15px !important;
  }
  .vans-section-text-first {
    font-size: 15px;
  }
  .vans-section-text-second {
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .img-heart {
    margin: 0 3px;
  }
  .buy-now-p {
    font-size: 9px;
  }
  .dogtown-p {
    font-size: 8px;
  }
}
/*# sourceMappingURL=styles.css.map */