@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

.carousel .carousel-item {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

a:hover {
  text-decoration: none;
  color: black;
}

a {
  color: black;
}

.apple-sale-box {
  text-align: center;
  margin-top: 20px;
}

.apple-sale-box .apple-sale-title {
  font-size: 58px;
  font-family: markgeo-semibold;
}

.advertise-row-phone {
  height: 584px;
}

.advertise-row-watch {
  height: 135px;
}

.advertise-row-laptop {
  height: 140px;
}

.advertise-row-ipad {
  height: 194px;
}

.advertise-row-airpod {
  height: 166px;
}

.carousel-bf-ol {
  margin-bottom: 110px;
}

.carousel-main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-sale-box {
  text-align: center;
  margin-bottom: 100px;
}

.second-sale-box .second-sale-title {
  font-size: 40px;
  font-family: markgeo-semibold;
}

.carousel-control-prev-icon {
  background-image: url(../image/marcxena.svg);
  height: 60px;
}

.carousel-control-next-icon {
  background-image: url(../image/marjvena.svg);
  height: 60px;
}

.carousel-control-next {
  right: -70px;
}

.carousel-control-prev {
  left: -70px;
}

.sale-content-main-logo {
  height: 508px;
}

.use-sale-content {
  margin-bottom: 60px;
}

.use-sale-content .use-sale-box {
  text-align: center;
  margin-bottom: 50px;
}

.use-sale-content .use-sale-box .use-sale-title {
  font-size: 52px;
  font-family: markgeo-semibold;
}

.footer {
  padding: 32px;
  background: #161E3F;
}

.footer .footer-p {
  color: white;
  font-size: 14px;
  font-family: markgeo-regular;
}

.footer .instagram-icon {
  margin: 0 17px;
}

.sale-content-img {
  width: 275px;
}

.extra-footer-logo {
  height: 20px;
}

.last-two-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carosel-sale-nt {
  text-decoration: line-through;
  font-family: markgeo-regular;
  font-size: 32px;
  color: #161E3F;
  margin-top: 90px;
  margin-bottom: 10px;
}

.carousel-sale-price {
  font-family: markgeo-regular;
  font-size: 40px;
  color: #161E3F;
  margin-bottom: 21px;
  font-weight: bold;
}

.carousel-buy-btn {
  background: #000000 0% 0% no-repeat padding-box;
  padding: 35px 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-buy-btn .carousel-but-btn-p {
  color: white;
  font-size: 38px;
  font-family: markgeo-regular;
  font-weight: bold;
}

.carousel-buy-btn .arrow-for-btn {
  height: 18px;
}

.sale-content-logo {
  margin-top: 73px;
  width: 275px;
}

.carousel-first-section {
  text-align: center;
}

.carousel-first-section .carosel-sale-nt {
  text-decoration: line-through;
  font-family: markgeo-regular;
  font-size: 32px;
  color: red;
  margin-top: 90px;
  margin-bottom: 10px;
}

.carousel-first-section .carousel-sale-price {
  font-family: markgeo-regular;
  font-size: 40px;
  color: #161E3F;
  margin-bottom: 21px;
}

.carousel-first-section .carousel-buy-btn {
  background: #000000 0% 0% no-repeat padding-box;
  padding: 30px 20px;
}

.carousel-first-section .carousel-buy-btn .carousel-but-btn-p {
  color: white;
  font-size: 38px;
  font-family: markgeo-regular;
}

.carousel-first-section .sale-content-logo {
  margin-top: 73px;
  width: 275px;
}

.use-sale-components {
  margin-top: 24px;
  font-size: 20px;
  font-family: markgeo-regular;
  font-weight: bold;
}

.bts-carousel-dots {
  height: 20px !important;
  width: 20px !important;
  background: #000000 0% 0% no-repeat padding-box !important;
  border-top: 30px !important;
}

.carousel-indicators {
  bottom: -30px;
  border-top: 30px !important;
}

.carousel-indicators li {
  border-radius: 30px;
  border-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
  .carousel-control-next {
    right: -60px;
  }
  .carousel-control-prev {
    left: -60px;
  }
  .last-two-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .second-sale-title {
    font-size: 30px;
  }
  .advertise-row-phone {
    height: 390px;
  }
  .advertise-row-laptop {
    height: 105px;
  }
  .advertise-row-ipad {
    height: 174px;
  }
  .advertise-row-airpod {
    height: 146px;
  }
  .advertise-row-watch {
    height: 90px;
  }
  .iphone-main-content {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media only screen and (max-width: 768px) {
  .last-two-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .iphone-main-content {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .carousel-main-div {
    height: 490px;
  }
  .sale-content-img {
    width: 249px;
  }
  .sale-content-main-logo {
    height: 395px;
  }
  .last-sale-logo {
    height: 280px;
  }
  .apple-sale-title {
    font-size: 25px !important;
  }
  .advertise-row-phone {
    height: 225px;
  }
  .advertise-row-watch {
    height: 55px;
  }
  .advertise-row-laptop {
    height: 75px;
  }
  .advertise-row-ipad {
    height: 84px;
  }
  .advertise-row-airpod {
    height: 84px;
  }
  .second-sale-title {
    font-size: 20px !important;
  }
  .use-sale-title {
    font-size: 20px !important;
  }
  .footer-p {
    font-size: 11px !important;
  }
  .facebook-icon {
    height: 13px;
  }
  .instagram-icon {
    margin: 0 9px !important;
    height: 13px;
  }
  .linkedin-icon {
    height: 13px;
  }
  .second-sale-title {
    font-size: 20px !important;
  }
  .use-sale-components {
    font-size: 12px;
  }
  .sale-indepentent-cont {
    height: 77px;
  }
  .use-sale-components {
    margin-top: 11px;
  }
  .use-sale-content .use-sale-box {
    margin-bottom: 15px;
  }
  .second-sale-box {
    margin-bottom: 0;
  }
  .carousel-bf-ol {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 575px) {
  .iphone-main-content {
    -webkit-box-pack: stretch !important;
        -ms-flex-pack: stretch !important;
            justify-content: stretch !important;
  }
  .carousel-main-div {
    height: auto;
  }
  .iphone-main-content {
    max-width: 31.333%;
  }
  .advertise-row-phone {
    height: 192px;
  }
  .advertise-row-watch {
    height: 43px;
  }
  .advertise-row-laptop {
    height: 55px;
    padding-left: 5px;
  }
  .advertise-row-ipad {
    height: 64px;
  }
  .advertise-row-airpod {
    height: 54px;
  }
  .sale-items-third {
    margin-top: 25px;
  }
  .sale-items-fourth {
    margin-top: 25px;
  }
  .carousel-sale-nt {
    margin-top: 28px;
  }
  .sale-content-main-logo {
    width: 185px !important;
    height: 220px !important;
  }
  .carosel-sale-nt {
    font-size: 14px;
    margin-top: 28px;
  }
  .carousel-sale-price {
    font-size: 16px;
    font-weight: bold;
  }
  .sale-content-logo {
    width: 110px;
    margin-top: 0;
  }
  .carousel-but-btn-p {
    font-size: 9px !important;
  }
  .carousel-buy-btn {
    padding: 9px 31px;
  }
  .carousel-for-vendor-item {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carousel-main-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sale-content-img {
    width: 77px;
  }
  .bts-carousel-dots {
    height: 6px !important;
    width: 6px !important;
  }
  .carousel-indicators {
    bottom: 10px;
  }
  .use-sale-content {
    margin-top: 15px;
  }
  .last-carousel-div {
    height: 400px;
  }
  .last-carousel-div .last-sale-logo {
    height: 190px !important;
    width: auto !important;
  }
  .carousel-bf-ol {
    margin-bottom: 0;
  }
  .second-sale-box {
    margin-bottom: 5px;
  }
  .arrow-for-btn {
    height: 5px !important;
  }
  .last-carousel-div {
    height: 220px;
  }
  .carousel-control-next-icon {
    height: 18px;
  }
  .carousel-control-prev-icon {
    height: 18px;
  }
  .carousel-control-prev {
    left: -14px;
  }
  .carousel-control-next {
    right: -14px;
  }
  .extra-footer-logo {
    width: 60px;
  }
  .apple-sale-title {
    font-size: 20px !important;
  }
  .second-sale-title {
    font-size: 15px !important;
  }
  .footer {
    padding: 20px;
  }
}

@media only screen and (max-width: 355px) {
  .advertise-row-phone {
    height: 170px;
  }
  .advertise-row-laptop {
    height: 40px;
  }
  .advertise-row-ipad {
    height: 55px;
  }
}

@media only screen and (max-width: 320px) {
  .apple-sale-title {
    font-size: 15px !important;
  }
  .second-sale-title {
    font-size: 12px !important;
  }
  .use-sale-title {
    font-size: 15px !important;
  }
  .use-sale-components {
    font-size: 10px;
  }
  .instagram-icon {
    margin: 0 0px !important;
  }
  .sale-content-main-logo {
    width: 155px !important;
  }
  .last-carousel-div .last-sale-logo {
    height: 155px !important;
  }
  .footer-p {
    font-size: 8px !important;
  }
}
/*# sourceMappingURL=styles.css.map */