@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}
@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeocapscaps-Semibold;
}

@font-face {
  src: url(../fonts/MARKGEOCAPS-SEMIBOLD.TTF);
  font-family: markgeocapscaps-Semiboldcaps;
}
@font-face {
  src: url(../fonts/HELVETICANEUELTGEOW82-75BD.TTF);
  font-family: helve-bold;
}
@font-face {
  src: url(../fonts/HELVETICANEUELTGEOW82-55RM.TTF);
  font-family: helve-bold-rm;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #f9f9fb;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
.messenger-btn {
  margin-left: 5px;
}
.banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__h1 {
    font-family: markgeocapscaps-Semiboldcaps;
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  &__p {
    font-family: markgeo-regular;
    font-size: 16px;
    line-height: 1.2;
  }
  &__btn {
    width: 200px;
    height: 65px;
    background: #7a1dff;
    border-radius: 12px;
    border: none;
    outline: none;
    text-decoration: none;
    &__p {
      color: white;
      font-family: markgeocapscaps-medium;
    }
  }
  &__text-img {
    height: 20px;
  }
  &__img1 {
    margin-left: 5px;
  }
}
button {
  border: none;
  outline: none;
  text-decoration: none;
}
button:focus {
  outline: none;
}
.banner-img-mob {
  display: none;
}
.category {
  padding: 5px !important;

  &__text {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    box-shadow: 0px 2px 5px #0000001a;
    border-radius: 0px 0px 10px 10px;

    &__p {
      color: #f72163;
      font-family: markgeocaps-medium;
      font-size: 20px;
    }
  }
}
.heart-1 {
  position: absolute;
  top: -14px;
  left: -21px;
  z-index: 1;
  height: 46px;
}
.heart-2 {
  position: absolute;
  bottom: -5px;
  right: -22px;
  z-index: 1;
  height: 46px;
}
.category-section {
  background-color: #7a24fb0d;
  padding-top: 5px;
  padding-bottom: 30px;
  margin-top: 30px;
  &__h1 {
    text-align: center;
    font-family: markgeocapscaps-Semiboldcaps;
    font-size: 25px;
    margin-bottom: 10px;
  }
}

.category-mob {
  display: none;
}
.content {
  padding-left: 30px;
  padding-right: 30px;
  &__type {
    background: #7a1dff;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #7a24fb33;
    &__p {
      font-family: markgeocaps-medium;
      color: white;
      font-size: 20px;
    }
  }
  &__sex {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    &__type {
      border: 2px solid #7a1dff;
      border-radius: 10px;
      height: 100px;
      width: 49%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.gift-btn {
  border: 3px solid #1caafc;
  border-radius: 10px;
  width: 300px;
  height: 65px;
  margin-top: 50px;
  margin-bottom: 50px;
  &__p {
    font-size: 20px;
    color: #1caafc;
    font-family: markgeocapscaps-Semiboldcaps;
  }
}
.another-btn {
  margin-top: 22px;
  margin-bottom: 30px;
}
.rules {
  margin-top: 10px;
  display: flex;
  align-items: end;
  &__p {
    font-family: markgeo-regular;
    font-size: 13px;
    line-height: 1.3;
  }
  &__img {
    height: 25px;
    margin-right: 5px;
  }
}
.rules-box {
  padding-top: 5px;
  padding-bottom: 20px;
}
.footer-hearts {
  position: relative;
  &__img {
    position: absolute;
    bottom: -217px;
  }
}
@media only screen and (max-width: 768px) {
  .footer-hearts {
    &__img {
      bottom: -54px;
    }
  }
  .heart-mob {
    display: none;
  }
  .category-mob {
    display: block;
  }
  .category-desk {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .content {
    padding-left: 5px;
    padding-right: 5px;
    &__type {
      height: 40px;

      &__p {
        font-size: 12px;
      }
    }
    &__sex {
      &__type {
        height: 45px;
        &__img {
          height: 30px;
        }
      }
    }
  }
}
@media only screen and (max-width: 545px) {
  .banner-img-mob {
    display: block;
  }
  .banner-img-desk {
    display: none;
  }
}
