@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}
@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeocapscaps-Semibold;
}

@font-face {
  src: url(../fonts/MARKGEOCAPS-SEMIBOLD.TTF);
  font-family: markgeocapscaps-Semiboldcaps;
}
@font-face {
  src: url(../fonts/HELVETICANEUELTGEOW82-75BD.TTF);
  font-family: helve-bold;
}
@font-face {
  src: url(../fonts/HELVETICANEUELTGEOW82-55RM.TTF);
  font-family: helve-bold-rm;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #f9f9fb;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
.messenger-btn {
  margin-left: 20px;
}
.banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__h1 {
    font-family: markgeocapscaps-Semiboldcaps;
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  &__p {
    font-family: markgeo-regular;
    font-size: 16px;
    line-height: 1.2;
  }

  &__btn {
    width: 200px;
    height: 65px;
    background: #7a1dff;
    border-radius: 12px;
    border: none;
    outline: none;
    text-decoration: none;

    &__p {
      color: white;
      font-family: markgeocapscaps-medium;
      background-color: unset !important;
    }
  }
  &__text-img {
    height: 20px;
  }
  &__img1 {
    margin-left: 5px;
  }
}

button {
  border: none;
  outline: none;
  text-decoration: none;
}
button:active {
  outline: none;
}
button:focus {
  outline: none;
}
.banner-img-mob {
  display: none;
}
.banner__btn__p-here:active {
  box-shadow: 0 0 0 0.2rem #fd561f !important;
}
.banner__btn-start:active {
  box-shadow: 0 0 0 0.2rem #7a1dff !important;
}

.category {
  padding: 5px !important;

  &__text {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    box-shadow: 0px 2px 5px #0000001a;
    border-radius: 0px 0px 10px 10px;

    &__p {
      color: #f72163;
      font-family: markgeocaps-medium;
      font-size: 20px;
    }
  }
}
.category:hover > .category__text > .category__text__p {
  font-weight: bold !important;
}
.heart-1 {
  position: absolute;
  top: -14px;
  left: -21px;
  z-index: 1;
  height: 46px;
}
.heart-2 {
  position: absolute;
  bottom: -5px;
  right: -22px;
  z-index: 1;
  height: 46px;
}
.category-section {
  background-color: #7a24fb0d;
  padding-top: 5px;
  padding-bottom: 30px;
  margin-top: 30px;
  &__h1 {
    text-align: center;
    font-family: markgeocapscaps-Semiboldcaps;
    font-size: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}

.category-mob {
  display: none;
}
.content {
  padding-left: 30px;
  padding-right: 30px;
  &__type {
    background: #7a1dff;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #7a24fb33;
    &__p {
      font-family: markgeocaps-medium;
      color: white;
      font-size: 20px;
    }
  }

  &__sex {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    &__type:hover {
      background-color: rgba(122, 29, 255, 0.1);
    }
    &__type {
      border: 2px solid #7a1dff;
      border-radius: 10px;
      height: 100px;
      width: 49%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.gift-btn:hover {
  background-color: #d2e7f4;
}
.gift-btn {
  border: 2px solid #1caafc;
  border-radius: 10px;
  width: 300px;
  height: 65px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: white;

  &__p {
    font-size: 20px;
    color: #1caafc;
    font-family: markgeocapscaps-Semiboldcaps;
  }
}
.another-btn {
  margin-top: 22px;
  margin-bottom: 30px;
}
.another-btn:hover {
  box-shadow: 0px 5px 10px #7a24fb33;
  border: 5px solid #fd561f;
  outline: #fd561f;
}
.rules {
  margin-top: 10px;
  display: flex;
  align-items: end;
  &__p {
    font-family: markgeo-regular;
    font-size: 13px;
    line-height: 1.3;
    z-index: 9999999;
  }
  &__img {
    height: 25px;
    margin-right: 5px;
    z-index: 9999999;
  }
}
.rules-box {
  padding-top: 5px;
  padding-bottom: 20px;
}
.footer-hearts {
  position: relative;
  &__img {
    position: absolute;
    bottom: -217px;
  }
}
.full-div {
  position: absolute;
  bottom: -230px;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: -61px;
  width: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #161e3f;
  height: 65px;
}

.footer__media-icon .linkedin {
  margin: 0 10px;
}

.footer__media-icon__img {
  height: 20px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-family: markgeo-regular;
}

.footer__box__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__box__img {
  margin: 0 5px;
}
.soc-media-img {
  margin-top: 10px;
  height: 50px;
  width: 50px;
}
.logo-soc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 22px;
}
@media only screen and (max-width: 992px) {
  .category__text__p {
    font-size: 12px;
  }
  .banner__p {
    font-size: 12px;
  }
  .banner__h1 {
    font-size: 16px;
  }
}
.three-btn {
  border: 2px solid #f72163;
  border-radius: 10px;
  height: 53px;
  margin-top: 8px;
  background: #ede1e5;
  box-shadow: 0px 5px 10px #0000004d;
  margin-right: 20px;
  &__p {
    color: #f72163;
    font-size: 16px;
    font-family: markgeo-bold;
    width: 150px;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .three-btn {
    height: 38px;
    margin-right: 4px;
    border-radius: 10px;
    &__p {
      font-size: 10px;
      width: 82px;
    }
    .quiz-btn {
      height: 38px;
    }
  }
  .messenger-btn {
    margin-left: 15px;
  }
  .banner__text-img {
    height: 14px;
  }
  .gift-btn {
    width: 200px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .gift-btn__p {
    font-size: 13px;
  }
  .pink-heart {
    height: 17px;
    padding-top: 0px;
    margin-left: 5px;
  }
  .category__text__p {
    font-size: 15px;
  }
  .category__text {
    height: 50px;
  }
  .category-section__h1 {
    font-size: 13px;
  }
  .heart-1 {
    height: 41px;
  }
  .heart-2 {
    right: -12px;
    height: 41px;
  }
  .banner__btn {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    &__p {
      font-size: 10px;
    }
  }
  .banner {
    align-items: center;
  }
  .banner__h1 {
    margin-top: 10px;
    font-size: 16px;
  }
  .banner__p {
    margin-top: 10px;
    line-height: 1.3;
  }
  .messenger-btn {
    margin-left: 0;
  }
  .soc-media-img {
    height: 35px;
  }
  .header-logo {
    height: 27px;
  }
  .footer__box__span {
    font-size: 10px;
  }
  .full-div {
    bottom: -45px;
  }
  .footer-hearts {
    &__img {
      bottom: -54px;
    }
  }
  .heart-mob {
    display: none;
  }
  .category-mob {
    display: block;
  }
  .category-desk {
    display: none;
  }
}
.header-logo {
  margin-top: 8px;
}
@media only screen and (max-width: 768px) {
  .rules__img {
    margin-left: 5px;
  }
  .content {
    padding-left: 5px;
    padding-right: 5px;
    &__type {
      height: 40px;

      &__p {
        font-size: 12px;
      }
    }
    &__sex {
      &__type {
        height: 45px;
        &__img {
          height: 30px;
        }
      }
    }
  }
}
@media only screen and (max-width: 545px) {
  .banner-img-mob {
    display: block;
  }
  .banner-img-desk {
    display: none;
  }
}
