@font-face {
    src: url(../fonts/MarkGEO-Bold.ttf);
    font-family: markgeo-bold;
}

@font-face {
    src: url(../fonts/MarkGEO-Regular.ttf);
    font-family: markgeo-regular;
}

@font-face {
    src: url(../fonts/MarkGEO-SemiBold.ttf);
    font-family: markgeo-semibold;
}
@font-face {
    src: url(../fonts/MarkGEOCAPS-Bold.ttf);
    font-family: markgeocaps-bold;
}
body{
    background-image: url(..//image/backgroundi.png);
    width: 100%;
}
a:hover {
    text-decoration: none;
    color: white;
}

a {
    color: white;
}
.visa-setting-title{
    font-family: markgeocaps-bold;
    color: white;
}
.visa-use{
    font-family: markgeo-semibold;
}
////btst////dropwowm///@at-root
.card-header{
    background: transparent linear-gradient(267deg, #016CDE 0%, #003674 100%) 0% 0% no-repeat padding-box;
}
///////////////////////////////

.main-header-text{
    font-size: 26px!important;
}
.button-a{
    text-align: center;
    text-decoration: none;
    background: #9FC224;
    display: inline-block;
    color: white;
    padding: 18px 44px;
    font-size: 30px;
    font-family: markgeocaps-bold;
}
.component-text{
    font-size: 34px;
    color: white;
    font-family: markgeocaps-bold;
    margin-bottom: 20px;

}


.how-use-sale-div{
    text-align: center;

    .how-use-sale{
        font-family: markgeocaps-bold;
        font-size: 30px;
        color: white;
        text-align: center;
        margin-bottom: 30px;

    }
}
.mobile-full-page{
    display: none;
}
.footer-paddings{
    padding: 25px 25px;
}

/////bootstrapclasses//////@at-root
.card-header{
    padding: 0;
}
.card{
    border: none;
    // background-color: #fff0!important;
}
////////////////////////////////
.my-card{
    margin: 10px 0;
}
.dropdown-icon-footer{
    width: 46px;
}
.color{
    background:red;
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg)!important;
}
// .rotate {
//     -ms-transform: rotate(180deg); /* IE 9 */
// transform: rotate(180deg);
// }

.dropdown-icon-footer-1{
    height: 46px;
}
.dropdown-icon-footer-2{
    height: 46px;
}
.dropdown-icon-footer-3{
    height: 46px;
}

@media only screen and (max-width: 992px) {
    .tbc{
        margin-top: 10px;
    }
    .bog{
        width: 100%;
    }
    .tbc{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .desktop-full-page{
        display: none;
    }
    .mobile-full-page{
        display: block;
    }
    .mobile-img{
        margin: 50px 0;
    }
    .component-text{
        margin-bottom: 0;
    }
    .main-header-text{
        margin-top: 14px;

    }
}
@media only screen and (max-width: 575px) {
    .button-a{
        font-size: 19px;
    }
    .footer-paddings {
        padding: 20px 5px;
    }
    .how-use-sale{
        font-size: 19px!important;
        margin: 20px 0;
    }
    .visa-setting-title{
        font-size: 15px!important;
    }
    .dropdown-icon-footer-1{
        height: 30px!important;
    }
    .dropdown-icon-footer-2{
        height: 30px!important;
    }
    .dropdown-icon-footer-3{
        height: 30px!important;
    }
}

@media only screen and (max-width: 414px) {
    .component-text {
        font-size: 22px!important;
        
    }
    .main-header-text{
        font-size: 20px!important;

    }
}

