@font-face {
    src: url(../fonts/MarkGEO-Bold.ttf);
    font-family: markgeo-bold;
}

@font-face {
    src: url(../fonts/MarkGEO-Regular.ttf);
    font-family: markgeo-regular;
}

@font-face {
    src: url(../fonts/MarkGEO-SemiBold.ttf);
    font-family: markgeo-semibold;
}
@font-face {
    src: url(../fonts/MarkGEOCAPS-Bold.ttf);
    font-family: markgeocaps-bold;
}

body, html, .app {
    height: 100%;
  }
.hidden-row{
    display: none;
}
.bog-inside-text{
    padding-left:50px;
}
.footer-text{
    font-size: 16px;
}
.extra-footer{
    font-family: markgeo-regular;

}
.mg-head-text{
    text-align: center;
    color: white;
    font-family: markgeocaps-bold;
    margin-bottom: 20px;
    line-height: 1.2;
    font-size: 25px;
}
p{
    text-decoration: none!important;


}

button:hover{
    box-shadow: none !important;
    text-decoration: none!important;

}
button:focus{
    box-shadow: none !important;
    text-decoration: none!important;

}
html {
    scroll-behavior: smooth;
  }
body{
    background-image: url(..//image/backgroundi.png);
    width: 100%;
}
a:hover {
    text-decoration: none;
    color: white;
}

a {
    color: white;
}
.checked-icon{
    height: 20px;
}
.visa-setting-title{
    font-family: markgeocaps-bold;
    color: white;
    text-align: left;
}
.last-child{
    align-items: flex-start!important;
}
.bog-native-arrow{
    height: 12px;
    margin-left: 5px;
}
.tbc-native-arrow{
    height: 12px;
    margin-left: 5px;
}
.checked-icon-box {
    line-height: 1.9;
    align-items: center;
    margin: 10px 0;
}
.visa-use{
    font-family: markgeo-semibold;
    text-align: start;
    line-height: 1.7;
    margin-left: 7px;
}
////btst////dropwowm///@at-root
.card-header{
    background: transparent linear-gradient(267deg, #016CDE 0%, #003674 100%) 0% 0% no-repeat padding-box;
    border-bottom: none;
}
///////////////////////////////

.main-header-text{
    font-size: 2vw!important;
}
.button-a{
    text-align: center;
    text-decoration: none;
    background: #9FC224;
    display: inline-block;
    color: white;
    padding: 18px 44px;
    font-size: 30px;
    font-family: markgeocaps-bold;
}
.component-text{
    font-size: 34px;
    color: white;
    font-family: markgeocaps-bold;
    margin-bottom: 20px;
    line-height: 1.2;

}


.how-use-sale-div{
    text-align: center;
    margin-top: 40px;

    .how-use-sale{
        font-family: markgeocaps-bold;
        font-size: 30px;
        color: white;
        text-align: center;
        margin-bottom: 50px;

    }
}
.mobile-full-page{
    display: none;
}
.footer-paddings{
    padding: 25px 25px;
}

/////bootstrapclasses//////@at-root
.card-header{
    padding: 0;
}
.card{
    border: none;
    // background-color: #fff0!important;
}
////////////////////////////////
.my-card{
    margin: 20px 0;
}
.dropdown-icon-footer{
    width: 46px;
}
.color{
    background:red;
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg)!important;
}


.dropdown-icon-footer-1{
    height: 35px;
}
.dropdown-icon-footer-2{
    height: 35px;
}
.dropdown-icon-footer-3{
    height: 35px;
}
.dropdown-icon-footer-4{
    height: 35px;
}
.dropdown-icon-footer-5{
    height: 35px;
}
.dropdown-icon-footer-6{
    height: 35px;
}
.tbc-clps{
    display: inline-flex;
    justify-content: center;
}
.bog{
    background:#FE6410!important;
    border-color: #FE6410!important;
    font-family: markgeo-semibold;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.bog:focus{
    box-shadow: none;
}
.bog:focus-within{
    box-shadow: none;
}
.bog:visited{
    box-shadow: none;
}
.bog{
    background:#FE6410!important;
    border-color: #FE6410!important;
    padding: 15px;
    margin-right: 5px;
}
.tbc{
    background:#00A3E0!important;
    border-color: #00A3E0!important;
    padding: 15px;
    font-family: markgeo-semibold;
    margin-left: 5px;


}
.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.tbc:focus{
    box-shadow: none;
}
.tbc:focus-within{
    box-shadow: none;
}
.tbc:visited{
    box-shadow: none;
}
.tbc-clps{
    display: inline-flex;
    justify-content: center;
}

.category-description{
    text-align: center;
    font-size: 17x;
    font-family: markgeo-bold;
    color: white;
    line-height: 1.3;
}
.category-title{
    color: white;
    font-family: markgeocaps-bold;
    font-size: 28px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.second-category-row{
    margin-top: 60px;
    margin-bottom: 60px;
}
.information{
    height: 30px;
    margin-right: 15px;
}
.rules-conditions{
    color: white;
    font-size: 18px;
    font-family: markgeo-semibold;
    line-height: 1.5;

}
.linkedin-icon{
    margin: 0 10px;
}
.card-for-respo{
    display: none;
}
@media only screen and (max-width: 992px) {
    .bog-inside-text{
        padding-left:0!important;
    }
    .hidden-category-div{
        display: none;

    }
    .hidden-row{
        display: flex;
    }
    .tbc{
        margin-top: 10px;

    }
    .bog{
        width: 100%;
        margin-right: 0;
    }
    .tbc{
        width: 100%;
        margin-left: 0;
    }
    .category-div{
        margin-top: 40px;
    }
}

@media only screen and (max-width: 768px) {
    
    .mg-head-text{
        font-size: 18px;
    }
    .how-use-sale-div{
        padding:0;
    }
    .rules-conditions{
        font-size: 16px;
    }
    .category-title{
        
        margin-top: 75px;
        margin-bottom: 35px;
    }
    .second-category-row{
        margin: 0;
    }
    .categoty-div-lst-two-child{
        margin-bottom: 20px;
    }
    
    
    
    
}

@media only screen and (max-width: 575px) {
    .footer-text{
        font-size: 12px;
    }
    .linkedin-icon{
        margin: 0 5px;
    }

    

    .mobile-img{
        padding: 0 20px;
    }
    .component-text{
        margin-bottom: 0;
    }
    .main-header-text{
        margin-top: 0px;
        margin-bottom: 10px;

    }



    .checked-icon-box {
        align-items: flex-start;
    }
    .button-a{
        font-size: 19px;
    }
    .footer-paddings {
        padding: 20px 5px;
    }
    .how-use-sale{
        font-size: 18px!important;
        margin: 20px 0;
        line-height: 1.3;
        padding:0 15px;
    }
    .visa-setting-title{
        font-size: 15px!important;
    }
    .dropdown-icon-footer-1{
        height: 30px!important;
    }
    .dropdown-icon-footer-2{
        height: 30px!important;
    }
    .dropdown-icon-footer-3{
        height: 30px!important;
    }
    .dropdown-icon-footer-4{
        height: 30px!important;
    }
    .dropdown-icon-footer-5{
        height: 30px!important;
    }
    .dropdown-icon-footer-6{
        height: 30px!important;

    }



    .dsp-none-for-mb{
        display: none;
    }
    .card-for-respo{
        display: block;
    }
}

@media only screen and (max-width: 414px) {

    .component-text {
        font-size: 22px!important;
        
    }
    .main-header-text{
        font-size: 20px!important;

    }
    .mobile-arrow{
        height: 20px;
    }
}
@media only screen and (max-width: 320px) {
    
    .main-header-text{
        font-size: 16px!important;
    }
    .footer-paddings{
        font-size: 12px;

    }


}
