@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeocapscaps-Semibold;
}

@font-face {
  src: url(../fonts/MARKGEOCAPS-SEMIBOLD.TTF);
  font-family: markgeocapscaps-Semiboldcaps;
}

@font-face {
  src: url(../fonts/HELVETICANEUELTGEOW82-75BD.TTF);
  font-family: helve-bold;
}

@font-face {
  src: url(../fonts/HELVETICANEUELTGEOW82-55RM.TTF);
  font-family: helve-bold-rm;
}

.see-all-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.see-all-product .see-all-product-div {
  background-color: #ffc208;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.see-all-product .see-all-product-div .see-all-product-p {
  font-size: 23px;
  color: white;
  font-family: markgeocaps-bold;
}

.see-all-product .see-all-product-div .extra-svg {
  height: 45px;
  margin-right: 10px;
}

.info-icon {
  margin-right: 10px;
}

.call-button {
  color: white;
  margin-left: 10px;
  font-family: markgeocapscaps-Semiboldcaps;
}

.call-button:hover {
  color: white;
}

.soc-media {
  margin: 0 20px;
  width: 303px;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 10px 10px #00000029;
          box-shadow: 0px 10px 10px #00000029;
  border-radius: 10px;
  margin-top: 40px;
}

.msng-p {
  font-size: 16px;
  margin-left: 10px;
  font-family: markgeocapscaps-Semiboldcaps;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9fb;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

.messenger-btn {
  margin-left: 20px;
}

.banner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner__h1 {
  font-family: markgeocapscaps-Semiboldcaps;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.banner__p {
  font-family: markgeo-regular;
  font-size: 17px;
  line-height: 1.3;
}

.banner__btn:hover {
  background-color: #fae4eb;
}

.banner__btn {
  width: 150px;
  height: 50px;
  background: #f72163;
  border-radius: 12px;
  border: none;
  outline: none;
  text-decoration: none;
}

.banner__btn__p {
  color: white;
  font-family: markgeocapscaps-medium;
  background-color: unset !important;
  font-size: 14px;
}

.banner__text-img {
  height: 20px;
}

.banner__img1 {
  margin-left: 5px;
}

button {
  border: none;
  outline: none;
  text-decoration: none;
}

button:active {
  outline: none;
}

button:focus {
  outline: none;
}

.banner-img-mob {
  display: none;
}

.banner__btn__p-here:active {
  -webkit-box-shadow: 0 0 0 0.2rem #fd561f !important;
          box-shadow: 0 0 0 0.2rem #fd561f !important;
}

.banner__btn-start:active {
  -webkit-box-shadow: 0 0 0 0.2rem #fae4eb !important;
          box-shadow: 0 0 0 0.2rem #fae4eb !important;
}

.category-col-divs {
  margin-top: 10px;
}

.grey-line {
  width: 100%;
  height: 2px;
  background-color: #e4e4e4;
  margin-top: 60px;
  margin-bottom: 80px;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 235px;
  max-width: 350px;
  margin-bottom: 10px;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #faebf0;
  border-radius: 10px;
}

.category__img {
  border-radius: 10px;
  margin-bottom: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.category__img:hover {
  -webkit-transform: translate(0px, -24px);
          transform: translate(0px, -24px);
}

.category__text {
  position: absolute;
  top: 12px;
  left: 25px;
  border-radius: 0px 0px 10px 10px;
}

.category__text__p {
  color: black;
  font-family: markgeocapscaps-Semiboldcaps;
  font-size: 16px;
}

.category__img {
  height: 196px;
}

.category-col-divs:hover .category__img {
  -webkit-transform: translate(0px, -15px);
          transform: translate(0px, -15px);
  color: red;
}

.category:hover > .category__text > .category__text__p {
  font-weight: bold !important;
}

.heart-1 {
  position: absolute;
  top: -14px;
  left: -21px;
  z-index: 1;
  height: 46px;
}

.heart-2 {
  position: absolute;
  bottom: -5px;
  right: -22px;
  z-index: 1;
  height: 46px;
}

.category-section {
  padding-top: 5px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.category-section__h1 {
  text-align: center;
  font-family: markgeocaps-bold;
  font-size: 25px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.category-mob {
  display: none;
}

.content {
  padding-left: 30px;
  padding-right: 30px;
}

.content__type {
  background: #7a1dff;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px #7a24fb33;
          box-shadow: 0px 5px 10px #7a24fb33;
}

.content__type__p {
  font-family: markgeocaps-medium;
  color: white;
  font-size: 20px;
}

.content__sex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.content__sex__type:hover {
  background-color: rgba(122, 29, 255, 0.1);
}

.content__sex__type {
  border: 2px solid #7a1dff;
  border-radius: 10px;
  height: 100px;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gift-btn:hover {
  background-color: #d2e7f4;
}

.gift-btn {
  border: 2px solid #1caafc;
  border-radius: 10px;
  width: 300px;
  height: 65px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: white;
}

.gift-btn__p {
  font-size: 20px;
  color: #1caafc;
  font-family: markgeocapscaps-Semiboldcaps;
}

.another-btn {
  margin-top: 22px;
  margin-bottom: 30px;
}

.another-btn:hover {
  -webkit-box-shadow: 0px 5px 10px #7a24fb33;
          box-shadow: 0px 5px 10px #7a24fb33;
  border: 5px solid #fd561f;
  outline: #fd561f;
}

.rules {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.rules__p {
  font-family: markgeo-regular;
  font-size: 17px;
  line-height: 1.3;
  z-index: 9999999;
}

.rules__img {
  display: none;
  height: 25px;
  margin-right: 5px;
  z-index: 9999999;
}

.rules-box {
  padding-top: 5px;
  padding-bottom: 20px;
}

.footer-hearts {
  position: relative;
}

.footer-hearts__img {
  position: absolute;
  bottom: -217px;
}

.full-div {
  position: absolute;
  bottom: -109px;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: -61px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #161e3f;
  height: 65px;
}

.footer__media-icon .linkedin {
  margin: 0 10px;
}

.footer__media-icon__img {
  height: 20px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-family: markgeo-regular;
}

.footer__box__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__box__img {
  margin: 0 5px;
}

.soc-media-img {
  margin-top: 10px;
  height: 50px;
  width: 50px;
}

.logo-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19px;
  margin-bottom: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mother-gift {
  background-image: url(../image/change-back.png);
  width: 100%;
  height: 473px;
  margin-top: 30px;
  padding-top: 10px;
  border-radius: 10px;
}

.b-banner {
  margin-bottom: 10px;
}

.mother-gift-box {
  background-image: url(../image/15.png);
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  border-radius: 12px;
  margin-top: 28px;
}

.mother-gift-box__alert {
  position: absolute;
  bottom: 0;
  background-color: #f4f9fcad;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px 0px 12px 12px;
}

.mother-gift-box__alert__p {
  font-family: markgeocapscaps-Semiboldcaps;
  font-size: 14px;
}

.mother-gift-box .arrow {
  margin-left: 4px;
}

.mother-gift-box .mother-gift-button {
  width: 120px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mother-gift-box .mother-gift-button__p {
  font-size: 12px;
}

.banner-img-one {
  margin-bottom: 20px;
}

.mother-gift-box-1 {
  background-image: url(../image/3.png);
}

.mother-gift-box-2 {
  background-image: url(../image/4.png);
}

.mother-gift-box-3 {
  background-image: url(../image/5.png);
}

.mother-gift-box-4 {
  background-image: url(../image/6.png);
}

.mother-gift-box-5 {
  background-image: url(../image/7.png);
}

.tooltipe-btn {
  bottom: -25px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.tooltipe-btn-first {
  display: block;
}

.m-navbar-div:hover .tooltipe-btn {
  display: block;
}

.m-navbar-div:hover .m-navbar__p {
  font-weight: bold;
}

.dd {
  display: block !important;
}

html {
  scroll-behavior: smooth;
}

.gift-cols {
  padding: 4px 10px 4px 10px;
}

.extra-banner-p {
  max-width: 486px;
}

.banner__btn-start:hover .banner__btn__p {
  color: #f72163;
  font-weight: bold;
}

.detail-back {
  margin-top: 15px;
  background-image: url(../image/det-desk.png);
  height: 1445px;
  background-size: contain;
  background-repeat: round;
  width: 100%;
}

.detailed-product-col {
  margin-top: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
}

.detailed-product-title {
  text-align: center;
  width: 300px;
}

.detailed-product-div {
  height: 300px;
  width: 300px;
}

.product-name,
.product-price {
  font-family: markgeo-bold;
  margin: 10px 0 10px 0;
  text-align: center;
}

.product-name {
  font-family: markgeo-regular;
}

.last-two-compo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.btn-two {
  background: #ffc208;
  margin-left: 5px;
}

.btn-two:hover {
  background: #ffc20859 !important;
}

.btn-two:hover > .banner__btn__p {
  color: #ffc208a3 !important;
}

.back-btn {
  margin-top: 48px;
  background-color: #fd5601;
}

.back-btn:hover {
  background-color: #fd56017a !important;
}

@media only screen and (max-width: 1025px) {
  .banner__btn {
    width: 120px;
  }
  .detailed-product-div {
    width: 270px;
  }
}

@media only screen and (max-width: 992px) {
  .tooltipe-btn {
    display: none;
  }
  .category__text__p {
    font-size: 12px;
  }
  .banner__p {
    font-size: 12px;
  }
  .banner__h1 {
    font-size: 16px;
  }
  .banner__btn {
    width: 100px;
  }
}

.three-btn {
  border: 2px solid #f72163;
  border-radius: 10px;
  height: 53px;
  margin-top: 8px;
  -webkit-box-shadow: 0px 5px 10px #0000004d;
          box-shadow: 0px 5px 10px #0000004d;
  margin-right: 20px;
}

@media only screen and (max-width: 765px) {
  .category-col-divs {
    padding: 0 5px 0 5px;
  }
  .banner-img-one {
    margin-bottom: 0;
  }
  .shop-now-dt {
    display: none;
  }
  .last-two-compo {
    display: none;
  }
  .gift-cols {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .detailed-product-title {
    width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    margin-left: 5px;
  }
  .detail-back {
    background-image: url(..//image/et.png);
    height: 1200px;
  }
  .product-name,
  .product-price {
    font-size: 12px;
  }
  .detailed-product-div {
    border-radius: 12px;
  }
  .detailed-product-col {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .tooltipe-btn {
    bottom: -17px;
  }
  .grey-line {
    height: 1px;
    margin-top: 8px;
    margin-bottom: 0px;
  }
  .mother-gift {
    height: 560px;
    background-image: url(../image/change-mob.png);
    padding-top: unset;
    margin-bottom: 10px !important;
  }
  .arrow {
    height: 7px;
    margin-left: 2px !important;
  }
  .mother-gift-box__alert {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 37px;
  }
  .mother-gift-box__alert__p {
    font-size: 9px;
  }
  .mother-gift-box {
    width: 214px;
    height: 140px;
    background-repeat: round;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mother-gift-button {
    height: 20px !important;
    width: 70px !important;
    border-radius: 6px !important;
    margin-top: 2px !important;
  }
  .mother-gift-button__p {
    font-size: 7px !important;
  }
  .category {
    height: 120px;
  }
  .category__img {
    height: 82px;
  }
  .see-all-product {
    margin-bottom: 52px;
    margin-top: 1px;
  }
  .call-sall {
    height: 14px;
  }
  .call-button {
    font-size: 9px;
  }
  .msng-p {
    font-size: 6px;
  }
  .msng-icon {
    height: 14px;
  }
  .soc-media {
    height: 41px;
    margin: 0 4px;
    width: 120px;
    border-radius: 8px;
  }
  .icon-set {
    height: unset;
    width: 50px;
  }
  .three-btn {
    height: 38px;
    margin-right: 4px;
    border-radius: 10px;
  }
  .three-btn__p {
    font-size: 10px;
    width: 82px;
  }
  .three-btn .quiz-btn {
    height: 38px;
  }
  .messenger-btn {
    margin-left: 15px;
  }
  .banner__text-img {
    height: 14px;
  }
  .gift-btn {
    width: 200px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .gift-btn__p {
    font-size: 13px;
  }
  .pink-heart {
    height: 17px;
    padding-top: 0px;
    margin-left: 5px;
  }
  .category__text__p {
    font-size: 11px;
  }
  .category__text {
    height: 50px;
    left: 12px;
  }
  .category-section__h1 {
    font-size: 13px;
  }
  .heart-1 {
    height: 41px;
  }
  .heart-2 {
    right: -12px;
    height: 41px;
  }
  .banner__btn {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    margin-top: 10px;
  }
  .banner__btn__p {
    font-size: 10px;
  }
  .mother-gift-button {
    margin-top: unset;
  }
  .banner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner__h1 {
    margin-top: 10px;
    font-size: 16px;
  }
  .banner__p {
    margin-top: 10px;
    line-height: 1.3;
  }
  .messenger-btn {
    margin-left: 0;
  }
  .soc-media-img {
    height: 35px;
  }
  .header-logo {
    height: 20px !important;
    margin-bottom: 6px;
  }
  .logo-soc {
    margin-bottom: 12px;
  }
  .footer__box__span {
    font-size: 10px;
  }
  .full-div {
    bottom: -18px;
  }
  .footer-hearts__img {
    bottom: -54px;
  }
  .heart-mob {
    display: none;
  }
  .category-mob {
    display: block;
  }
  .category-desk {
    display: none;
  }
}

.header-logo {
  height: 50px;
}

.m-navbar {
  background-color: #fbe4eb;
  border-radius: 10px;
  height: 50px;
}

.m-navbar__p {
  color: #f72163;
  font-size: 18px;
  text-align: center;
  font-family: markgeocaps-medium;
}

@media only screen and (max-width: 768px) {
  .rules__p {
    font-size: 12px;
    padding-right: 10px;
  }
  .detailed-product-div {
    height: 120px;
    width: 120px;
  }
  .m-navbar {
    height: 25px;
    border-radius: 5px;
  }
  .m-navbar__p {
    font-size: 12px;
  }
  .navbar-mob {
    padding-left: 0;
  }
  .header-logo-a {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rules__img {
    display: block;
  }
  .content {
    padding-left: 5px;
    padding-right: 5px;
  }
  .content__type {
    height: 40px;
  }
  .content__type__p {
    font-size: 12px;
  }
  .content__sex__type {
    height: 45px;
  }
  .content__sex__type__img {
    height: 30px;
  }
  .back-btn {
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 545px) {
  .banner-img-mob {
    display: block;
  }
  .banner-img-desk {
    display: none;
  }
  .mother-gift {
    margin: 0 15px 0 15px;
  }
}

@media only screen and (max-width: 360px) {
  .banner__btn {
    width: 77px;
  }
  .detailed-product-div {
    height: 120px;
    width: 120px;
  }
  .soc-media {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */