@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}
@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeocapscaps-Semibold;
}

@font-face {
  src: url(../fonts/MARKGEOCAPS-SEMIBOLD.TTF);
  font-family: markgeocapscaps-Semiboldcaps;
}
.card {
  border-radius: 10px;
  padding: 0;
  // margin: 2px;
  background: transparent url('img/Rectangle 41.png') 0% 0% no-repeat
    padding-box;
  box-shadow: 0px 5px 10px #00000080;
  border: 1px solid #707070;
  &__img-mob {
    display: none;
  }
  .snowflake1 {
    position: absolute;
    height: 74px;
    top: -48px;
    z-index: 99;
    left: 13px;
  }
  .snowflake2 {
    position: absolute;
    height: 90px;
    top: -58px;
    z-index: 99;
    right: 71px;
  }
  .snowflake3 {
    position: absolute;
    height: 88px;
    top: -59px;
    z-index: 99;
    right: -56px;
  }
  .snowflake4 {
    position: absolute;
    height: 125px;
    top: -73px;
    z-index: 99;
    right: -17px;
  }
  .snowflake11 {
    position: absolute;
    height: 74px;
    top: -53px;
    z-index: 99;
    left: -31px;
  }
  .snowflake22 {
    position: absolute;
    height: 60px;
    top: -85px;
    z-index: 99;
    right: 12px;
  }
  .snowflake33 {
    position: absolute;
    height: 72px;
    top: -41px;
    z-index: 99;
    left: 24px;
  }
  .snowflake44 {
    position: absolute;
    height: 90px;
    top: -72px;
    z-index: 99;
    right: -10px !important;
  }
  .snowflake111 {
    position: absolute;
    height: 90px;
    bottom: -53px;
    z-index: 99;
    left: -59px;
  }
  .snowflake222 {
    position: absolute;
    height: 74px;
    bottom: -44px;
    z-index: 99;
    left: 0;
  }
  .snowflake333 {
    position: absolute;
    height: 52px;
    bottom: -29px;
    z-index: 99;
    right: 22px;
  }
  // .snowflake1,
  // .snowflake2,
  // .snowflake3,
  // .snowflake4,
  // .snowflake11,
  // .snowflake22,
  // .snowflake33,
  // .snowflake44,
  // .snowflake111,
  // .snowflake222,
  // .snowflake333,
  // .snowflake444 {
  //   animation-name: spin;
  //   animation-duration: 19000ms;
  //   animation-iteration-count: infinite;
  //   animation-timing-function: linear;
  //   /* transform: rotate(3deg); */
  //   /* transform: rotate(0.3rad);/ */
  //   /* transform: rotate(3grad); */
  //   /* transform: rotate(.03turn);  */
  // }

  // @keyframes spin {
  //   from {
  //     transform: rotate(0deg);
  //   }
  //   to {
  //     transform: rotate(360deg);
  //   }
  // }
  .snowflake444 {
    position: absolute;
    height: 52px;
    bottom: 15px;
    z-index: 99;
    right: -19px;
  }

  .card-body {
    padding: unset;
    .card-title {
      height: 35px;
      font-size: 16px;
      font-family: markgeocapscaps-Semiboldcaps;
      text-align: center;
      margin-top: 1.25rem;
      margin-bottom: 0;
    }
    .card-text {
      height: 100px;
      font-family: markgeocaps-medium;
      font-size: 16px;
      line-height: 1.2;
      padding: 1.25rem;
      padding-top: 0;
    }
  }
}

html {
  scroll-behavior: smooth;
}
body {
  background-image: url(../image/bg.png);
  background-size: cover;
}
.container-fluid {
  max-width: 1900px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

.swiper-button-next:focus {
  outline: none !important;
}
.swiper-button-prev:focus {
  outline: none !important;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  margin: 10px 0;
  &__img {
    height: 50px;
  }
}

.home-wall {
  background-image: url(../image/1919.png);
  display: flex;
  justify-content: center;
  text-align: center;
  height: 462px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &__child {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;

    &__btn {
      width: 240px;
      height: 80px;
      margin-top: 75px;
      background-color: #fd561f;
      font-size: 20px;
      font-family: markgeocapscaps-Semiboldcaps;
      color: white;
      border-radius: 10px;
      line-height: 1.3;
      box-shadow: 0px 3px 6px #00000029;
      transition: 0.3s;
      &__a {
        color: white;
      }
      &__a:hover {
        color: white;
      }
    }

    &__btn:hover {
      background-color: #fa4c13;
    }
    &__btn:focus {
      box-shadow: 0 0 0 0.2rem #fa4c13 !important;
    }

    &__text {
      max-width: 850px;
      &__title-mob {
        display: none;
        width: 570px;
        font-size: 30px;
        font-family: markgeocapscaps-Semiboldcaps;
        width: 667px;
        line-height: 1.2;
        color: white;
      }
      &__title-desk {
        width: 570px;
        font-size: 60px;
        font-family: markgeocapscaps-Semiboldcaps;
        width: 667px;
        line-height: 1.2;
        color: white;
        display: inline;
      }
    }
  }
}
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
button:focus {
  outline: unset;
}

.btn,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.btn:focus {
  outline: unset;
}
.product-container {
  margin: 30px 0;
  display: flex;
  &__box {
    padding: 4px !important;
    &__btn-box {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 30px;

      &__btn {
        background-color: #1caafc !important;
        color: white;
        border-radius: 10px !important;
        width: 160px;
        height: 60px;
        align-items: center;
        display: flex;
        justify-content: center;
        box-shadow: 0px 3px 6px #00000029;
        font-family: markgeocapscaps-medium;

        &__detailed-page {
          width: 250px;
          margin-top: 0px !important;
          line-height: 1.2;
        }
        &__detailed-page:nth-child(2) {
          background-color: #f72163 !important;
          margin-left: 35px;
          border-color: #f72163 !important;
          box-shadow: unset !important;
        }
        &__detailed-page:nth-child(2):hover {
          background-color: #f53570 !important;
          // box-shadow: unset !important;
        }
        &__detailed-page:nth-child(2):active {
          box-shadow: 0 0 0 0.2rem #f72163 !important;
        }
        &__back-btn:hover {
          background-color: #7a24fbb5 !important;
        }
        &__back-btn:active {
          box-shadow: 0 0 0 0.2rem #7a24fbb5 !important;
        }
        &__back-btn {
          background-color: #7a24fb !important;
          width: 240px;
        }
      }
      &__btn:hover {
        background-color: #16a2f4;
        box-shadow: 0px 6px 12px #00000029;
      }
    }
  }
}
.connect-help {
  width: 100%;
  margin-bottom: 19px;
  &__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__p {
      text-align: center;
      font-family: markgeocapscaps-Semiboldcaps;
      font-size: 40px;
    }
    &__child {
      display: flex;
      justify-content: center;
      margin-top: 39px;
      &__btn-call {
        background-color: #ffc208;
        width: 300px;
        height: 80px;
        border-radius: 10px;
        margin-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__btn-call:hover {
        box-shadow: 0px 9px 12px #0000004d;
        transition: box-shadow 0.2s ease-in-out;
      }
      &__btn-call:focus {
        box-shadow: 0 0 0 0.2rem #ffc208 !important;
      }
      &__btn:hover {
        box-shadow: 0px 9px 12px #0000004d;
        transition: box-shadow 0.2s ease-in-out;
      }
      &__btn:focus {
        box-shadow: 0 0 0 0.2rem #7a4ff2 !important;
      }

      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7a4ff2;
        box-shadow: 0px 3px 6px #0000004d;

        border-radius: 10px;
        width: 300px;
        height: 80px;

        &__a {
          font-family: markgeocapscaps-Semiboldcaps;
          font-size: 16px;
          color: white;
          margin-left: 5px;
        }
        &__a:hover {
          color: white !important;
        }
      }
    }
  }
}
.footer {
  // position: absolute;
  // width: 100%;
  // bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #161e3f;
  height: 65px;
  &__media-icon {
    .linkedin {
      margin: 0 10px;
    }
    &__img {
      height: 20px;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    color: white;
    font-family: markgeo-regular;
    &__span {
      display: flex;
      align-items: center;
    }
    &__img {
      margin: 0 5px;
    }
  }
}
.extra-card {
  display: none;
}
.body {
  background-image: url(../image/2121.png);
}
.redirect-btn {
  background: #f72163 !important;
}
.redirect-btn:focus {
  box-shadow: 0 0 0 0.2rem red !important;
}
.redirect-btn-box {
  margin-top: 15px !important;
}
.redirect-p {
  text-align: center;
  font-size: 22px;
  font-family: markgeocapscaps-Semiboldcaps;
}
$baseFontSize: 14px;
$context: $baseFontSize;
$header-height: 3rem;
$color-bg: #fff7e0;
$color-cupBg: #8a795d;
@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

/////////coffee steam animatin////////
.coffee {
  position: absolute;
  right: 450px;
  top: 100px;
  &-cup {
    width: 250px;
    height: 250px;
    border: 1px solid inherit;
    border-radius: 0px 0px 100px 100px;
    background-color: $color-cupBg;
    position: relative;
    top: 40%;
    z-index: 20;
    // -webkit-box-shadow: -10px 13px 13px -4px rgba(138,121,93,0.89);
    // box-shadow: -10px 13px 13px -4px rgba(138,121,93,0.89);
  }
  &-holder {
    width: 100px;
    height: 150px;
    background-color: $color-cupBg;
    position: absolute;
    left: 210px;
    top: 45%;
    display: block;
    border-radius: 50px;
    z-index: 3;

    &_white {
      width: 65px;
      height: 100px;
      background-color: $color-bg;
      border-radius: 50px;
      position: absolute;
      left: 15px;
      top: 15%;
      z-index: -1;
    }
  }
  &-eye {
    width: 20px;
    height: 20px;
    background-color: #313131;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 25;
    animation: blinking 5s ease-in infinite;

    &__left {
      left: 20%;
    }
    &__right {
      left: 40%;
    }
  }
  &-smile {
    width: 48px;
    height: 18px;
    position: absolute;
    top: 70%;
    left: 28%;
    overflow: hidden;
    z-index: 30;

    &:before {
      content: '';
      position: absolute;
      width: 32px;
      height: 29px;
      border: 2px solid #1e2200;
      border-radius: 50%;
      top: -28px;
    }
  }
  &-cheek {
    width: 24px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 58%;
    z-index: 25;
    &--left {
      left: 15%;
    }
    &--right {
      left: 44%;
    }
  }
  &-drink {
    width: 250px;
    height: 60px;
    position: absolute;
    top: 33%;
    background-color: $color-cupBg;
    border-radius: 50%;
    z-index: 40;
    &_white {
      width: 220px;
      height: 40px;
      border-radius: 50%;
      top: 10px;
      position: absolute;
      z-index: 40;
      left: 15px;
      border-top: 7px solid white;
      background: white;
    }
  }
}

.steam {
  width: 1rem;
  height: 1rem;
  color: white;
  position: absolute;

  animation: steam-active 3s ease-out infinite;
  filter: blur(0.5rem);
  @for $index from 1 through 3 {
    &:nth-child(#{$index}n) {
      left: calc(25% - #{($index - 2) * 1.5rem});
    }
  }
  &:before {
    content: '~';
    transform: rotate(90deg) scaleX(15) scaleY(10);
    display: block;
  }
  &.large {
    animation-delay: 0.5s;
    &:before {
      transform: rotate(90deg) scaleX(20) scaleY(15);
    }
  }
}

@keyframes blinking {
  59.5% {
    height: 20px;
  }
  61% {
    height: 3px;
  }
  62.5% {
    height: 20px;
  }
}

@keyframes steam-active {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    transform: translateY(-5rem);
    opacity: 0;
  }
}
//////////////////////////////////////
.loader1 {
  background: radial-gradient(#222, #000);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 99999;
}

.loader-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 60px;
  margin: auto;
}

.loader-line-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 50px;
  box-sizing: border-box;
  overflow: hidden;
  transform-origin: 50% 100%;
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.loader-line {
  border: 4px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 100%;
  margin: 0 auto;
}
.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  width: 90px;
  height: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  width: 76px;
  height: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  width: 62px;
  height: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  width: 48px;
  height: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  width: 34px;
  height: 34px;
  top: 35px;
}
@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.personal {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  background: #e6f9ff5c;
  border-radius: 10px;
  margin-top: 27px;
  padding: 10px;
  z-index: 999;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;

  &__text {
    font-family: markgeo-semibold;
    font-size: 22px;
    color: black;
    text-align: left;
    line-height: 1.3;
    margin-left: 30px;
  }
  &__text-one {
    margin-top: 10px;
  }
}
.lana-mob {
  display: none;
}
.lana-title {
  text-align: left;
  margin-left: 30px;
  font-family: markgeocapscaps-Semiboldcaps;
  font-size: 25px;
  margin-top: 30px;
}
.lana-line {
  margin-left: 30px;
  height: 3px;
  max-width: 440px;
  background: black;
  margin-top: 2px;
  margin-bottom: 2px;
}
.lana-p {
  text-align: left;
  margin-left: 30px;
  font-family: markgeo-regular;
  font-size: 25px;
}
@media only screen and (max-width: 768px) {
  .lana-line {
    max-width: 142px;
    height: 1px;
    margin-left: 10px;
  }
  .lana-title {
    font-size: 8px;
    margin-left: 10px;
  }
  .lana-p {
    font-size: 8px;
    margin-left: 10px;
  }
  .lana-mob {
    display: block;
  }
  .lana-desk {
    display: none;
  }
  .detail-page-extra {
    height: 580 !important;
  }
  .personal {
    margin-top: 0;
  }
  .personal__text {
    margin-left: 10px;
    font-size: 8px;
  }
  .coffee {
    right: 130px;
    top: 24px;
  }
  .product-container-detailed-page {
    margin-top: 50px !important;
    margin-bottom: 200px !important;
  }
  .product-container__box__btn-box__btn__back-btn {
    width: 140px !important;
    font-size: 10px !important;
  }
  .redirect-p {
    font-size: 10px;
    max-width: 290px;
  }
  #section2 {
    margin-bottom: 0;
    padding-top: 0;
  }
  .redirect-btn-box {
    margin-top: 10px !important;
  }
  // .footer-detail-page {
  //   position: absolute;
  //   bottom: 0;
  //   width: 100%;
  // }

  .body {
    background-image: url(../image/222.png);
  }
  .header {
    height: unset;
    &__img {
      height: 22px;
    }
  }
  .home-wall {
    height: 300px;
    &__child {
      margin-left: 15px;
      &__btn {
        margin-top: 20px;
        font-size: 7px;
        width: 73px;
        height: 22px;
        border-radius: 5px;
      }

      &__text {
        width: 230px;

        text-align: center;

        &__title-mob {
          font-size: 15px;
          line-height: 1.2;
          display: none;
          width: 100%;
        }
        &__title-desk {
          font-size: 15px;
          line-height: 1.2;
        }
      }
    }
  }
  .hdn-card {
    display: none;
  }
  .extra-card {
    display: block;
  }
  .container-fluid {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  // .product-container {
  //   margin: 0;
  //   &__box {
  //     margin-top: 10px;
  //     padding: 5px;
  //     &__btn-box {
  //       margin: unset;
  //       margin-bottom: 10px;
  //       margin-top: 0px;

  //       &__btn {
  //         width: 100px;
  //         height: 40px;
  //         font-size: 12px;
  //       }
  //     }
  //   }
  // }
  // .card {
  //   background-color: #c5e1ea;
  //   height: 370px !important;
  // }
  // .card-title {
  //   font-size: 14px !important;
  // }
  // .card-text {
  //   font-size: 13px !important;
  //   padding: 2px !important;
  //   height: 90px !important;
  // }
  ////social media////@
  .connect-help__box__child__btn-call {
    width: 148px;
    height: 39px;
  }
  .connect-help {
    margin-top: 15px;
  }
  .connect-help__box__p {
    font-size: 15px;
  }
  .connect-help__box__child {
    margin-top: 18px;
  }

  .connect-help__box__child__btn {
    width: 148px;
    height: 39px;
    &__icon {
      height: 18px;
    }
    &__a {
      font-size: 6px;
    }
  }
  .connect-help__box__child__btn-call {
    margin-left: 19px;
  }
  ///////////////////
  //////////fotter/////////
  .footer__box__span {
    font-size: 10px;
  }
  ////////////////////////
  .product-container {
    margin: 0;
  }

  .card {
    &__img-desk {
      display: none;
    }
    &__img-mob {
      display: block;
    }
    .snowflake1 {
      top: -21px;
      left: -22px;
    }
    .snowflake2 {
      height: 50px;
      top: -19px;
      z-index: 99;
      right: -6px;
    }
    .snowflake3 {
      top: -110px;
      right: -49px;
    }
    .snowflake4 {
      position: absolute;
      height: 72px;
      top: -312px;
      z-index: 99;
      right: 0;
      left: 0;
    }
    .snowflake11 {
      position: absolute;
      height: 74px;
      top: -53px;
      z-index: 99;
      left: -31px;
    }
    .snowflake22 {
      position: absolute;
      height: 60px;
      top: -108px;
      z-index: 99;
      right: -12px;
    }
    .snowflake33 {
      position: absolute;
      height: 72px;
      top: 123px;
      z-index: 99;
      left: -25px;
    }
    .snowflake44 {
      position: absolute;
      height: 61px;
      top: -97px;
      z-index: 99;
      right: -17px;
    }
    .snowflake111 {
      position: absolute;
      height: 90px;
      bottom: -53px;
      z-index: 99;
      left: -59px;
    }
    .snowflake222 {
      position: absolute;
      height: 74px;
      top: 105px;
      z-index: 99;
      left: -23px;
    }
    .snowflake333 {
      position: absolute;
      height: 66px;
      bottom: -63px;
      z-index: 99;
      left: -20px;
    }
    .snowflake444 {
      position: absolute;
      height: 52px;
      bottom: 0;
      z-index: 99;
      right: -8px;
    }
  }
}
@media only screen and (max-width: 425px) {
  .home-wall {
    height: 135px;
  }
  .product-container__box__btn-box__btn__detailed-page {
    margin-top: 65px !important;
  }
  body {
    background-image: url(..//image/bg-mob.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .product-container {
    margin: 0;
    &__box {
      margin-top: 10px;
      padding: 5px;
      &__btn-box {
        margin: unset;
        margin-bottom: 10px;
        margin-top: 50px;
        &__extra {
          margin-top: -10px !important;
        }

        &__btn {
          width: 100px;
          height: 40px;
          font-size: 12px;
          z-index: 999;
          &__detailed-page {
            font-size: 10px;
          }

          &__detailed-page:nth-child(2) {
            margin-left: 9px;
          }
        }
      }
    }
  }
  .card {
    background-color: #c5e1ea;
    height: 420px !important;
  }
  .detail-page-card {
    height: 490px !important;
    &__body {
      padding: 0 8px !important;
    }
  }
  .card-title {
    font-size: 14px !important;
  }
  .card-text {
    font-size: 13px !important;
    padding: 5px !important;
    height: 90px !important;
    text-align: left;
    padding-left: 15px !important;
  }
  .detail-page-extra {
    height: 490px !important;
  }
  .antifriz-btns {
    margin-top: 55px !important;
  }
}
