@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeocapscaps-Semibold;
}

@font-face {
  src: url(../fonts/MARKGEOCAPS-SEMIBOLD.TTF);
  font-family: markgeocapscaps-Semiboldcaps;
}

.card {
  border-radius: 10px;
  padding: 0;
  background: transparent url("img/Rectangle 41.png") 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 5px 10px #00000080;
          box-shadow: 0px 5px 10px #00000080;
  border: 1px solid #707070;
}

.card__img-mob {
  display: none;
}

.card .snowflake1 {
  position: absolute;
  height: 74px;
  top: -48px;
  z-index: 99;
  left: 13px;
}

.card .snowflake2 {
  position: absolute;
  height: 90px;
  top: -58px;
  z-index: 99;
  right: 71px;
}

.card .snowflake3 {
  position: absolute;
  height: 88px;
  top: -59px;
  z-index: 99;
  right: -56px;
}

.card .snowflake4 {
  position: absolute;
  height: 125px;
  top: -73px;
  z-index: 99;
  right: -17px;
}

.card .snowflake11 {
  position: absolute;
  height: 74px;
  top: -53px;
  z-index: 99;
  left: -31px;
}

.card .snowflake22 {
  position: absolute;
  height: 60px;
  top: -85px;
  z-index: 99;
  right: 12px;
}

.card .snowflake33 {
  position: absolute;
  height: 72px;
  top: -41px;
  z-index: 99;
  left: 24px;
}

.card .snowflake44 {
  position: absolute;
  height: 90px;
  top: -72px;
  z-index: 99;
  right: -10px !important;
}

.card .snowflake111 {
  position: absolute;
  height: 90px;
  bottom: -53px;
  z-index: 99;
  left: -59px;
}

.card .snowflake222 {
  position: absolute;
  height: 74px;
  bottom: -44px;
  z-index: 99;
  left: 0;
}

.card .snowflake333 {
  position: absolute;
  height: 52px;
  bottom: -29px;
  z-index: 99;
  right: 22px;
}

.card .snowflake444 {
  position: absolute;
  height: 52px;
  bottom: 15px;
  z-index: 99;
  right: -19px;
}

.card .card-body {
  padding: unset;
}

.card .card-body .card-title {
  height: 35px;
  font-size: 16px;
  font-family: markgeocapscaps-Semiboldcaps;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 0;
}

.card .card-body .card-text {
  height: 100px;
  font-family: markgeocaps-medium;
  font-size: 16px;
  line-height: 1.2;
  padding: 1.25rem;
  padding-top: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../image/bg.png);
  background-size: cover;
}

.container-fluid {
  max-width: 1900px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.swiper-button-next:focus {
  outline: none !important;
}

.swiper-button-prev:focus {
  outline: none !important;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  margin: 10px 0;
}

.header__img {
  height: 50px;
}

.home-wall {
  background-image: url(../image/1919.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 462px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home-wall__child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-wall__child__btn {
  width: 240px;
  height: 80px;
  margin-top: 75px;
  background-color: #fd561f;
  font-size: 20px;
  font-family: markgeocapscaps-Semiboldcaps;
  color: white;
  border-radius: 10px;
  line-height: 1.3;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 9999999;
}

.home-wall__child__btn__a {
  color: white;
}

.home-wall__child__btn__a:hover {
  color: white;
}

.home-wall__child__btn:hover {
  background-color: #fa4c13;
}

.home-wall__child__btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #fa4c13 !important;
          box-shadow: 0 0 0 0.2rem #fa4c13 !important;
}

.home-wall__child__text {
  max-width: 850px;
}

.home-wall__child__text__title-mob {
  display: none;
  width: 570px;
  font-size: 30px;
  font-family: markgeocapscaps-Semiboldcaps;
  width: 667px;
  line-height: 1.2;
  color: white;
}

.home-wall__child__text__title-desk {
  width: 570px;
  font-size: 60px;
  font-family: markgeocapscaps-Semiboldcaps;
  width: 667px;
  line-height: 1.2;
  color: white;
  display: inline;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:focus {
  outline: unset;
}

.btn,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn:focus {
  outline: unset;
}

.product-container {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-container__box {
  padding: 4px !important;
}

.product-container__box__btn-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.product-container__box__btn-box__btn {
  background-color: #1caafc !important;
  color: white;
  border-radius: 10px !important;
  width: 160px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  font-family: markgeocapscaps-medium;
}

.product-container__box__btn-box__btn__detailed-page {
  width: 250px;
  margin-top: 0px !important;
  line-height: 1.2;
}

.product-container__box__btn-box__btn__detailed-page:nth-child(2) {
  background-color: #f72163 !important;
  margin-left: 35px;
  border-color: #f72163 !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.product-container__box__btn-box__btn__detailed-page:nth-child(2):hover {
  background-color: #f53570 !important;
}

.product-container__box__btn-box__btn__detailed-page:nth-child(2):active {
  -webkit-box-shadow: 0 0 0 0.2rem #f72163 !important;
          box-shadow: 0 0 0 0.2rem #f72163 !important;
}

.product-container__box__btn-box__btn__back-btn:hover {
  background-color: #7a24fbb5 !important;
}

.product-container__box__btn-box__btn__back-btn:active {
  -webkit-box-shadow: 0 0 0 0.2rem #7a24fbb5 !important;
          box-shadow: 0 0 0 0.2rem #7a24fbb5 !important;
}

.product-container__box__btn-box__btn__back-btn {
  background-color: #7a24fb !important;
  width: 240px;
}

.product-container__box__btn-box__btn:hover {
  background-color: #16a2f4;
  -webkit-box-shadow: 0px 6px 12px #00000029;
          box-shadow: 0px 6px 12px #00000029;
}

.connect-help {
  width: 100%;
  margin-bottom: 19px;
}

.connect-help__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connect-help__box__p {
  text-align: center;
  font-family: markgeocapscaps-Semiboldcaps;
  font-size: 40px;
}

.connect-help__box__child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 39px;
}

.connect-help__box__child__btn-call {
  background-color: #ffc208;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connect-help__box__child__btn-call:hover {
  -webkit-box-shadow: 0px 9px 12px #0000004d;
          box-shadow: 0px 9px 12px #0000004d;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.connect-help__box__child__btn-call:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #ffc208 !important;
          box-shadow: 0 0 0 0.2rem #ffc208 !important;
}

.connect-help__box__child__btn:hover {
  -webkit-box-shadow: 0px 9px 12px #0000004d;
          box-shadow: 0px 9px 12px #0000004d;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.connect-help__box__child__btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #7a4ff2 !important;
          box-shadow: 0 0 0 0.2rem #7a4ff2 !important;
}

.connect-help__box__child__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7a4ff2;
  -webkit-box-shadow: 0px 3px 6px #0000004d;
          box-shadow: 0px 3px 6px #0000004d;
  border-radius: 10px;
  width: 300px;
  height: 80px;
}

.connect-help__box__child__btn__a {
  font-family: markgeocapscaps-Semiboldcaps;
  font-size: 16px;
  color: white;
  margin-left: 5px;
}

.connect-help__box__child__btn__a:hover {
  color: white !important;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #161e3f;
  height: 65px;
}

.footer__media-icon .linkedin {
  margin: 0 10px;
}

.footer__media-icon__img {
  height: 20px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: markgeo-regular;
}

.footer__box__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box__img {
  margin: 0 5px;
}

.extra-card {
  display: none;
}

.body {
  background-image: url(../image/2121.png);
}

.redirect-btn {
  background: #f72163 !important;
}

.redirect-btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem red !important;
          box-shadow: 0 0 0 0.2rem red !important;
}

.redirect-btn-box {
  margin-top: 15px !important;
}

.redirect-p {
  text-align: center;
  font-size: 22px;
  font-family: markgeocapscaps-Semiboldcaps;
}

.coffee {
  position: absolute;
  right: 450px;
  top: 100px;
}

.coffee-cup {
  width: 250px;
  height: 250px;
  border: 1px solid inherit;
  border-radius: 0px 0px 100px 100px;
  background-color: #8a795d;
  position: relative;
  top: 40%;
  z-index: 20;
}

.coffee-holder {
  width: 100px;
  height: 150px;
  background-color: #8a795d;
  position: absolute;
  left: 210px;
  top: 45%;
  display: block;
  border-radius: 50px;
  z-index: 3;
}

.coffee-holder_white {
  width: 65px;
  height: 100px;
  background-color: #fff7e0;
  border-radius: 50px;
  position: absolute;
  left: 15px;
  top: 15%;
  z-index: -1;
}

.coffee-eye {
  width: 20px;
  height: 20px;
  background-color: #313131;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 25;
  -webkit-animation: blinking 5s ease-in infinite;
          animation: blinking 5s ease-in infinite;
}

.coffee-eye__left {
  left: 20%;
}

.coffee-eye__right {
  left: 40%;
}

.coffee-smile {
  width: 48px;
  height: 18px;
  position: absolute;
  top: 70%;
  left: 28%;
  overflow: hidden;
  z-index: 30;
}

.coffee-smile:before {
  content: '';
  position: absolute;
  width: 32px;
  height: 29px;
  border: 2px solid #1e2200;
  border-radius: 50%;
  top: -28px;
}

.coffee-cheek {
  width: 24px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 58%;
  z-index: 25;
}

.coffee-cheek--left {
  left: 15%;
}

.coffee-cheek--right {
  left: 44%;
}

.coffee-drink {
  width: 250px;
  height: 60px;
  position: absolute;
  top: 33%;
  background-color: #8a795d;
  border-radius: 50%;
  z-index: 40;
}

.coffee-drink_white {
  width: 220px;
  height: 40px;
  border-radius: 50%;
  top: 10px;
  position: absolute;
  z-index: 40;
  left: 15px;
  border-top: 7px solid white;
  background: white;
}

.steam {
  width: 1rem;
  height: 1rem;
  color: white;
  position: absolute;
  -webkit-animation: steam-active 3s ease-out infinite;
          animation: steam-active 3s ease-out infinite;
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
}

.steam:nth-child(1n) {
  left: calc(25% - -1.5rem);
}

.steam:nth-child(2n) {
  left: calc(25% - 0rem);
}

.steam:nth-child(3n) {
  left: calc(25% - 1.5rem);
}

.steam:before {
  content: '~';
  -webkit-transform: rotate(90deg) scaleX(15) scaleY(10);
          transform: rotate(90deg) scaleX(15) scaleY(10);
  display: block;
}

.steam.large {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.steam.large:before {
  -webkit-transform: rotate(90deg) scaleX(20) scaleY(15);
          transform: rotate(90deg) scaleX(20) scaleY(15);
}

@-webkit-keyframes blinking {
  59.5% {
    height: 20px;
  }
  61% {
    height: 3px;
  }
  62.5% {
    height: 20px;
  }
}

@keyframes blinking {
  59.5% {
    height: 20px;
  }
  61% {
    height: 3px;
  }
  62.5% {
    height: 20px;
  }
}

@-webkit-keyframes steam-active {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
    opacity: 0;
  }
}

@keyframes steam-active {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
    opacity: 0;
  }
}

.loader1 {
  background: radial-gradient(#222, #000);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 99999;
}

.loader-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 60px;
  margin: auto;
}

.loader-line-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
          animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.loader-line {
  border: 4px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100%;
  margin: 0 auto;
}

.loader-line-wrap:nth-child(1) {
  -webkit-animation-delay: -50ms;
          animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
  -webkit-animation-delay: -100ms;
          animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
  -webkit-animation-delay: -150ms;
          animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
  -webkit-animation-delay: -200ms;
          animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
  -webkit-animation-delay: -250ms;
          animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: #eb4747;
  width: 90px;
  height: 90px;
  top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
  border-color: #ebeb47;
  width: 76px;
  height: 76px;
  top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
  border-color: #47eb47;
  width: 62px;
  height: 62px;
  top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
  border-color: #47ebeb;
  width: 48px;
  height: 48px;
  top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
  border-color: #4747eb;
  width: 34px;
  height: 34px;
  top: 35px;
}

@-webkit-keyframes spin {
  0%,
  15% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0%,
  15% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  background: #e6f9ff5c;
  border-radius: 10px;
  margin-top: 27px;
  padding: 10px;
  z-index: 999;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.personal__text {
  font-family: markgeo-semibold;
  font-size: 22px;
  color: black;
  text-align: left;
  line-height: 1.3;
  margin-left: 30px;
}

.personal__text-one {
  margin-top: 10px;
}

.lana-mob {
  display: none;
}

.lana-title {
  text-align: left;
  margin-left: 30px;
  font-family: markgeocapscaps-Semiboldcaps;
  font-size: 25px;
  margin-top: 30px;
}

.lana-line {
  margin-left: 30px;
  height: 3px;
  max-width: 440px;
  background: black;
  margin-top: 2px;
  margin-bottom: 2px;
}

.lana-p {
  text-align: left;
  margin-left: 30px;
  font-family: markgeo-regular;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .lana-line {
    max-width: 142px;
    height: 1px;
    margin-left: 10px;
  }
  .lana-title {
    font-size: 8px;
    margin-left: 10px;
  }
  .lana-p {
    font-size: 8px;
    margin-left: 10px;
  }
  .lana-mob {
    display: block;
  }
  .lana-desk {
    display: none;
  }
  .detail-page-extra {
    height: 580 !important;
  }
  .personal {
    margin-top: 0;
  }
  .personal__text {
    margin-left: 10px;
    font-size: 8px;
  }
  .coffee {
    right: 130px;
    top: 24px;
  }
  .product-container-detailed-page {
    margin-top: 50px !important;
    margin-bottom: 200px !important;
  }
  .product-container__box__btn-box__btn__back-btn {
    width: 140px !important;
    font-size: 10px !important;
  }
  .redirect-p {
    font-size: 10px;
    max-width: 290px;
  }
  #section2 {
    margin-bottom: 0;
    padding-top: 0;
  }
  .redirect-btn-box {
    margin-top: 10px !important;
  }
  .body {
    background-image: url(../image/222.png);
  }
  .header {
    height: unset;
  }
  .header__img {
    height: 22px;
  }
  .home-wall {
    height: 300px;
  }
  .home-wall__child {
    margin-left: 15px;
  }
  .home-wall__child__btn {
    margin-top: 20px;
    font-size: 7px;
    width: 73px;
    height: 22px;
    border-radius: 5px;
  }
  .home-wall__child__text {
    width: 230px;
    text-align: center;
  }
  .home-wall__child__text__title-mob {
    font-size: 15px;
    line-height: 1.2;
    display: none;
    width: 100%;
  }
  .home-wall__child__text__title-desk {
    font-size: 15px;
    line-height: 1.2;
  }
  .hdn-card {
    display: none;
  }
  .extra-card {
    display: block;
  }
  .container-fluid {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 10px;
  }
  .connect-help__box__child__btn-call {
    width: 148px;
    height: 39px;
  }
  .connect-help {
    margin-top: 15px;
  }
  .connect-help__box__p {
    font-size: 15px;
  }
  .connect-help__box__child {
    margin-top: 18px;
  }
  .connect-help__box__child__btn {
    width: 148px;
    height: 39px;
  }
  .connect-help__box__child__btn__icon {
    height: 18px;
  }
  .connect-help__box__child__btn__a {
    font-size: 6px;
  }
  .connect-help__box__child__btn-call {
    margin-left: 19px;
  }
  .footer__box__span {
    font-size: 10px;
  }
  .product-container {
    margin: 0;
  }
  .card__img-desk {
    display: none;
  }
  .card__img-mob {
    display: block;
  }
  .card .snowflake1 {
    top: -21px;
    left: -22px;
  }
  .card .snowflake2 {
    height: 50px;
    top: -19px;
    z-index: 99;
    right: -6px;
  }
  .card .snowflake3 {
    top: -110px;
    right: -49px;
  }
  .card .snowflake4 {
    position: absolute;
    height: 72px;
    top: -312px;
    z-index: 99;
    right: 0;
    left: 0;
  }
  .card .snowflake11 {
    position: absolute;
    height: 74px;
    top: -53px;
    z-index: 99;
    left: -31px;
  }
  .card .snowflake22 {
    position: absolute;
    height: 60px;
    top: -108px;
    z-index: 99;
    right: -12px;
  }
  .card .snowflake33 {
    position: absolute;
    height: 72px;
    top: 123px;
    z-index: 99;
    left: -25px;
  }
  .card .snowflake44 {
    position: absolute;
    height: 61px;
    top: -97px;
    z-index: 99;
    right: -17px;
  }
  .card .snowflake111 {
    position: absolute;
    height: 90px;
    bottom: -53px;
    z-index: 99;
    left: -59px;
  }
  .card .snowflake222 {
    position: absolute;
    height: 74px;
    top: 105px;
    z-index: 99;
    left: -23px;
  }
  .card .snowflake333 {
    position: absolute;
    height: 66px;
    bottom: -63px;
    z-index: 99;
    left: -20px;
  }
  .card .snowflake444 {
    position: absolute;
    height: 52px;
    bottom: 0;
    z-index: 99;
    right: -8px;
  }
}

@media only screen and (max-width: 425px) {
  .home-wall {
    height: 135px;
  }
  .product-container__box__btn-box__btn__detailed-page {
    margin-top: 65px !important;
  }
  body {
    background-image: url(..//image/bg-mob.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .product-container {
    margin: 0;
  }
  .product-container__box {
    margin-top: 10px;
    padding: 5px;
  }
  .product-container__box__btn-box {
    margin: unset;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .product-container__box__btn-box__extra {
    margin-top: -10px !important;
  }
  .product-container__box__btn-box__btn {
    width: 100px;
    height: 40px;
    font-size: 12px;
    z-index: 999;
  }
  .product-container__box__btn-box__btn__detailed-page {
    font-size: 10px;
  }
  .product-container__box__btn-box__btn__detailed-page:nth-child(2) {
    margin-left: 9px;
  }
  .card {
    background-color: #c5e1ea;
    height: 420px !important;
  }
  .detail-page-card {
    height: 490px !important;
  }
  .detail-page-card__body {
    padding: 0 8px !important;
  }
  .card-title {
    font-size: 14px !important;
  }
  .card-text {
    font-size: 13px !important;
    padding: 5px !important;
    height: 90px !important;
    text-align: left;
    padding-left: 15px !important;
  }
  .detail-page-extra {
    height: 490px !important;
  }
  .antifriz-btns {
    margin-top: 55px !important;
  }
}
/*# sourceMappingURL=styles.css.map */