body {
  max-width: 700px;
  margin: 0px auto;
  padding: 30px;
  text-align: center;
}

h1 {
  font-family: helvetica;
  font-size: 1.6em;
  color: grey;
}

.input-slider {
  padding: 15px;
  margin: 15px;
  width: 80%;
  float: left;
}

.input-text {
  margin: 25px 0;
  float: right;
}
.input-text input {
  padding: 5px;
  font-size: 13px;
  text-align: center;
}

.rangeslider__fill, .rangeslider__handle {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.rangeslider.no-animate .rangeslider__fill, .rangeslider.no-animate .rangeslider__handle {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}