@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.main-header-parent {
  padding: 0 20px;
  background-color: white;
  position: fixed;
  z-index: 99;
  width: 100%;
}

.main-header-parent .main-header {
  padding: 20px 0;
}

.main-header-parent .main-header .header-logo {
  height: 45px;
}

.main-header-parent .main-header .header-ticks {
  margin: 10px 15px;
  font-family: markgeo-bold;
  color: black;
}

.header-ticks:hover {
  color: #7A1DFF !important;
}

.first-ambasador-box-one {
  border-radius: 10px;
  background-color: white;
}

.first-ambasador-box-one .first-ambasador-box-one-child {
  padding: 20px 50px;
  border-radius: 20px;
}

.first-ambasador-box-one .first-ambasador-box-one-child .first-text-component .first-ambasador-box-one-title {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #7A1DFF;
  font-family: markgeocaps-bold;
  font-size: 40px;
  line-height: 1.2;
}

.first-ambasador-box-one .first-ambasador-box-one-child .first-text-component .first-ambasador-box-one-text {
  color: black;
  font-family: markgeo-semibold;
  font-size: 20px;
  line-height: 1.2;
}

.first-ambasador-box-one-text-sec {
  margin-bottom: 20px;
}

.join-us-box {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  display: inline-block;
  background: #7A1DFF;
  border-radius: 30px;
  padding: 7px 15px;
}

.join-us-box .join-us-text {
  padding: 7px 8px;
  color: white;
  font-family: markgeocapscaps-medium;
}

.scroll-join-us-box {
  display: inline-block;
  background: #7A1DFF;
  border-radius: 30px;
  padding: 7px 15px;
}

.scroll-join-us-box .scroll-join-img {
  height: 25px;
}

.scroll-join-us-box .scroll-join-us-text {
  padding: 7px 8px;
  color: white;
  font-family: markgeocapscaps-medium;
}

.ambasador-box-one {
  background: white;
  border-radius: 10px;
}

.ambasador-box-one .ambasador-box-one-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: markgeocaps-bold;
  font-size: 40px;
}

.ambasador-box-one .ambasador-box-one-text {
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 1.6;
  font-family: markgeo-semibold;
  font-size: 1.1vw;
}

.ambasadot-natura {
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.wondering-main-title {
  font-family: markgeocaps-bold;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.offer-img-text {
  text-align: center;
  font-family: markgeocaps-bold;
  line-height: 1.3;
  font-size: 24px;
}

.offer-img-1 {
  height: 175px;
}

.offer-img-2 {
  height: 200px;
}

.offer-img-3 {
  height: 175px;
}

.wondering {
  text-align: center;
}

.wondering .wondering-img {
  margin-bottom: 20px;
}

.wondering .wondering-text {
  line-height: 1.3;
  font-family: markgeocaps-bold;
  font-size: 11px;
}

.wondering .wondering-text-second {
  margin-bottom: 40px;
}

.footer-title {
  color: #7A1DFF;
  font-family: markgeocaps-bold;
  font-size: 40px;
  line-height: 1.3;
  text-align: left;
}

.footer-text {
  color: white;
  font-size: 16px;
  line-height: 1.6;
  font-family: markgeo-semibold;
  text-align: left;
}

.mrg-top {
  padding-top: 150px !important;
}

.mrg-top {
  padding-top: 115px !important;
}

.hidden {
  display: none;
}

.offer-box {
  background-color: white;
}

.blue-line-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100% !important;
  margin-bottom: 10px;
}

.blue-line-parent .blue-line {
  width: 80px;
  background: #7A1DFF;
  height: 4px;
}

.blue-line-hide {
  display: none;
}

.yleoba {
  position: absolute;
  right: 0;
  height: 600px;
  top: 0;
  z-index: -1;
}

.ui-widget-content {
  background: #7A1DFF !important;
  height: 2px !important;
}

.ui-slider-handle {
  top: -0.6em !important;
}

.ui-slider-handle {
  content: url("../image/slide.png");
}

.financ-interest {
  color: black;
  font-size: 30px;
  font-family: markgeocaps-bold;
  text-align: center;
}

.value-title {
  margin: 15px 0;
}

.value-title .value1 {
  width: 75px;
  text-align: center;
  background: white;
  border-radius: 9px;
  display: inline-block;
  padding: 9px 20px;
  font-family: markgeocaps-bold;
}

.value-title .sold-product {
  font-family: markgeocaps-bold;
}

.value-title-2 {
  margin: 15px 0;
}

.value-title-2 .value2 {
  width: 75px;
  text-align: center;
  background: white;
  border-radius: 9px;
  display: inline-block;
  padding: 9px 20px;
  font-family: markgeocaps-bold;
}

.value-title-2 .sold-product-vl2 {
  font-family: markgeocaps-bold;
}

.your-cost-box {
  text-align: center;
  font-family: markgeocaps-bold;
}

.your-cost-box .result {
  color: #7A1DFF;
  font-size: 35px;
}

.ui-slider-handle {
  border: none !important;
  background: none !important;
  color: none !important;
}

input[type=text]:focus {
  border: 3px solid red;
}

.dropd-icon {
  height: 25px;
}

.first-simple {
  max-height: 200px;
}

.top-houndred {
  margin-top: 150px;
}

.join-us-frst {
  margin-left: 5px;
}

.mrg-top-last-sec {
  margin-top: 30px;
}

.another-blue-line {
  width: 100px;
  height: 4px;
  background-color: #7A1DFF;
}

.first-line {
  margin-top: 50px;
  margin-bottom: 15px;
}

.video-emb {
  border-radius: 25px;
}

.hidden-row {
  display: none;
}

.bog-inside-text {
  padding-left: 55px;
}

.text-description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-texts {
  line-height: 1.1;
}

.see-all-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.see-all-product .see-all-product-div {
  background-color: #9FC224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 36px;
}

.see-all-product .see-all-product-div .see-all-product-p {
  font-size: 23px;
  color: white;
  font-family: markgeocaps-bold;
}

.see-all-product .see-all-product-div .extra-svg {
  height: 45px;
  margin-right: 10px;
}

.main-text-one {
  font-size: 65px;
  font-family: markgeocaps-bold;
  color: white;
  text-align: center;
}

.add-text-desktop {
  font-size: 68px;
}

.main-texts-mobile {
  line-height: 1.1;
}

.main-text-one-mobile {
  font-size: 65px;
  font-family: markgeocaps-bold;
  color: white;
  text-align: center;
}

.footer-text {
  font-size: 14px;
  font-family: markgeo-medium;
}

.extra-footer {
  font-family: markgeo-regular;
}

.span-messenger {
  font-family: markgeo-semibold;
  text-decoration: underline;
}

.mg-head-text {
  text-align: center;
  color: white;
  font-family: markgeocaps-bold;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 25px;
}

p {
  text-decoration: none !important;
}

button:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-decoration: none !important;
}

button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(..//image/backgroundi.png);
  width: 100%;
}

a:hover {
  text-decoration: none;
  color: white;
}

a {
  color: white;
}

.checked-icon {
  height: 20px;
}

.visa-setting-title {
  font-family: markgeocaps-bold;
  color: black;
  text-align: left;
}

.last-child {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.bog-native-arrow {
  height: 12px;
  margin-left: 5px;
}

.tbc-native-arrow {
  height: 12px;
  margin-left: 5px;
}

.checked-icon-box {
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-visa-use {
  line-height: 2 !important;
}

.visa-use {
  font-family: markgeo-semibold;
  text-align: start;
  line-height: 1.7;
  margin-left: 7px;
}

.card-header {
  background: #EEEEEE;
  border-bottom: none;
  border-bottom: 5px solid #7A1DFFed;
}

.main-header-text {
  font-size: 2vw !important;
}

.button-a {
  text-align: center;
  text-decoration: none;
  background: #9FC224;
  display: inline-block;
  color: white;
  padding: 18px 44px;
  font-size: 30px;
  font-family: markgeocaps-bold;
}

.component-text {
  font-size: 34px;
  color: white;
  font-family: markgeocaps-bold;
  margin-bottom: 20px;
  line-height: 1.2;
}

.how-use-sale-div {
  text-align: center;
  margin-top: 40px;
}

.how-use-sale-div .how-use-sale {
  font-family: markgeocaps-bold;
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}

.mobile-full-page {
  display: none;
}

.footer-paddings {
  padding: 25px 25px;
}

.card-header {
  padding: 0;
}

.card {
  border: none;
}

.my-card {
  margin: 20px 0;
}

.dropdown-icon-footer {
  width: 46px;
}

.color {
  background: red;
  /* IE 9 */
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.dropdown-icon-footer-1 {
  height: 35px;
}

.dropdown-icon-footer-2 {
  height: 35px;
}

.dropdown-icon-footer-3 {
  height: 35px;
}

.dropdown-icon-footer-4 {
  height: 35px;
}

.dropdown-icon-footer-5 {
  height: 35px;
}

.dropdown-icon-footer-6 {
  height: 35px;
}

.tbc-clps {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bog {
  background: #FE6410 !important;
  border-color: #FE6410 !important;
  font-family: markgeo-semibold;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bog:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bog:focus-within {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bog:visited {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bog {
  background: #FE6410 !important;
  border-color: #FE6410 !important;
  padding: 15px;
  margin-right: 5px;
}

.tbc {
  background: #00A3E0 !important;
  border-color: #00A3E0 !important;
  padding: 15px;
  font-family: markgeo-semibold;
  margin-left: 5px;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tbc:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tbc:focus-within {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tbc:visited {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tbc-clps {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-description {
  text-align: center;
  font-size: 17x;
  font-family: markgeo-bold;
  color: white;
  line-height: 1.3;
}

.category-title {
  color: white;
  font-family: markgeocaps-bold;
  font-size: 28px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 60px;
}

.second-category-row {
  margin-top: 60px;
  margin-bottom: 60px;
}

.information {
  height: 30px;
  margin-right: 15px;
}

.rules-conditions {
  color: white;
  font-size: 18px;
  font-family: markgeo-semibold;
  line-height: 1.5;
}

.linkedin-icon {
  margin: 0 10px;
}

.card-for-respo {
  display: none;
}

.colapse-inside {
  background: #ebe6f2;
}

@media only screen and (max-width: 992px) {
  .footer-text {
    font-size: 14px !important;
  }
  .yleoba {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .ambasador-img-light {
    height: 290px;
    margin-bottom: 15px;
  }
  .video-emb {
    border-radius: 0;
    margin: 0 15px;
  }
  .first-line {
    display: none;
  }
  .mrg-top-last-sec {
    margin-top: 15px;
  }
  .join-us-frst {
    margin-bottom: 0 !important;
  }
  .value-title .value1 {
    width: 60px;
    padding: 9px 12px;
  }
  .value-title-2 .value2 {
    width: 60px;
    padding: 9px 12px;
  }
  .ambasador-box-one-text {
    margin-bottom: 20px !important;
  }
  .join-us-box {
    margin-top: 0 !important;
    margin-bottom: 20px;
  }
  .financ-interest {
    font-size: 24px;
  }
  .first-ambasador-box-one {
    background-color: unset;
  }
  .top-houndred {
    margin-top: 30px;
  }
  .blue-line-last {
    display: none;
  }
  .sold-product {
    font-size: 12px;
  }
  .sold-product-vl2 {
    font-size: 12px;
  }
  .join-us-text {
    font-size: 12px;
  }
  .blue-line-hide {
    display: none;
    width: 100%;
  }
  .blue-line-parent {
    visibility: unset !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .footer-title {
    color: #7A1DFF;
    font-family: markgeocaps-bold;
    font-size: 20px;
    text-align: center;
  }
  .footer-text {
    color: white;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 0px;
    margin-bottom: px;
    text-align: left;
  }
  .offer-box {
    background: #EEEEEE;
  }
  .wondering-main-title {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .offer-img-1 {
    height: auto;
  }
  .offer-img-2 {
    height: auto;
  }
  .offer-img-3 {
    height: auto;
  }
  .offer-img-text {
    font-size: 10px;
  }
  .wondering-text {
    font-size: 10px;
  }
  .wondering-img {
    margin-top: 15px;
    height: 65px;
  }
  .first-simple {
    height: 100px;
  }
  .wondering-main-title {
    font-size: 24px !important;
  }
  .header-logo {
    width: 95px !important;
  }
  .join-font-mobile {
    font-size: 9px !important;
  }
  .ambasador-box-one {
    background: none !important;
    text-align: center;
  }
  .unhidden {
    display: none;
  }
  .hidden {
    display: block !important;
  }
  .mrg-top {
    padding-top: 100px !important;
  }
  .first-ambasador-box-one-child {
    padding: 0 !important;
    text-align: center;
  }
  .first-ambasador-box-one-title {
    font-size: 24px !important;
  }
  .first-ambasador-box-one-text {
    font-size: 20px !important;
    color: black !important;
  }
  .ambasador-box-one-title {
    font-size: 24px !important;
    text-align: center;
    margin-top: 0 !important;
  }
  .ambasador-box-one-text {
    font-size: 4.1vw !important;
    text-align: center;
    white-space: pre-line !important;
    overflow: auto !important;
  }
  .mrg-top-sec {
    padding-top: 0 !important;
  }
  .ambasadot-natura {
    padding-top: 0;
  }
  .header-ticks {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .footer-text {
    font-size: 12px !important;
  }
}
/*# sourceMappingURL=styles.css.map */