@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}
@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeocapscaps-Semibold;
}

@font-face {
  src: url(../fonts/MARKGEOCAPS-SEMIBOLD.TTF);
  font-family: markgeocapscaps-Semiboldcaps;
}
.card {
  border-radius: 10px;
  padding: 0;
  // margin: 2px;
  background: transparent url('img/Rectangle 41.png') 0% 0% no-repeat
    padding-box;
  box-shadow: 0px 5px 10px #00000080;
  border: 1px solid #707070;
  .card-body {
    padding: unset;
    .card-title {
      height: 35px;
      font-size: 16px;
      font-family: markgeocapscaps-Semiboldcaps;
      text-align: center;
      margin-top: 1.25rem;
      margin-bottom: 0;
    }
    .card-text {
      height: 100px;
      font-family: markgeocaps-medium;
      font-size: 16px;
      line-height: 1.2;
      padding: 1.25rem;
      padding-top: 0;
    }
  }
}

html {
  scroll-behavior: smooth;
}
body {
  background-image: url(../image/bg.png);
}
.container-fluid {
  max-width: 1900px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

.swiper-button-next:focus {
  outline: none !important;
}
.swiper-button-prev:focus {
  outline: none !important;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  margin: 10px 0;
  &__img {
    height: 50px;
  }
}

.home-wall {
  background-image: url(../image/MaskGroup19.png);
  height: 462px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &__child {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    &__btn {
      width: 240px;
      height: 80px;
      margin-top: 35px;
      background-color: #ec4913;
      font-size: 20px;
      font-family: markgeocapscaps-Semiboldcaps;
      color: white;
      border-radius: 10px;
      line-height: 1.3;
      box-shadow: 0px 3px 6px #00000029;
      transition: 0.3s;
    }
    &__btn:hover {
      background-color: #fd561f;
    }

    &__text {
      max-width: 700px;
      &__title {
        width: 570px;
        font-size: 30px;
        font-family: markgeocapscaps-Semiboldcaps;
        width: 667px;
        line-height: 1.2;
        color: white;
        display: inline;
      }
    }
  }
}
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
button:focus {
  outline: unset;
}

.btn,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.btn:focus {
  outline: unset;
}
.product-container {
  margin: 67px 0;
  display: flex;
  &__btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
    &__btn {
      background-color: #1caafc !important;
      color: white;
      border-radius: 10px !important;
      width: 160px;
      height: 60px;
      align-items: center;
      display: flex;
      justify-content: center;
      box-shadow: 0px 3px 6px #00000029;
      font-family: markgeocapscaps-medium;
    }
    &__btn:hover {
      background-color: #16a2f4 !important;
      box-shadow: 0px 6px 12px #00000029;
    }
  }
}
.connect-help {
  width: 100%;
  margin-bottom: 19px;
  &__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__p {
      text-align: center;
      font-family: markgeocapscaps-Semiboldcaps;
      font-size: 40px;
    }
    &__child {
      display: flex;
      justify-content: center;
      margin-top: 39px;
      &__btn-call {
        background-color: #ffc208;
        width: 300px;
        height: 80px;
        border-radius: 10px;
        margin-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__btn-call:hover {
        box-shadow: 0px 9px 12px #0000004d;
        transition: box-shadow 0.2s ease-in-out;
      }
      &__btn:hover {
        box-shadow: 0px 6px 10px #0000004d;
        transition: box-shadow 0.2s ease-in-out;
      }
      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7a4ff2;
        box-shadow: 0px 3px 6px #0000004d;

        border-radius: 10px;
        width: 300px;
        height: 80px;

        &__a {
          font-family: markgeocapscaps-Semiboldcaps;
          font-size: 16px;
          color: white;
          margin-left: 5px;
        }
        &__a:hover {
          color: white !important;
        }
      }
    }
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #161e3f;
  height: 65px;
  &__media-icon {
    .linkedin {
      margin: 0 10px;
    }
    &__img {
      height: 20px;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    color: white;
    font-family: markgeo-regular;
    &__span {
      display: flex;
      align-items: center;
    }
    &__img {
      margin: 0 5px;
    }
  }
}
.extra-card {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header {
    height: unset;
    &__img {
      height: 22px;
    }
  }
  .home-wall {
    height: 135px;
    &__child {
      margin-left: 15px;
      &__btn {
        margin-top: 10px;
        font-size: 7px;
        width: 73px;
        height: 22px;
        border-radius: 5px;
      }
      &__text {
        width: 176px;

        text-align: left;
        &__title {
          font-size: 8px;
          line-height: unset;
        }
      }
    }
  }
  .hdn-card {
    display: none;
  }
  .extra-card {
    display: block;
  }
  .container-fluid {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  .product-container {
    margin: 0;
    &__box {
      margin-top: 10px;
      padding: 5px;
    }
    &__btn-box {
      margin: unset;
      margin-bottom: 10px;

      &__btn {
        width: 100px;
        height: 40px;
        font-size: 12px;
      }
    }
  }
  .card {
    background-color: #c5e1ea;
  }
  .card-title {
    font-size: 14px !important;
  }
  .card-text {
    font-size: 13px !important;
    padding: 2px !important;
    height: 90px !important;
  }
  ////social media////@
  .connect-help__box__child__btn-call {
    width: 148px;
    height: 39px;
  }
  .connect-help {
    margin-top: 25px;
  }
  .connect-help__box__p {
    font-size: 15px;
  }
  .connect-help__box__child {
    margin-top: 18px;
  }

  .connect-help__box__child__btn {
    width: 148px;
    height: 39px;
    &__icon {
      height: 18px;
    }
    &__a {
      font-size: 6px;
    }
  }
  .connect-help__box__child__btn-call {
    margin-left: 19px;
  }
  ///////////////////
  //////////fotter/////////
  .footer__box__span {
    font-size: 10px;
  }
  ////////////////////////
}
@media only screen and (max-width: 575px) {
  body {
    background-image: url(..//image/bg-mob.png);
    background-size: cover;
  }
}
