.lana-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fae5e5;
  border-radius: 6px;
  &__col {
    align-items: center;
    display: flex;

    &__div {
      height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &__p {
        font-size: 20px;
        font-family: markgeo-regular;
        line-height: 1.3;
      }
      &__description {
        &__name {
          font-size: 20px;
          font-family: markgeocapscaps-Semiboldcaps;
        }
        &__job {
          font-size: 20px;
          font-family: markgeo-regular;
          margin-top: 5px;
        }
      }
    }
  }
}
.extra-logo {
  height: 50px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.category-product-col-extra {
  box-shadow: 0px 5px 10px #15151515;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0;
  &__shoes-skate {
    display: flex;
  }
}
.container {
  max-width: 1240px;
}
.category-product-first {
}
.category-product {
  &__shoes-skate {
  }

  &__col {
    margin-top: 20px;
    &__kulon {
      height: 310px;
      width: 100%;
    }
    &__airpod {
      height: 310px;
      width: 100%;
    }
    &__skate {
      width: 310px;
      // height: 100%;
    }
    &__shoes {
      width: 310px;
      // height: 100%;
    }
    &__book {
      width: 100%;
    }

    &__div {
      padding: 15px;
      height: 190px;

      &__name {
        font-size: 20px;
        font-family: markgeocapscaps-Semiboldcaps;
      }
      &__p {
        font-size: 20px;
        font-family: markgeo-regular;
        margin-top: 10px;
        margin-bottom: 28px;
        line-height: 1.3;
      }
      &__p-mobile {
        display: none;
      }
      &__see-more {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 15px;
        width: 200px;

        &__p {
          font-size: 20px;
          color: #f42865;
          font-family: markgeocapscaps-Semiboldcaps;
        }
        &__img {
          margin-left: 5px;
        }
      }
      &__see-more-book {
        margin-top: 80px;
        margin-bottom: 20px;
      }
    }
    &__div-book {
      height: 153px !important;
    }

    &__div-shoes-skate {
      margin-top: 14px;
      height: 245px !important;
      padding: 2px;
    }
  }
}
.grey-line {
  width: 100%;
  height: 2px;
  background-color: #e4e4e4;
  margin-top: 47px;
  margin-bottom: 25px;
}
.lana-banner {
  margin-left: 0px;
  margin-right: 0px;
}
.detail-box {
  display: flex;
  background-color: #f4286514;
  border-radius: 6px;
  &__col {
    padding: 10px;
    padding-left: 0;
  }
  &__col-two {
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: red;
    &__h1 {
      font-size: 20px;
      font-family: markgeocapscaps-Semiboldcaps;
    }
    &__div {
      display: flex;
      align-items: center;
      &__price {
        font-size: 20px;
        text-decoration: line-through;
        margin-right: 5px;
      }
      &__new-price {
        color: #fd561f;
        font-size: 30px;
        font-family: markgeocapscaps-Semiboldcaps;
      }
    }
    &__p {
      font-size: 20px;
      font-family: markgeo-regular;
      line-height: 1.3;
    }
    &__btn-div {
      display: flex;
      align-items: center;
      &__a {
        margin-right: 20px;
        background-color: #fd561f;
      }
      &__a-second {
        background-color: #ffc208;
      }
      &__a-second:hover {
        background: #ffc20859 !important;
      }
      &__a-second:hover .cta-btn__p-second {
        color: #ffc208;
      }
    }
  }
}
.detail-box__col-two__btn-div__a-back {
  margin-top: 40px;
}
.footer-container {
  margin-top: 50px;
}
.detail-box__col-two__btn-div__a-back {
  margin-bottom: 40px;
}
.kulon-pod-mobile {
  display: none;
}
.mobile-lana-txt {
  display: none;
}
.pink-ln-line {
  height: 4px;
  width: 100%;
  background-color: #f54277;
  opacity: 0.15;
  border-radius: 12px;
}
.category-product__col__div__see-more-skate {
  bottom: 0px;
}
.category-product__col__div__see-more-book-1 {
  margin-bottom: 10px;
}
.reverse {
  flex-direction: row-reverse;
}
.reverse-txt {
  padding-left: 10px;
}
@media only screen and (max-width: 992px) {
  .pink-ln-line {
    height: 2px;
    border-radius: 6px;
  }
  .lana-txt-hd {
    display: none;
  }
  .lana-box__col {
    padding-right: 0;
    align-items: unset;
    display: unset;
    padding-left: 5px;
  }
  .skate-extra {
    text-align: end;
    padding-right: 0;
  }
  .kulon-pod-desk {
    display: none;
  }
  .kulon-pod-mobile {
    display: block;
  }
  .frst-container {
    padding: 20px;
  }
  .detail-box__col-two__btn-div__a-back {
    margin-top: 16px;
    margin-bottom: 10px;
  }
  .detail-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__col-two {
      height: 231px;
      &__h1 {
        font-size: 12px;
      }
      &__div {
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 8px;

        &__price {
          font-size: 12px;
        }
        &__new-price {
          font-size: 20px;
        }
      }
      &__p {
        text-align: left;
        font-size: 12px;
        margin-bottom: 16px;
      }
      &__btn-div {
        justify-content: center;
        margin-bottom: 16px;
      }
    }
  }
  .cta-btn {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    .cta-btn__p {
      font-size: 9px;
    }
  }
  .category-product__col-barbare {
    display: none;
  }

  .category-product {
    &__shoes-skate {
      width: 100%;
    }

    &__col {
      margin-top: 20px;
      &__skate {
        width: 100px !important;
        height: 100px;
      }
      &__shoes {
        width: 100px !important;
        height: 100px;
      }
      &__book {
        width: 100%;
      }

      &__div {
        padding: 5px;
        height: 84px;

        &__name {
          font-size: 12px;
          font-family: markgeocapscaps-Semiboldcaps;
        }
        &__p {
          font-size: 20px;
          font-family: markgeo-regular;
          margin-top: 16px;
          margin-bottom: 28px;
          line-height: 1.3;
          display: none;
        }
        &__p-mobile {
          display: block !important;
          font-size: 12px;
          margin-top: 2px;
          margin-bottom: 0px;
        }
        &__see-more {
          display: flex;
          align-items: center;
          position: absolute;
          bottom: 15px;

          width: 111px;

          &__p {
            font-size: 11px;
            color: #f42865;
            font-family: markgeocapscaps-Semiboldcaps;
          }
          &__img {
            margin-left: 5px;
          }
        }
        &__see-more-book {
          margin-top: 80px;
          margin-bottom: 20px;
        }
      }
      &__div-book {
        height: 262px !important;
      }

      &__div-shoes-skate {
        margin-top: 14px;
        height: 85px !important;
        padding: 0;
      }
    }
  }
  .category-product-col-extra-airpod {
    display: flex;
  }
  .category-product__col-phone-mb-none {
    display: none;
  }
  .category-product__col__div-shoes-skate-skate {
    flex-direction: row-reverse !important;
  }
  .category-product__col__div-shoes-skate {
    padding-left: 5px;
  }
  .category-product__col__kulon {
    height: 111px;
  }
  .category-product__col__airpod {
    height: 100px;
    width: 100px;
  }
  .lana-box {
    padding-top: 10px;
    padding-bottom: 0;
    &__col {
      &__div {
        height: 100px;

        &__p {
          font-size: 12px;
        }
        &__description {
          &__name {
            font-size: 12px;
          }
          &__job {
            font-size: 12px;
          }
        }
      }
    }
  }
  .category-product__col-frst {
    padding-right: 8px;
  }
  .category-product__col-second {
    padding-left: 8px;
  }
  .extra-logo {
    height: 20px;
  }
  .lanchbox-img {
    padding: 0;
  }
  .grey-line {
    margin-top: 26px;
    margin-bottom: 13px;
  }
  .mobile-lana-txt {
    font-size: 12px;
    font-family: markgeo-regular;
    line-height: 1.3;
    padding-left: 5px;
    display: block;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .detail-box__col__img {
    height: 114px;
    // width: 220px !important;
  }
  .detail-imgs {
    height: 220px;
    width: 220px !important;
  }
}
