@font-face {
  src: url(../fonts/MarkGEOCAPS-Light.ttf);
  font-family: lightcaps-light;
}

.container {
  max-width: 1440px;
}

.ft-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
  margin-bottom: 0px;
}

.ft-header__img {
  width: 150px;
}

.ft-header__nav__a {
  font-family: helve-bold;
  color: black;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 14px;
}

.ft-header__btn {
  width: 150px;
  text-align: center;
}

.ft-container {
  max-width: 1920px;
  padding-right: 90px;
  padding-left: 90px;
}

.ft-header-banner {
  background-image: url(../image/Group5422.png);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 655px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ft-header-banner__div {
  margin-left: 10px;
}

.ft-header-banner__div__h1 {
  font-size: 48px;
  color: white;
  font-family: markgeocaps-bold;
  max-width: 950px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.ft-header-banner__div__p {
  font-size: 18px;
  color: white;
  font-family: markgeocaps-bold;
  max-width: 670px;
  line-height: 1.3;
}

.component-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: markgeocaps-bold;
  text-align: center;
  width: 100%;
}

.component-title__p {
  font-size: 32px;
}

.swiper-slide-own-img {
  position: relative;
  width: 100%;
}

.ft-category-box__frst__opc {
  width: 100%;
  border-radius: 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  -webkit-transition: 0.3;
  transition: 0.3;
  padding: 0 30px;
  padding-bottom: 20px;
}

.ft-category-box__frst__opc:hover {
  background-color: rgba(22, 30, 63, 0.5);
}

.banner {
  background-image: url(../image/des.png);
  width: 100%;
  height: 320px;
  background-size: contain;
  margin-top: 97px;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__p {
  margin-top: 90px;
  font-size: 24px;
  color: white;
  font-family: markgeocaps-bold;
  max-width: 460px;
  line-height: 1.3;
}

.ft-category-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ft-category-box__frst {
  width: 100%;
  background-image: url(../image/Group5423.png);
  border-radius: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-repeat: round;
  padding: 0;
  cursor: pointer;
}

.ft-category-box__frst__p {
  font-family: markgeocaps-bold;
  font-size: 32px;
  color: white;
  text-align: left;
}

.ft-category-box__scnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.ft-category-box__scnd__one {
  background-image: url(..//image/Group5424.png);
  background-repeat: round;
  width: 100%;
  height: 274px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.ft-category-box__scnd__three {
  background-image: url(../image/Group5425.png);
  background-repeat: round;
  text-align: center;
  cursor: pointer;
}

.white-btn {
  background: white;
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 10px;
}

.cart-svg:hover {
  fill: white !important;
}

.swiper-pagination {
  display: none;
}

.cart-svg {
  margin-right: 10px;
}

.a {
  fill: #fd5601 !important;
}

.orange-btn {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.orange-btn:hover .a {
  fill: white !important;
}

.swiper-button-prev {
  left: -30px !important;
  top: 65% !important;
  z-index: 99999999 !important;
  background-color: white;
  border-radius: 100%;
  min-width: 50px !important;
  max-width: 50px !important;
  min-height: 50px !important;
  max-height: 50px !important;
  -webkit-box-shadow: 0px 5px 20px #00000026;
          box-shadow: 0px 5px 20px #00000026;
  text-decoration: none;
  outline: none;
}

.swiper-button-next {
  right: -30px !important;
  top: 65% !important;
  z-index: 999999999999999999999 !important;
  background-color: white;
  border-radius: 100%;
  font-size: 40px;
  min-width: 50px !important;
  max-width: 50px !important;
  min-height: 50px !important;
  max-height: 50px !important;
  -webkit-box-shadow: 0px 5px 20px #00000026;
          box-shadow: 0px 5px 20px #00000026;
  text-decoration: none;
  outline: none;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  font-size: 18px !important;
  font-weight: bolder;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
  font-size: 18px !important;
  font-weight: bolder;
}

.swiper-slide-box {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.swiper-slide-box__title {
  text-align: left;
  width: 190px;
  height: 38px;
  overflow: hidden;
}

.swiper-slide-box__title__h1 {
  font-size: 16px;
  color: black;
  font-family: markgeo-regular;
}

.swiper-slide-box__title__p {
  font-size: 16px;
  color: black;
  font-family: markgeo-regular;
  margin-top: 5px;
  font-family: markgeocaps-bold;
  color: white;
  text-align: left;
}

.swiper-slide-box__p {
  font-size: 18px;
  color: black;
  font-family: markgeocaps-bold;
}

.row-pd {
  margin: 0 10px;
  position: relative;
}

.des {
  width: 100%;
  height: auto;
}

.banner-p {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: left;
  font-size: 18px;
  margin-left: 20px;
  font-size: 24px;
  color: white;
  font-family: markgeocaps-bold;
  max-width: 460px;
  line-height: 1.3;
}

.container-relative {
  position: relative;
  margin-top: 97px;
  cursor: pointer;
}

.mob {
  display: none;
}

.ft-ct-img-01 {
  background-image: url(../image/03.png) !important;
}

.ft-ct-img-02 {
  background-image: url(../image/04.png) !important;
}

.ft-ct-img-022 {
  background-image: url(../image/05.png) !important;
}

.ft-ct-img-03 {
  background-image: url(../image/01.png) !important;
}

.ft-ct-img-04 {
  background-image: url(../image/02.png) !important;
}

.ft-ct-img-1 {
  height: 610px !important;
  background-image: url(../image/1111.png);
}

.ft-ct-img-2 {
  margin-top: 24px;
  height: 297px;
}

.ft-ct-img-2 {
  background-image: url(../image/20.png);
}

.ft-ct-img-22 {
  background-image: url(../image/22.png);
}

.ft-ct-img-3 {
  background-image: url(../image/333.png);
}

.ft-ct-img-4 {
  background-image: url(../image/444444.png);
}

.ft-ct-img-3, .ft-ct-img-4 {
  height: 100% !important;
}

.ft-ct-img-4 {
  margin-top: 24px;
}

.orange-mob {
  height: 30px;
  width: 30px;
}

.orange-mob__p {
  min-height: unset;
  height: 10px !important;
}

@media only screen and (max-width: 1440px) {
  .ft-category-box__frst__p {
    font-size: 24px;
  }
  .ft-header-banner__div__h1 {
    font-size: 36px;
  }
  .ft-header {
    margin-bottom: 30px;
  }
  .ft-header-banner {
    height: 430px;
  }
  .container {
    max-width: 1140px;
  }
  .ft-container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-slider-hd {
    display: none;
  }
  .paddings {
    padding: 0;
  }
  .banner-p {
    position: absolute;
    top: 10px;
    font-size: 14px;
    margin-top: 15px;
    width: 178px;
  }
  .des {
    display: none;
  }
  .mob {
    display: block;
  }
  .banner {
    background-image: url(../image/mob.png);
  }
  .banner__p {
    font-size: 14px;
    margin-top: 15px;
    width: 178px;
  }
  .extra-sport {
    margin-top: 20px;
  }
  .component-title__p {
    max-width: 278px;
  }
  .ft-category-box__scnd__one {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ft-category-box__scnd__three {
    margin-top: 0;
  }
  .scnd-two {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .ft-category-box__scnd {
    padding: 0;
    margin-bottom: 30px;
  }
  .ft-category-box {
    padding: 0 20px;
  }
  .ft-header-banner__div {
    margin-left: 20px;
  }
  .ft-header-banner__div__h1 {
    font-size: 18px;
    margin-bottom: 10px;
    width: 208px;
  }
  .ft-header-banner__div__p {
    font-size: 12px;
    width: 254px;
  }
  .ft-header {
    margin-bottom: 0;
  }
  .component-title {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .ft-category-box__frst {
    height: 325px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ft-category-box__frst__opc {
    height: 325px;
  }
  .ft-category-box__frst__one {
    height: 325px;
  }
  .ft-category-box__scnd {
    height: unset;
  }
  .ft-category-box__frst__p {
    font-size: 18px;
  }
  .component-title__p {
    font-size: 24px;
  }
}

@media only screen and (max-width: 575px) {
  .container-relative {
    margin-top: 40px;
  }
  .ft-header-banner {
    background-image: url(../image/mob-ban.png);
    height: 315px;
  }
  .ft-category-box__scnd {
    height: unset;
  }
  .slider-container {
    padding: 0;
    margin: 0;
  }
  .slider-row {
    padding: 0;
    margin: 0;
  }
  .swiper-slide-own-img img {
    height: 248px;
  }
  .swiper-button-prev {
    left: 15px !important;
    height: 50px !important;
    width: 50px !important;
    top: 60% !important;
  }
  .swiper-button-next {
    right: 15px !important;
    height: 50px !important;
    width: 50px !important;
    top: 60% !important;
  }
  .detail-box__col__img {
    height: 114px;
  }
  .detail-imgs {
    height: 220px;
    width: 220px !important;
  }
}
/*# sourceMappingURL=styles.css.map */