@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocapsboldsemi-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.min-header {
  background-color: #FD561F;
}

.min-header .min-header-text {
  color: white;
  text-align: center;
  font-family: markgeo-regular;
  font-size: 20px;
  padding: 9px 0;
}

.logo-box {
  text-align: center;
  margin-top: 23px;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.extra-logo {
  height: 39px;
  margin-bottom: 20px;
}

.superdry-logo {
  max-width: 469px;
}

.man-category {
  padding-right: 0px;
}

.woman-category {
  padding-left: 0;
}

.buy-category-man {
  position: absolute;
  top: 45%;
  right: 10px;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  background-color: white;
  text-align: center;
  padding: 7px 41px 10px 41px;
  line-height: 1.4;
  font-size: 15px;
  font-family: markgeocapsboldsemi-bold;
}

.buy-category-woman {
  position: absolute;
  top: 45%;
  left: 10px;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  background-color: white;
  text-align: center;
  padding: 7px 41px 10px 41px;
  line-height: 1.4;
  font-size: 15px;
  font-family: markgeocapsboldsemi-bold;
}

.second-content {
  margin-top: 32px;
  background-color: black;
  margin-right: 16px;
  margin-left: 15px;
}

.secont-contwnt-text {
  color: white;
  font-family: markgeocapsboldsemi-bold;
}

.text-one {
  font-size: 7vw;
}

.text-two {
  font-size: 11vw;
  margin: 30px 0;
}

.text-three {
  font-size: 5vw;
}

.section-two-img {
  margin: 20px 0;
}

.product-name {
  font-family: markgeocaps-medium;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.product-div {
  background: #fd561f;
}

.product-main-box {
  margin-top: 30px;
  margin-bottom: 17px;
  padding: 0;
}

.second-product-main-box {
  margin-bottom: 26px;
  padding: 0;
}

.sale-categories {
  position: relative;
}

.percent-p {
  background: #fd561f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  font-family: markgeocaps-medium;
  padding: 2px 4px;
  color: white;
}

.footer-main-box {
  margin-top: 17px;
  padding: 14px;
}

.img-heart {
  margin: 0 5px;
  margin-top: 3px;
}

.linkedin-icon {
  margin: 0 10px;
}

@media only screen and (max-width: 992px) {
  .linkedin-icon {
    margin: 0;
  }
  .footer-main-box {
    margin-top: 13px;
    padding: 11px;
  }
  .text-one {
    font-size: 5vw;
  }
  .text-two {
    font-size: 8vw;
  }
  .text-three {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 768px) {
  .sale-categories-lst-two {
    margin-top: 10px;
  }
  .second-product-main-box {
    margin-bottom: 10px;
  }
  .footer-text {
    font-size: 12px;
  }
  .img-heart {
    margin-top: 0;
  }
  .extra-logo {
    height: 20px;
    margin-bottom: 7px;
  }
  .product-name {
    font-size: 8px;
    padding: 12px 0;
  }
  .sec-cont-img-box {
    padding: 0;
  }
  .second-content {
    margin-top: 15px;
    margin-right: unset;
    margin-left: unset;
  }
  .logo-box {
    margin: 13px 0;
  }
  .min-header .min-header-text {
    font-size: 8px;
  }
  .superdry-logo {
    max-width: 167px;
  }
  .man-category {
    padding-left: 0;
  }
  .woman-category {
    padding-right: 0;
  }
  .buy-category-man {
    font-size: 6px;
    padding: 2px 4px 2px 4px;
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
  .buy-category-woman {
    font-size: 6px;
    padding: 2px 4px 2px 4px;
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
}

@media only screen and (max-width: 575px) {
  .text-one {
    font-size: 7vw;
  }
  .text-two {
    font-size: 11vw;
    margin: 8px 0;
  }
  .text-three {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 320px) {
  .img-heart {
    margin: 0 3px;
  }
}
/*# sourceMappingURL=styles.css.map */