@font-face {
  src: url(../fonts/MarkGEOCAPS-Light.ttf);
  font-family: lightcaps-light;
}
.container {
  max-width: 1440px;
}
.ft-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 0px;
  &__img {
    width: 150px;
  }
  &__nav {
    &__a {
      font-family: helve-bold;
      color: black;
      margin-right: 25px;
      margin-left: 25px;
      font-size: 14px;
    }
  }
  &__btn {
    width: 150px;
    text-align: center;
  }
}
.ft-container {
  max-width: 1920px;
  padding-right: 90px;
  padding-left: 90px;
}

.ft-header-banner {
  background-image: url(../image/Group5422.png);

  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // background-color: #cccccc;
  height: 655px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &__div {
    margin-left: 10px;
    &__h1 {
      font-size: 48px;
      color: white;
      font-family: markgeocaps-bold;
      max-width: 950px;
      line-height: 1.2;
      margin-bottom: 50px;
    }
    &__p {
      font-size: 18px;
      color: white;
      font-family: markgeocaps-bold;
      max-width: 670px;
      line-height: 1.3;
    }
  }
}
.component-title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: markgeocaps-bold;
  text-align: center;
  width: 100%;
  &__p {
    font-size: 32px;
  }
}
.swiper-slide-own-img {
  width: 100%;
}
.ft-category-box__frst__opc {
  width: 100%;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: 0.3;
}

.ft-category-box__frst__opc:hover {
  background-color: rgba(22, 30, 63, 0.5);
}
.banner {
  background-image: url(../image/des.png);
  width: 100%;
  height: 320px;
  background-size: contain;
  margin-top: 97px;
  background-repeat: no-repeat;
  display: flex;
  &__p {
    margin-top: 90px;

    font-size: 24px;
    color: white;
    font-family: markgeocaps-bold;
    max-width: 460px;
    line-height: 1.3;
  }
}
.ft-category-box {
  display: flex;
  align-items: center;
  &__frst {
    background-image: url(../image/Group5423.png);
    height: 572px;
    border-radius: 15px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-repeat: round;
    padding: 0;

    cursor: pointer;

    &__p {
      font-family: markgeocaps-bold;
      font-size: 32px;
      color: white;
    }
  }
  &__scnd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &__one {
      background-image: url(..//image/Group5424.png);
      background-repeat: round;
      width: 100%;
      height: 274px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      cursor: pointer;
    }
    &__three {
      background-image: url(../image/Group5425.png);
      background-repeat: round;
      text-align: center;
      cursor: pointer;
    }
  }
}
.last-two-white-btn {
  margin-top: 30px;
}
.white-btn {
  background: white;
}
///swiper js slider///
html,
body {
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide {
  img {
    border-radius: 10px;
  }
}
.cart-svg:hover {
  fill: white !important;
}
.swiper-pagination {
  display: none;
}
.cart-svg {
  margin-right: 10px;
}
.a {
  fill: #fd5601 !important;
}
.orange-btn {
  border-radius: 14px;
  width: 130px;
}
.orange-btn:hover {
  .a {
    fill: white !important;
  }
}
.swiper-button-prev {
  left: -30px !important;
  top: 50% !important;
  z-index: 99999999 !important;
  background-color: white;
  border-radius: 100%;
  min-width: 50px !important;
  max-width: 50px !important;
  min-height: 50px !important;
  max-height: 50px !important;
  box-shadow: 0px 5px 20px #00000026;
  text-decoration: none;
  outline: none;
}
.swiper-button-next {
  right: -30px !important;
  top: 50% !important;
  z-index: 999999999999999999999 !important;
  background-color: white;
  border-radius: 100%;
  font-size: 40px;
  min-width: 50px !important;
  max-width: 50px !important;
  min-height: 50px !important;
  max-height: 50px !important;
  box-shadow: 0px 5px 20px #00000026;
  text-decoration: none;
  outline: none;
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  font-size: 18px !important;
  font-weight: bolder;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
  font-size: 18px !important;
  font-weight: bolder;
}
.swiper-slide-box {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  &__title {
    text-align: left;
    width: 190px;
    height: 38px;
    overflow: hidden;
    &__h1 {
      font-size: 16px;
      color: black;
      font-family: markgeo-regular;
    }
    &__p {
      font-size: 16px;
      color: black;
      font-family: markgeo-regular;
      margin-top: 5px;
    }
  }
  &__p {
    font-size: 18px;
    color: black;
    font-family: markgeocaps-bold;
  }
}
//////
.row-pd {
  margin: 0 10px;
  position: relative;
}
.des {
  width: 100%;
  height: auto;
}
.banner-p {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: left;
  font-size: 18px;
  margin-left: 20px;
  font-size: 36px;
  color: white;
  font-family: markgeocaps-bold;
  max-width: 620px;
  line-height: 1.3;
}
.container-relative {
  position: relative;
  margin-top: 97px;
  cursor: pointer;
}
.mob {
  display: none;
}
@media only screen and (max-width: 1440px) {
  .ft-category-box__frst__p {
    font-size: 24px;
  }
  .ft-category-box__frst {
    height: 490px;
  }
  .ft-category-box__scnd__one {
    height: 237px;
  }
  .ft-header-banner__div__h1 {
    font-size: 36px;
  }

  .ft-header {
    margin-bottom: 30px;
  }
  .ft-header-banner {
    height: 430px;
  }

  .container {
    max-width: 1140px;
  }
  .ft-container {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .banner-p {
    position: absolute;
    font-size: 14px;
    margin-top: 15px;
    width: 178px;
  }

  .des {
    display: none;
  }
  .mob {
    display: block;
  }
  .banner {
    background-image: url(../image/mob.png);
    &__p {
      font-size: 14px;
      margin-top: 15px;
      width: 178px;
    }
  }
  .extra-sport {
    margin-top: 20px;
  }
  .ft-category-box__frst__opc {
    justify-content: unset;
  }
  .component-title__p {
    max-width: 278px;
  }
  .ft-category-box__frst {
    background-image: url(../image/m1.png);
  }
  .ft-category-box__scnd__one {
    background-image: url(../image/m.png);

    justify-content: space-between;
  }
  .ft-category-box__scnd__three {
    background-image: url(../image/Group5425m.png);
    margin-top: 0;
  }
  .scnd-two {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .ft-category-box__scnd {
    padding: 0;
    margin-bottom: 30px;
  }
  .ft-category-box {
    padding: 0 20px;
  }
  .ft-header-banner {
    &__div {
      margin-left: 20px;
    }
  }
  .ft-header-banner__div__h1 {
    font-size: 18px;
    margin-bottom: 10px;
    width: 208px;
  }
  .ft-header-banner__div__p {
    font-size: 12px;
    width: 254px;
  }
  .ft-header {
    margin-bottom: 0;
  }
  .component-title {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .ft-category-box__frst {
    height: 245px;
    justify-content: space-between;
  }
  .ft-category-box__frst__one {
    height: 245px;
  }
  .ft-category-box__scnd {
    height: unset;
  }

  .ft-category-box__frst__p {
    font-size: 18px;
  }
  .component-title__p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 575px) {
  .container-relative {
    margin-top: 40px;
  }
  .last-two-white-btn {
    visibility: hidden;
  }
  .ft-header-banner {
    background-image: url(../image/mob-ban.png);

    height: 315px;
  }
  .ft-category-box__scnd {
    height: unset;
  }
  .slider-container {
    padding: 0;
    margin: 0;
  }
  .slider-row {
    padding: 0;
    margin: 0;
  }
  .swiper-slide-own-img {
    img {
      height: 248px;
    }
  }
  .swiper-button-prev {
    left: 15px !important;
    height: 50px !important;
    width: 50px !important;
    top: 44% !important;
  }
  .swiper-button-next {
    right: 15px !important;
    height: 50px !important;
    width: 50px !important;
    top: 44% !important;
  }
  .detail-box__col__img {
    height: 114px;
    // width: 220px !important;
  }
  .detail-imgs {
    height: 220px;
    width: 220px !important;
  }
}
