@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}

@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

.linkedin-icon {
  margin: 0 10px;
}

.for-vh {
  height: 100vh;
}

.for-vh-second {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.mobile-designator-img {
  display: none;
}

.degisnator-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.degisnator-parent .designator {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.degisnator-parent .designator .designator-child {
  background: white;
  border-radius: 8px;
  width: 75%;
  padding: 35px 0;
}

.degisnator-parent .designator .designator-child .designator-text {
  color: #161E3F;
  font-family: markgeo-regular;
  font-weight: bold;
  font-size: 3vh;
  line-height: 1.6;
}

.degisnator-parent .designator .designator-child .designator-img {
  height: 110px;
  width: 90px;
}

.degisnator-parent .designator .designator-child .img-odd {
  width: 50px;
}

.degisnator-parent .designator .designator-1 {
  -webkit-box-shadow: 0px 7px 25px #7A1DFF29;
          box-shadow: 0px 7px 25px #7A1DFF29;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.degisnator-parent .designator .designator-2 {
  -webkit-box-shadow: 0px 7px 25px #F7216329;
          box-shadow: 0px 7px 25px #F7216329;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.degisnator-parent .designator .designator-3 {
  -webkit-box-shadow: 0px 7px 25px #00AAFF29;
          box-shadow: 0px 7px 25px #00AAFF29;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.degisnator-parent .designator .designator-4 {
  -webkit-box-shadow: 0px 7px 25px #9DE41129;
          box-shadow: 0px 7px 25px #9DE41129;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.degisnator-parent .designator .designator-1:hover {
  -webkit-box-shadow: inset 0 -10px 0 #7A1DFF;
          box-shadow: inset 0 -10px 0 #7A1DFF;
}

.degisnator-parent .designator .designator-2:hover {
  -webkit-box-shadow: inset 0 -10px 0 #F72163;
          box-shadow: inset 0 -10px 0 #F72163;
}

.degisnator-parent .designator .designator-3:hover {
  -webkit-box-shadow: inset 0 -10px 0 #00AAFF;
          box-shadow: inset 0 -10px 0 #00AAFF;
}

.degisnator-parent .designator .designator-4:hover {
  -webkit-box-shadow: inset 0 -10px 0 #9DE411;
          box-shadow: inset 0 -10px 0 #9DE411;
}

.designator-title {
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
  font-family: markgeocaps-bold;
  font-size: 5vh;
}

button:focus {
  outline: 0;
}

.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-size-inpt {
  font-size: 18pt;
  height: 4vh;
  width: 4vh;
}

.x-icon-popup {
  position: absolute;
  z-index: 9;
  right: 20px;
  top: 10px;
  height: 25px;
}

.own-modal {
  opacity: 1 !important;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

.rules-a {
  text-decoration: underline !important;
  color: white;
}

.company-name {
  color: white;
  font-family: markgeocaps-bold;
  font-size: 4vh;
  margin-bottom: 7px;
}

.company-product-name {
  color: white;
  font-family: markgeocaps-bold;
  font-size: 4vh;
}

.container {
  max-width: none;
}

.price-main-head {
  padding: 9px 30px;
  text-align: center;
  margin-top: 25px;
  margin-left: 8px;
  font-size: 25px;
  color: black;
  font-family: markgeocaps-bold;
  text-decoration: line-through;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
}

.two-price-column {
  background-color: #F72163;
  text-align: center;
  padding: 3px 41px;
}

.ganvadeba-tveshi {
  font-size: 15px;
  color: white;
  font-family: markgeocaps-bold;
  margin-bottom: 5px;
}

.ganvadeba-tveshi-text {
  font-size: 15px;
  color: white;
  font-family: markgeocaps-bold;
  margin-bottom: 5px;
}

.flag-mobile {
  height: 30px;
  position: absolute;
  top: 100px;
  right: 15px;
}

.first-div-section-two-desktop {
  background-image: url(../image/IMG_18.png);
  background-size: cover;
  background-repeat: round;
}

.clone-of-first-div-section-two-desktop {
  background-image: url(../image/sec-img.png);
  background-size: cover;
  background-repeat: round;
}

.last-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-now {
  background-image: url(../image/popm.png);
  background-size: cover;
  height: 155px;
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-fonts {
  font-family: markgeocaps-medium;
  text-align: left;
  line-height: 1.4;
  font-size: 3.2vh;
}

.countdown-stock {
  font-weight: bold;
  font-size: 3.2vh;
}

.hurry-up {
  color: white;
  font-size: 4.2vh;
  font-family: markgeocaps-bold;
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
}

.box-images {
  margin-right: 15px;
  height: 8.2vh;
}

.title-sc2-span {
  font-size: 2.2vh;
  font-family: markgeocaps-medium;
  margin-left: 5px;
}

.section-two {
  padding: 0 4%;
  background-color: #161E3F;
}

.section-two .section-two-box-divs {
  margin-top: 25px;
}

.section-two .sale-price-percent {
  font-size: 4.2vh;
  color: white;
  font-family: markgeocaps-bold;
  margin-top: 20px;
}

.section-two .sale-price-title-sc2 {
  font-size: 2.5vh;
  color: white;
  font-family: markgeocaps-bold;
  margin-top: 15px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-two .sale-product-title-sc2 {
  font-size: 2.5vh;
  color: white;
  font-family: markgeocaps-bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-two .three-box {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 20px #0000000F;
          box-shadow: 0px 3px 20px #0000000F;
  border-radius: 10px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 2% 4%;
  text-align: center;
  width: 300px;
  line-height: 1.2;
}

.box3 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.progress {
  height: 1vh;
  margin: 1vh 0;
  width: 100%;
  background-color: #b94514;
}

.progress-bar {
  background-color: #fd5601;
}

.hide-section-3-components {
  display: none;
}

.bg-success {
  background-color: #93BBF5 !important;
}

.contact {
  width: 90%;
}

.field-parent-p {
  text-align: center;
  line-height: 2.5;
}

.field-parent-p .naming {
  display: block;
  text-align: left;
  font-family: markgeo-regular;
  font-weight: bold;
  opacity: 0.9;
  line-height: 3.0;
  font-size: 2.5vh;
  color: white;
}

.accept-consumer-rules {
  font-family: markgeo-regular;
  color: #707070;
  font-size: 2.8vh;
  line-height: 1.2;
  margin-left: 2vh;
}

.finish-order {
  color: white;
  background-color: #F72163 !important;
  margin-top: 1vh;
  border-radius: 10px;
  border: none;
  font-family: markgeocaps-bold;
  font-size: 3vh;
  padding: 2vh 4vh;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.own-input {
  padding-left: 10px;
  border: 2px solid #161E3F;
  border-radius: 5px;
  width: 100%;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  height: 6.5vh;
  font-size: 2.5vh;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #FFEEE5;
  color: #00800094;
  margin-bottom: 10px;
  font-family: markgeocaps-bold;
  display: none;
}

.mobile-header-image {
  background-image: url("../image/machine-mobile.png");
  background-repeat: round;
  height: 350px;
}

.mobile-sale-price {
  position: absolute;
  bottom: 0;
  font-size: 30px;
  color: white;
  font-style: bold;
  font-family: markgeocaps-bold;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product-description {
  font-size: 18px;
  font-family: markgeo-regular;
  margin-bottom: 5px;
}

.left-time {
  font-size: 2.8vh;
  font-family: markgeo-regular;
}

.fast-buy {
  font-size: 3.8vh;
  font-family: markgeocaps-bold;
  color: white;
  margin-top: 37px;
  margin-bottom: 17px;
}

.personal-info {
  font-size: 2.8vh;
  color: white;
  font-family: markgeo-regular;
  font-weight: bold;
  opacity: 0.9;
}

.sale-price {
  font-size: 25px;
  font-weight: bold;
  font-family: markgeocaps-bold;
  margin: 5px 0 5px 0;
}

.operator-will-call {
  font-size: 15px;
  color: white;
  margin-top: 22px;
  line-height: 1.3;
  font-family: markgeocaps-medium;
  font-size: 2.8vh;
}

.own-form-check {
  margin: 20px 0;
}

.in-reserve {
  color: #000000;
  font-family: markgeocaps-bold;
  font-size: 18px;
}

.reserve-in-numbers {
  color: #707070;
  font-size: 14px;
}

.first-div-section-two-mobile {
  display: none;
}

.made-by-country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  font-family: markgeocaps-bold;
  font-size: 2.5vh;
  margin-bottom: 7px;
}

.m-cube {
  font-family: markgeocaps-bold;
  font-size: 14px;
}

.pink-header {
  background-color: #F72163;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-line {
  width: 30vh;
  height: 1px;
  background-color: white;
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-radius: 20px;
}

.section-three {
  background-color: #161E3F;
}

@media only screen and (max-width: 992px) {
  .section-two .sale-price-title-sc2 {
    font-size: 14px;
  }
  .section-two .sale-product-title-sc2 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 575px) {
  .mobile-header-image {
    height: 225px;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-hide {
    display: none !important;
  }
  .footer-main-box {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .made-by-country {
    font-size: 14px;
  }
  .for-vh-second {
    height: auto;
  }
  .linkedin-icon {
    margin: 0 0;
  }
  .for-vh {
    display: none;
  }
  .designator-1 {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .designator-2 {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .designator-3 {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .designator-4 {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .designator-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #EEEEEE !important;
    padding: 0 !important;
    width: 100% !important;
  }
  .designator-img {
    display: none;
  }
  .mobile-designator-img {
    display: block;
    width: 55px !important;
  }
  .section-one {
    display: none !important;
  }
  .designator-title {
    font-size: 3vh;
    padding-top: 4vh;
    padding-bottom: 2vh;
  }
  .section-three {
    display: block;
    background: #EEEEEE;
  }
  .check-size-inpt {
    font-size: 18pt;
    height: 20px;
    width: 20px;
    margin-top: 8px;
  }
  .alert {
    margin-top: 15px;
  }
  .vertical-line {
    display: none;
  }
  .naming {
    font-size: 19px !important;
    color: black !important;
  }
  .rules-a {
    font-size: 19px !important;
    color: black;
  }
  .own-input {
    height: 50px;
    font-size: 16px !important;
  }
  .finish-order {
    font-size: 14px;
    padding: 2vh 7vh;
  }
  .operator-will-call {
    margin-bottom: 65px;
    font-size: 19px;
    color: black;
  }
  .company-name {
    font-size: 24px;
  }
  .company-product-name {
    font-size: 21px;
  }
  .vertical-line {
    background-color: #FFEEE5;
    opacity: 1;
  }
  .fast-buy {
    text-align: center;
    font-size: 26px;
    color: black;
  }
  .personal-info {
    text-align: center;
    font-size: 21px;
    color: black;
  }
  .pink-header {
    height: 90px;
  }
  .first-div-section-two-desktop {
    display: none !important;
  }
  .clone-of-first-div-section-two-desktop {
    display: none !important;
  }
  .first-div-section-two-mobile {
    background: url(../image/Group5.png);
    background-size: cover;
    background-repeat: round;
    height: 212px;
    display: none;
  }
  .progress {
    width: 150px;
    height: 5px;
    margin: 7px 0;
  }
  .last-section {
    background-color: #EEEEEE;
  }
  .mobile-sale-box {
    margin-bottom: 27px;
    text-align: center;
  }
  .mobile-sale-box .mobile-sale-title {
    font-family: markgeocaps-bold;
    color: #161E3F;
    font-size: 26px;
    line-height: 1.4;
  }
  .mobile-sale-title {
    font-family: markgeocaps-bold;
    color: #161E3F;
    font-size: 33px;
    line-height: 1.4;
  }
  .box-fonts {
    font-size: 19px;
    text-align: left;
  }
  .left-time {
    font-size: 19px;
  }
  .hide-section-3-components {
    display: block;
  }
  .section-one {
    display: none;
  }
  .section-two {
    display: none;
  }
  .col-md-4 {
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
    max-width: 100% !important;
  }
  .mobile-cali-time {
    text-align: left;
    font-size: 24px;
    font-family: markgeocaps-bold;
    color: black;
  }
  .designator-text {
    font-size: 19px !important;
  }
}

@media only screen and (max-width: 320px) {
  .footer-main-box {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 12px;
  }
  .finish-order {
    font-size: 14px;
  }
}
/*# sourceMappingURL=styles.css.map */