@font-face {
  src: url(../fonts/MarkGEOCAPS-Light.ttf);
  font-family: lightcaps-light;
}
.container {
  max-width: 952px !important;
}
html {
  scroll-behavior: smooth;
}
.line-animation {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  &__div {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    &__p {
      font-family: markgeocaps-bold;
      font-size: 18px;
      opacity: 0.3;
      width: 310px;
    }
  }
}
.line-animation-burger-p {
  font-family: markgeocaps-bold;
  font-size: 18px;
}
.topnav {
  display: none;
}
.line {
  height: 5px;
  width: 39px;
  background: #f72163;
  border-radius: 30px;
  transition: width 0.5s;
}

.line-animation__div:hover .line {
  width: 83px;
}
.line-animation__div:hover .line-animation__div__p {
  opacity: 1;
  transition: 0.5s;
}
body {
  background-color: #f9f9fb;
}
.ft-header {
  display: flex;
  align-items: center;
  justify-content: center;
  &__img {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
.webp-img-picture {
  margin-top: 12px;
  margin-bottom: 12px;
}
.title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: markgeocaps-bold;
  font-size: 16px;
  color: black;
}
.p-txt {
  color: black;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: markgeocaps-medium;
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 952px !important;
  }
}
@media only screen and (max-width: 768px) {
  .topnav {
    display: block;
  }
  .ft-header {
    display: none;
  }
}
