@font-face {
  src: url(../fonts/MarkGEOCAPS-Light.ttf);
  font-family: lightcaps-light;
}

.container {
  max-width: 952px !important;
}

html {
  scroll-behavior: smooth;
}

.ft-container-sec {
  max-width: 1140px !important;
}

.line-animation {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 0;
}

.line-animation__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.line-animation__div__p {
  font-family: markgeocaps-bold;
  font-size: 18px;
  opacity: 0.3;
  width: 310px;
  color: black;
}

.line-animation-burger-p {
  font-family: markgeocaps-bold;
  font-size: 18px;
}

.topnav {
  display: none;
}

.line {
  height: 5px;
  width: 39px;
  background: #f72163;
  border-radius: 30px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.line-animation__div:hover .line {
  width: 83px;
}

.line-animation__div:hover .line-animation__div__p {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
}

body {
  background-color: #f9f9fb;
}

.ft-container {
  margin-bottom: 36px;
}

.ft-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ft-header__img {
  margin-top: 19px;
  margin-bottom: 19px;
}

.ft-header__img__in {
  height: 36px;
}

.webp-img-picture {
  margin-top: 12px;
  margin-bottom: 12px;
}

.title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: markgeocaps-bold;
  font-size: 16px;
  color: black;
}

.p-txt {
  color: black;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: markgeocaps-medium;
  font-size: 16px;
  line-height: 24px;
}

.footer-container {
  max-width: 1140px !important;
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 680px !important;
  }
  .footer-container {
    max-width: 1140px !important;
  }
  .ft-container-sec {
    max-width: 1140px !important;
  }
  .line-animation__div__p {
    font-size: 14px;
    width: 249px;
    color: black;
  }
  .line {
    width: 25px;
  }
  .line-animation__div:hover .line {
    width: 45px;
  }
}

@media only screen and (max-width: 1250px) {
  .line-animation {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 952px !important;
  }
}

@media only screen and (max-width: 768px) {
  .ft-container {
    margin-bottom: unset;
  }
  .line-animation {
    display: none;
  }
  .topnav {
    display: block;
    margin-bottom: 24px;
  }
  .ft-header {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */