@font-face {
  src: url(../fonts/MarkGEO-Bold.ttf);
  font-family: markgeo-bold;
}

@font-face {
  src: url(../fonts/MarkGEO-Regular.ttf);
  font-family: markgeo-regular;
}

@font-face {
  src: url(../fonts/MarkGEO-SemiBold.ttf);
  font-family: markgeo-semibold;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Bold.ttf);
  font-family: markgeocaps-bold;
}
@font-face {
  src: url(../fonts/MarkGEO-Medium.ttf);
  font-family: markgeocaps-medium;
}
@font-face {
  src: url(../fonts/MarkGEOCAPS-Medium.ttf);
  font-family: markgeocapscaps-medium;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
.intro-text {
  font-family: markgeo-regular;
  line-height: 1.3;
  margin-top: 30px;
  font-size: 16px;
}
.extra-logo {
  height: 60px;
  margin-top: 30px;
}
.shop-now-first {
  margin-top: 30px;
  display: inline-block;
  background: #81a97e;
  border-radius: 13px;
  .shop-now-p-first {
    padding: 20px 35px;
    font-size: 35px;
    font-family: markgeo-semibold;

    color: white;
  }
}
.countdown-text {
  font-family: markgeocaps-bold;
  font-size: 24px;
}
.countdown-ind {
  background-color: black;
  margin: 10px;
  height: 90px;
  width: 100px;
  border-radius: 15px;
}
#demo1,
#demo2,
#demo3,
#demo4 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: markgeo-semibold;
}
.count-time {
  color: white;
  text-align: center;
  font-family: markgeo-regular;
}
.countdown-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  padding: 10px 0;
}
.container-fluid {
  max-width: 1920px !important;
}
.home-main-content {
  padding-right: 0;
}
.mobile-img {
  display: none;
}
@media only screen and (max-width: 992px) {
  .intro-text {
    margin-top: 10px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .count-time {
    font-size: 7px;
  }
  .countdown-text {
    font-size: 8px;
  }
  .countdown-ind {
    height: 39px;
    width: 39px;
    border-radius: 6px;
    margin: 3px;
  }
  #demo1,
  #demo2,
  #demo3,
  #demo4 {
    font-size: 16px;
  }
  .mobile-img {
    display: block;
    height: 209px;
  }
  .desktop-img {
    display: none;
  }
  .intro-text {
    margin-top: 5px;
    line-height: 1.2;

    font-size: 7px;
  }
  .shop-now-first {
    border-radius: 4px;
    margin-top: 6px;
    .shop-now-p-first {
      font-size: 10px;
      padding: 10px 25px;
    }
  }
  .extra-logo {
    height: 18px;
    margin-top: 6px;
  }
}
